
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                /* margin: 4.01cm 2.48cm 3.34cm 2.48cm; */
                @top-right{
                    content: "Page " counter(page) " of " counter(pages);
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 14rem !important;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template p#secondary {
                font-size: 18px;
            }
            .default-template p#disclaimer {
                font-size: 16px;
            }
            .default-template p#primary {
                word-spacing: 7pt;
                font-size: 22px;
                text-align: justify;
            }
            table {border: 0;} 
            table tr.top table td.title {
                color: #333;
            }
            .table td, .table th {
                border-top: 0px;
            }
            table tr.heading td {
                color: #333;
            }
            .pg-break {
                page-break-before: always; 
                margin-top: 15rem;
            }
            .pg-start {
                margin-top: 15rem;
            }
            ol#branch-list {
                font-size: 18px;
            }
            .end-report {
                position: absolute;
                bottom: 6.0rem;
                left: 0;
                height: 12rem;
                width: 100%;
            }
            footer#footer {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
                position: fixed;
                bottom: 0;
                left: 0;

                height: 1.5rem;
                width: 100%;
            }
        </style>
    </head>

    <body>
        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        
        <div class="default-template container pg-start">
            <p id="disclaimer" style="font-size:8pt;text-align:justify;">
                <b>
                    ALTHOUGH ALL EFFORTS HAVE BEEN CARRIED OUT TO ENSURE 
                THAT THE INFORMATION PROVIDED IS ACCURATE AND UP TO 
                DATE, THE REGISTRAR OF COMPANIES WILL NOT BE LIABLE 
                FOR ANY LOSSES ARISING FROM ANY INACCURATE OR OMITTED 
                INFORMATION.
                </b>
            </p>
            <h3 class="font-weight-bold text-center">** BUSINESS INFORMATION **</h3>

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.bizInfo.registrationName}}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">REGISTRATION NO.</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.bizInfo.registrationNo}}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">PRINCIPLE PLACE OF BUSINESSS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.bizInfo.address_1 %}
                                {{data.bizInfo.address_1}} <br />
                            {% else %}
                                NIL
                            {% endif %}
                            {% if data.bizInfo.address_2 %}
                                {{data.bizInfo.address_2}} <br />
                            {% endif %}
                            {% if data.bizInfo.address_3 %}
                                {{data.bizInfo.address_3}} <br />
                            {% endif %}
                            {% if data.bizInfo.postcode %}
                                {{data.bizInfo.postcode}}, {{data.bizInfo.town}}  <br />
                            {% endif %}
                            {% if data.bizInfo.state %}
                                {{data.bizInfo.state}}
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">BUSINESS OWNERSHIP</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.bizInfo.bizOwnership %}
                                {{data.bizInfo.bizOwnership}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">BUSINESS START DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.bizInfo.bizStartDate %}
                               {{data.bizInfo.bizStartDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">REGISTRATION DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.bizInfo.regDate %}
                                {{data.bizInfo.regDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">BUSINESS EXPIRY DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.bizInfo.endBusinessDate %}
                                {{data.bizInfo.endBusinessDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">LAST AMMENDMENT DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.bizInfo.ammendmentDate %}
                                {{data.bizInfo.ammendmentDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">STATUS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.bizInfo.status %}
                                {{data.bizInfo.status}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>

                    {% if data.llpInfo.llpName %}
                    <tr style="height:20px;">
                        <td><p id="secondary">LLP NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.llpInfo.llpName %}
                                {{data.llpInfo.llpName}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>

                    <tr style="height:20px;">
                        <td><p id="secondary">REGISTRATION NO.</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.llpInfo.llpNo %}
                                {{data.llpInfo.llpNo}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>

                    <tr style="height:20px;">
                        <td><p id="secondary">CONVERSION DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.llpInfo.llpDate %}
                                {{data.llpInfo.llpDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>

                    {% endif %}
                </table>
            </div>

            <h3 class="font-weight-bold text-center mt-5">** BUSINESS TYPE **</h3>
            <p id="secondary">{{data.bizType.description}}</p>

            <h3 class="font-weight-bold text-center mt-5">** BRANCH INFORMATION **</h3>
            {% if data.branchInfo|length is 0 %}
            <p id="secondary" class="text-center">** NO BRANCH **</p>
            {% endif %}

            {% if data.branchInfo|length is not 0 %}
            <ol id="branch-list">
                {% for branch in data.branchInfo %}
                <li>
                    {% if branch.address1 %}
                        {{branch.address1}}, 
                    {% endif %}
                    {% if branch.address2 %}
                        {{branch.address2}}, 
                    {% endif %}
                    {% if branch.address3 %}
                        {{branch.address3}}, 
                    {% endif %}
                    {% if branch.postcode %}
                        {{branch.postcode}}, 
                    {% endif %}
                    {% if branch.town %}
                        {{branch.town}}, 
                    {% endif %}
                    {% if branch.state %}
                        {{branch.state}}
                    {% endif %}
                </li>
                {% endfor %}
            </ol> 
            {% endif %}
            
            {% for current in data.ownerCurrentInfo %}
            <h3 class="font-weight-bold text-center pg-break">** INFORMATION OF CURRENT OWNER **</h3>
            <table class="table text-left" >
                <tr>
                    <th style="width:30%; border: 0;"></th>
                    <th style="width:1%; border: 0;"></th>
                    <th style="width:69%; border: 0;"></th>
                </tr>
                <tr style="height:8px;">
                    <td><p id="secondary">NAME</p></td>
                    <td><p id="secondary">:</p></td>
                    <td><p id="secondary">{{data.bizInfo.registrationName}}</p></td>
                </tr>
                <tr style="height:8px;">
                    <td><p id="secondary">REGISTRATION NO.:</p></td>
                    <td><p id="secondary">:</p></td>
                    <td><p id="secondary"><b>{{data.bizInfo.compNoNew}} {{data.bizInfo.registrationNo}}</b></p></td>
                </tr>                    
            </table>

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{current.name}}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">RESIDENTIAL ADDRESS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if current.address_1 %}
                                {{current.address_1}} <br />
                            {% else %}
                                NIL
                            {% endif %}
                            {% if current.address_2 %}
                                {{current.address_2}} <br />
                            {% endif %}
                            {% if current.address_3 %}
                                {{current.address_3}} <br />
                            {% endif %}
                            {% if current.postcode %}
                                {{current.postcode}}, {{current.town}}  <br />
                            {% endif %}
                            {% if current.state %}
                                {{current.state}}
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">IC (OLD)</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if current.icNoOld %}
                                {{current.icNoOld}}
                            {% else %}
                                NIL
                            {% endif %}
                            </td>              
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">IC (NEW)</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if current.icNoNew %}
                                {{current.icNoNew}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">DATE OF BIRTH</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if current.birthDate %}
                                {{current.birthDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">RACE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if current.race %}
                                {{current.race}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">GENDER</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if current.gender %}
                                {{current.gender}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NATIONALITY</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if current.nationality %}
                                {{current.nationality}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">DATE OF ENTRY</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if current.entryDate %}
                                {{current.entryDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                </table>
            </div>
            {% endfor %}

            {% if data.OwnerPreviousInfo|length is 0 %}
            <h3 class="font-weight-bold text-center pg-break">** PREVIOUS DIRECTORS/OFFICERS **</h3>
            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.bizInfo.registrationName}}</p></td>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">REGISTRATION NO.:</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.bizInfo.compNoNew}} {{data.bizInfo.registrationNo}}</b></p></td>
                    </tr>                    
                </table>
            </div>
            <h2 class="font-weight-bold text-center" style="margin-top: 160px; font-size: 16pt;">** NO INFORMATION **</h2>
            {% endif %}
            
            {% for previous in data.ownerPreviousInfo %}
            <h3 class="font-weight-bold text-center pg-break">** PREVIOUS DIRECTORS/OFFICERS **</h3>
            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.bizInfo.registrationName}}</p></td>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">REGISTRATION NO.:</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.bizInfo.compNoNew}} {{data.bizInfo.registrationNo}}</b></p></td>
                    </tr>                    
                </table>
            </div>

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{previous.name}}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">RESIDENTIAL ADDRESS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.address_1 %}
                                {{previous.address_1}} <br />
                            {% else %}
                                NIL
                            {% endif %}
                            {% if previous.address_2 %}
                                {{previous.address_2}} <br />
                            {% endif %}
                            {% if previous.address_3 %}
                                {{previous.address_3}} <br />
                            {% endif %}
                            {% if previous.postcode %}
                                {{previous.postcode}}, {% if previous.town %} {{previous.town}}  {% endif %}<br />
                            {% endif %}
                            {% if previous.state %}
                                {{previous.state}}
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">IC (OLD)</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.icNoOld %}
                                {{previous.icNoOld}}
                            {% else %}
                                NIL
                            {% endif %}
                            </td>              
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">IC (NEW)</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.icNoNew %}
                                {{previous.icNoNew}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">DATE OF BIRTH</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.birthDate %}
                                {{previous.birthDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">RACE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.race %}
                                {{previous.race}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">GENDER</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.gender %}
                                {{previous.gender}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NATIONALITY</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.nationality %}
                                {{previous.nationality}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">DATE OF ENTRY</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.entryDate %}
                                {{previous.entryDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>   
                    <tr style="height:20px;">
                        <td><p id="secondary">DATE OF WITHDRAWAL</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.withdrawDate %}
                                {{previous.withdrawDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>   
                    <tr style="height:20px;">
                        <td><p id="secondary">REASON OF WITHDRAWAL</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if previous.ammendmentType %}
                                {{previous.ammendmentType}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>  
                </table>
            </div>
            {% endfor %}

            <div class="end-report">
                <h2 class="font-weight-bold text-center" style="margin-top: 50px; font-size: 12pt;"><u> END OF REPORT</u></h2>
    
                <p style="margin-top:0;margin-bottom:0;font-size:10pt">This information are from the company's document registered as at {{ data.company_info.latestDocUpdateDate}} </p>  
                <p style="margin-top:0;margin-bottom:0;font-size:10pt">Registrar of Companies</p>
                <p style="margin-top:0;margin-bottom:0;font-size:10pt">Dated : {{data.printing_time}}</p>
                <p style="margin-top:0;margin-bottom:10px;font-size:10pt">This information is computer generated. No signature is required.</p>
            </div>
        </div>

        <footer id="footer">
            <div class="row">
                <p class="col text-left">USER ID: @</p>
                <p class="col text-right">PRINTING DATE: {{data.printing_time}}</p>
            </div>
            
            <p class="text-center" style="margin-bottom:10px;font-size:10pt">MENARA SSM@SENTRAL, NO.7, JALAN STESEN SENTRAL 5, KUALA LUMPUR SENTRAL, 50623 KUALA LUMPUR<br>TEL: 03-7721 4000 FAX: 03-7721 4001</p>  
        </footer>
    </body>
</html>

