{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                @top-right{
                    content: "Mukasurat " counter(page) " daripada " counter(pages);
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 14rem !important;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template p#secondary {
                font-size: 16px;
            }
            .default-template p#disclaimer {
                font-size: 8pt;
            }
            .default-template p#primary {
                word-spacing: 7pt;
                font-size: 22px;
                text-align: justify;
            }
            table {border: 0;} 
            table tr.top table td.title {
                color: #333;
            }
            table tr.heading td {
                color: #333;
            }

            .table td, .table th {
                border-top: 0px;
            }
            .pg-break {
                page-break-before: always; 
                margin-top: 15rem;
            }
            .pg-start {
                margin-top: 15rem;
            }
            footer#footer {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
                position: fixed;
                bottom: 0;
                left: 0;

                height: 3.5rem;
                width: 100%;
            }
        </style>
    </head>

    <body>

        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        
        <div class="default-template container pg-start">
            <p id="disclaimer" style="font-size:8pt;text-align:justify;margin-right:100px;margin-left:100px">
                <b>SUNGGUHPUN SEGALA USAHA TELAH DIAMBIL UNTUK MEMASTIKAN MAKLUMAT YANG DIBERI ADALAH BETUL DAN KEMASKINI PENDAFTAR SYARIKAT TIDAK BOLEH DIPERTANGGUNGKAN BAGI SEBARANG KERUGIAN KERANA MAKLUMAT YANG TERSILAP ATAU TERTINGGAL.</b>
            </p>
            <h2 class="font-weight-bold text-center" style="font-size: 12pt;"><u> MAKLUMAT SYARIKAT </u></h2>

            <div class="table-responsive"  style="padding-right:200px; margin-left:100px;">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA LAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.company_info.companyOldName %}
                                {{data.company_info.companyOldName }}
                            {% else %}
                                TIADA
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">TARIKH PERTUKARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.company_info.companyOldName %}
                                {{ data.date_of_change }}
                            {% else %}
                                TIADA
                            {% endif %}
                                                        
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NO. PENDAFTARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">TARIKH PENUBUHAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.incorp_date }}</p></td>
                    </tr>
                    <tr>
                        <td><p id="secondary">JENIS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if 'B' in data.company_info.companyType %}
                                BERHAD MENURUT SAHAM DAN JAMINAN
                            {% endif %}
                            {% if 'G' in data.company_info.companyType %}
                                BERHAD MENURUT JAMINAN
                            {% endif %}
                            {% if 'S' in data.company_info.companyType %}
                                BERHAD MENURUT SYER
                            {% endif %}
                            {% if 'U' in data.company_info.companyType %}
                                TIDAK TERHAD
                            {% endif %}
                            {% if 'R' in data.company_info.companyStatus %}
                            <br>
                                SYARIKAT PERSENDIRIAN
                            {% endif %}
                            {% if 'U' in data.company_info.companyStatus %}
                            <br>
                                SYARIKAT AWAM
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">STATUS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            <p id="secondary">
                            {% if 'B' in data.company_info.statusOfCompany %}
                                DISSOLVED CONVERSION TO LLP
                            {% endif %}
                            {% if 'C' in data.company_info.statusOfCompany %}
                                CEASED BUSINESS
                            {% endif %}
                            {% if 'D' in data.company_info.statusOfCompany %}
                                DISSOLVED
                            {% endif %}
                            {% if 'E' in data.company_info.statusOfCompany %}
                                EXISTING
                            {% endif %}
                            {% if 'R' in data.company_info.statusOfCompany %}
                                REMOVED
                            {% endif %}
                            {% if 'W' in data.company_info.statusOfCompany %}
                                WINDING UP
                            {% endif %}
                            {% if 'X' in data.company_info.statusOfCompany %}
                                NULL AND VOID BY COURT ORDER
                            {% endif %}
                            {% if 'Y' in data.company_info.statusOfCompany %}
                                STRUCK-OFF & WINDING-UP VIA COURT ORDER
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><p id="secondary">ALAMAT DAFTAR</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            <p id="secondary" class="mb-0">{{data.registered_address_info.address1}}</p>
                            {% if data.registered_address_info.address2 or data.registered_address_info.address2 != None %}
                                <p id="secondary" class="my-0">  {{data.registered_address_info.address2}}</p>
                            {% endif %}
                            {% if data.registered_address_info.address3  or data.registered_address_info.address3 != None %}
                                <p id="secondary" class="my-0">  {{data.registered_address_info.address3}}</p>
                            {% endif %}
                            {% if data.registered_address_info.town  or data.registered_address_info.town != None %}
                                <p id="secondary" class="my-0">  {{data.registered_address_info.town}}</p>
                            {% endif %}
                            {% if data.registered_address_info.stateString  or data.registered_address_info.stateString != None %}
                                <p id="secondary" class="mt-0">  {{data.registered_address_info.stateString}}</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">POSKOD</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.business_address_info.postcode %}
                                {{data.business_address_info.postcode}}
                            {% else %}
                                TIADA
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">TEMPAT PENUBUHAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            {% if 'MAL' in data.company_info.companyCountry %}
                                <p id="secondary">MALAYSIA</p> 
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p id="secondary">ALAMAT PERNIAGAAAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            {% if data.business_address_info.address1 or data.business_address_info.address1 != 'NIL' %}
                            <p id="secondary" class="mb-0">  {{data.business_address_info.address1}}</p>
                            {% else %}
                            <p id="secondary" class="mb-0">  TIADA</p>
                            {% endif %}
                            {% if data.business_address_info.address2 or data.business_address_info.address2 != None %}
                            <p id="secondary" class="my-0">  {{data.business_address_info.address2}}</p>
                            {% endif %}
                            {% if data.business_address_info.address3 or data.business_address_info.address3 != None %}
                                <p id="secondary" class="my-0">  {{data.business_address_info.address3}}</p>
                            {% endif %}
                            {% if data.business_address_info.town or data.business_address_info.town != None %}
                            <p id="secondary" class="my-0">  {{data.business_address_info.town}} </p>
                            {% endif %}
                            {% if data.business_address_info.stateString or data.business_address_info.stateString != None %}
                            <p id="secondary" class="mt-0">  {{data.business_address_info.stateString}} </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p id="secondary">POSKOD</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.business_address_info.postcode}}</p></td>
                    </tr>
                    <tr>
                        <td><p id="secondary">JENIS PERNIAGAAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.company_info.businessDescription %}
                                {{data.company_info.businessDescription}}
                            {% else %}
                                TIADA
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            


            <h2 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem; font-size: 12pt;"><u> MAKLUMAT MODAL </u></h2>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NO. PENDAFTARAN:</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                    </tr>                    
                </table>
            </div>             

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:25%; border: 0;"></th>
                        <th style="width:25%; border: 0;"></th>
                        <th style="width:25%; border: 0;"></th> 
                        <th style="width:25%; border: 0;"></th> 
                      </tr>
                    <tbody>
                      

                        <tr style="height:20px;">
                            <td><p id="secondary">JUMLAH DITERBITKAN (RM) {{data.total_issued | floatformat:4 | intcomma}}</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td></td>
                            <td><p id="secondary"><b>TUNAI</b></p></td>
                            <td><p id="secondary"><b>SELAIN DARIPADA TUNAI</b></p></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">BIASA</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_cash | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_noncash | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">PREFEREN</p></td>
                            <td><p id="secondary">{{ data.preference_issue_cash | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.preference_issue_noncash | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">OTHERS</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | intcomma}}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem; font-size: 12pt;"><u> MAKLUMAT PENGARAH DAN PEGAWAI </u></h2>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NO. PENDAFTARAN:</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                    </tr>                    
                </table>
            </div>                  

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:38%; border: 0;"><p id="secondary">NAMA / ALAMAT</p></th>
                        <th style="width:20%; border: 0;"><p id="secondary">IC / PASPOT</p></th>
                        <th style="width:20%; border: 0;"><p id="secondary">JAWATAN</p></th>
                        <th style="width:22%; border: 0;"><p id="secondary">TARIKH LANTIKAN</p></th>
                      </tr>
                    <tbody>
                        {% for officer in data.officer_info %}
                        <tr style="height:20px;">
                            <td><p id="secondary">
                                {{ officer.name }}<br>
                                {{ officer.address1 }}<br>
                                {% if officer.address2 %}{{ officer.address2 }}<br>{% endif %}
                                {% if officer.address3 %}{{ officer.address3 }}<br>{% endif %}
                                {% if officer.postcode %}{{ officer.postcode }} {{ officer.town }}<br>{% endif %}                        
                                {% if officer.state %}{{ officer.state }}{% endif %}
                            </p></td>
                            <td><p id="secondary">{{ officer.idNo }}</p></td>
                            <td><p id="secondary">{{ officer.designationCode }}</p></td>
                            <td><p id="secondary">
                                {% if officer.startDate %}
                                    {{ officer.startDate }}
                                {% else %}
                                    TIADA
                                {% endif %}
                            </p></td>
                        </tr>    
                        {% endfor %}
                    </tbody>
                </table>
            </div>    

            <h2 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem; font-size: 12pt;"><u> MAKLUMAT PEMEGANG SYER </u></h2>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NO. PENDAFTARAN:</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                    </tr>                    
                </table>
            </div>              
            
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:33%; border: 0;"><p id="secondary">IC/PASPOT/NO. PENDAFTARAN</p></th>
                        <th style="width:40%; border: 0;"><p id="secondary">NAMA/NAMA SYARIKAT</p></th>
                        <th style="width:27%; border: 0;"><p id="secondary" class="text-right">JUMLAH SYER</p></th>
                      </tr>
                    <tbody>
                        {% for shareholder in data.shareholders_data %}
                        <tr style="height:20px;">
                            <td><p id="secondary">
                                {% if shareholder.idType != 'C' %}
                                    <p id="secondary">{{ shareholder.id }}</p>
                                {% endif %}
                                {% if shareholder.idType == 'C' %}
                                    <p id="secondary"> {{ shareholder.companyNo }} ({{ shareholder.id }})</p>
                                {% endif %}
                            </p></td>
                            <td><p id="secondary">{{ shareholder.name }}</p></td>
                            <td><p id="secondary" class="text-right">{{ shareholder.share | floatformat:0 | intcomma }}</p></td>
                        </tr>    
                        {% endfor %}
                    </tbody>
                </table>
            </div>    
            
            
            <h2 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem; font-size: 12pt;"><u> MAKLUMAT GADAIAN </u></h2>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NO. PENDAFTARAN:</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                    </tr>                    
                </table>
            </div>                    


            {% if 'No Data' == data.charges_info.errorMsg %}
                <h2 class="font-weight-bold text-center" style="margin-top: 160px; font-size: 16pt;">TIADA MAKLUMAT</h2>
            {% else %}
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:5%; border: 0;"><p id="secondary"></p></th>
                        <th style="width:44%; border: 0;"><p id="secondary"></p></th>
                        <th style="width:1%; border: 0;"><p id="secondary"></p></th>
                        <th style="width:50%; border: 0;"><p id="secondary"></p></th>
                      </tr>
                    <tbody>

                        {% for charge in data.charges_info %}
                        <tr style="height:10px;">
                            <td><p id="secondary">{{ forloop.counter }}</p></td>
                            <td><p id="secondary">NOMBOR GADAIAN</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">{{ charge.chargeNo }}</p></td>
                        </tr>  
                        <tr style="height:10px;">
                            <td><p id="secondary"></p></td>
                            <td><p id="secondary">TOTAL OF CHARGE</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">{{ charge.chargeAmount | floatformat:2 | intcomma }}</p></td>
                        </tr>         
                        <tr style="height:10px;">
                            <td><p id="secondary"></p></td>
                            <td><p id="secondary">DATE OF CREATION</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">{{ charge.chargeCreateDate }}</p></td>
                        </tr>                                                 
                        <tr style="height:10px;">
                            <td><p id="secondary"></p></td>
                            <td><p id="secondary">NAME OF CHARGEE</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">
                                {% if charge.chargeeName %}
                                    {{ charge.chargeeName }}
                                {% endif%}

                                {% if charge.chargeeName == None %}
                                    TIADA
                                {% endif%}
                            </p></td>
                        </tr>    
                        <tr style="height:10px;">
                            <td><p id="secondary"></p></td>
                            <td><p id="secondary">CHARGE STATUS</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">{{ charge.chargeStatus }}</p></td>
                        </tr>                                                     
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
            {% endif %}
            

            <h2 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem; font-size: 12pt;"><u> RINGKASAN PENYATA KEWANGAN </u></h2>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NO. PENDAFTARAN:</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                    </tr>                    
                </table>
            </div>            

            <div class="table-responsive">
                <table class="table text-left borderless" cellspacing="0" cellpadding="0" >
                    <tr>
                        <th style="width:36%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:40%; border: 0;"></th>
                        <th style="width:23%; border: 0;"></th>
                      </tr>
                    <tbody>
                        <tr style="height:8px;">
                            <td></td>
                            <td></td>
                        </tr>                         

                        <tr style="height:8px;">
                            <td><p id="secondary">JURUAUDIT</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">{{data.bs_data.auditor_name}} ({{data.bs_data.auditor_no}})</p></td>    
                        </tr>                        
                        <tr>
                            <td><p id="secondary">ALAMAT JURUAUDIT</td></p>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">
                                {{data.bs_data.auditFirmAddress1}}<br>
                                {% if data.bs_data.auditFirmAddress2 != None %}
                                    {{ data.bs_data.auditFirmAddress2 }} <br>
                                {% endif %}
                                {% if data.bs_data.auditFirmAddress3 != None %}
                                    {{ data.bs_data.auditFirmAddress3 }} <br>
                                {% endif %}
                                {% if data.bs_data.auditFirmPostcode != None %}
                                    {{ data.bs_data.auditFirmPostcode }} <br>
                                {% endif %}
                                {% if data.bs_data.auditFirmTown != None %}
                                    {{ data.bs_data.auditFirmTown }} <br>
                                {% endif %}
                                {% if data.bs_data.auditFirmState != None %}
                                    {{ data.bs_data.auditFirmState }} <br>
                                {% endif %}
                            </p></td>
                        </tr>
                        <tr style="height:8px;">
                            <td><p id="secondary">EXEMPT PRIVATE COMPANY</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">N/A</p></td>
                        </tr>
                        <tr style="height:8px;">
                            <td><p id="secondary">FINANCIAL YEAR END</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">{{data.bs_data.financial_year_end}}</p></td>
                        </tr>
                        <tr style="height:8px;">
                            <td><p id="secondary">UNQUALIFIED REPORTS (Y/N)</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">
                                {% if data.bs_data.financialReportType %}
                                    {{data.bs_data.financialReportType}}
                                {% else %}
                                    N
                                {% endif %}
                            </p></td>
                        </tr>
                        <tr style="height:8px;">
                            <td><p id="secondary">CONSOLIDATED ACCOUNTS (Y/N)</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">
                                {% if data.bs_data.accrualAccType %}
                                    {{data.bs_data.accrualAccType}}
                                {% else %}
                                    N
                                {% endif %}                                
                            </p></td>
                        </tr>
                        <tr style="height:8px;">
                            <td><p id="secondary">DATE OF TABLING</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary">{{data.bs_data.dateOfTabling}}</p></td>
                        </tr>
                            
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>                            
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary"><b>BALANCE SHEET ITEMS</b></p></td>
                            <td></td>
                            <td></td>
                        </tr> 
                        <tr style="height:4px;">
                            <td><p id="secondary">NON-CURRENT ASSETS</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.bs_data.nonCurrAsset | floatformat:2 | intcomma }}</p></td>
                            <td></td>
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">CURRENT ASSETS</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.bs_data.currentAsset | floatformat:2 | intcomma }}</p></td>
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">NON-CURRENT LIABILITIES</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.bs_data.nonCurrentLiability | floatformat:2 | intcomma }}</p></td>
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">CURRENT LIABILITIES</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.bs_data.liability | floatformat:2 | intcomma }}</p></td>
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">SHARE CAPITAL</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.bs_data.paidUpCapital | floatformat:2 | intcomma }}</p></td>
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">RESERVE</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.bs_data.reserves | floatformat:2 | intcomma }}</p></td>
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">RETAIN EARNING</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.bs_data.inappropriateProfit | floatformat:2 | intcomma }}</p></td>
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">MINORITY INTEREST</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.bs_data.minorityInterest | floatformat:2 | intcomma }}</p></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>                            
                        </tr>                        
                        <tr style="height:4px;">
                            <td><p id="secondary"><b>INCOME STATEMENT ITEMS</b></p></td>
                            <td></td>
                            <td></td>
                        </tr> 
                        <tr style="height:4px;">
                            <td><p id="secondary">REVENUE</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.pl_data.revenue| floatformat:2 | intcomma }}</p></td>                         
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">PROFIT / (LOSS) BEFORE TAX</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.pl_data.profitBeforeTax| floatformat:2 | intcomma }}</p></td>                       
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">PROFIT / (LOSS) AFTER TAX</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.pl_data.profitAfterTax| floatformat:2 | intcomma }}</p></td>                       
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">NET DIVIDEND</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.pl_data.netDividend| floatformat:2 | intcomma }}</p></td>                 
                        </tr>
                        <tr style="height:4px;">
                            <td><p id="secondary">MINORITY INTEREST</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="text-right">{{data.pl_data.minorityInterest| floatformat:2 | intcomma }}</p></td>
                        </tr>
              
                    </tbody>
                </table>
            </div>                

            <h2 class="font-weight-bold text-center" style="margin-top: 50px; font-size: 12pt;"><u> TAMAT LAPORAN </u></h2>      

            <p style="margin-top:0;margin-bottom:0;font-size:10pt">Maklumat ini adalah ekstrak daripada dokumen syarikat yang didaftarkan sehingga {{ data.company_info.latestDocUpdateDate}} </p>  
            <p style="margin-top:0;margin-bottom:0;font-size:10pt">Pendaftar Syarikat</p>
            <p style="margin-top:0;margin-bottom:0;font-size:10pt">Tarikh : {{data.printing_time}}</p>
            <p style="margin-top:0;margin-bottom:10px;font-size:10pt">Maklumat ini adalah cetakan komputer. Tandangan tidak diperlukan.</p>
        </div>

        <footer id="footer">
            <div class="row">
                <p class="col text-left">USER ID: @</p>
                <p class="col text-right">PRINTING DATE: {{data.printing_time}}</p>
            </div>
            
            <p class="text-center" style="margin-bottom:10px;font-size:10pt">MENARA SSM@SENTRAL, NO.7, JALAN STESEN SENTRAL 5, KUALA LUMPUR SENTRAL, 50623 KUALA LUMPUR<br>TEL: 03-7721 4000 FAX: 03-7721 4001</p>  
        </footer>
    </body>
</html>
