<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                margin: 27mm 10mm 27mm 10mm;
                @top-right{
                    content: "Page " counter(page) " of " counter(pages);
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 14rem !important;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            table tr.top table td.title {
                color: #333;
            }
            table tr.heading td {
                color: #333;
            }
        </style>
    </head>

    <body>
        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        

        <div class="default-template container" style="margin-top: 15rem;">
            <p>Although all efforts has been carried out to ensure that the information provided is 
                accurate and up to date, the Registrat of Companies will not be liable for any losses 
                arising from any inaccurate or omitted information.</p>
            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** CORPORATE INFORMATION **</h3>

                <div class="table-responsive">
                    <table class="table text-left borderless">
        
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{ data.corpInfo.compName }} </td>                            
                            </tr>
                            <tr>
                                <td>Last Old Name:</td>
                                <td>{{data.corpInfo.compOldName }}</td>                            
                            </tr> 
                            <tr>       
                                <td>Date Of Change:</td>
                                <td>{{data.corpInfo.changeDate }}</td>                            
                            </tr>         
                            <tr>       
                                <td>Registration No.:</td>
                                <td>{{data.corpInfo.compNoNew }}{{data.corpInfo.compNoOld }}</td>                            
                            </tr>         
                            <tr>       
                                <td>Incorporation Date:</td>
                                <td>{{data.corpInfo.incorpDate }}</td>                            
                            </tr>   
                                <td>Registration Date:</td>
                                <td>{{data.corpInfo.compNoNew }}</td>                            
                            </tr>       
                            <tr>       
                                <td>Type:</td>
                                <td>{{data.corpInfo.companyType }}</td>                            
                            </tr>     
                            <tr>       
                                <td>Status:</td>
                                <td>{{data.corpInfo.companyStatus }}</td>                            
                            </tr>  
                            <tr>       
                                <td>Registered Address:</td>
                                <td>{{data.corpInfo.reg_address1 }}
                                    {{data.corpInfo.reg_address2 }}
                                    {{data.corpInfo.reg_address3 }}
                                    {{data.corpInfo.reg_town }}
                                    {{data.corpInfo.reg_state }}
                                </td>                            
                            </tr> 
                            <tr>       
                                <td>Postcode:</td>
                                <td>{{data.corpInfo.reg_postcode }}</td>                            
                            </tr> 
                                <td>Origin:</td>
                                <td>{{data.corpInfo.reg_origin }}</td>                            
                            </tr> 
                                <td>Business Address:</td>
                                <td>{{data.corpInfo.biz_address1 }}
                                    {{data.corpInfo.biz_address2 }}
                                    {{data.corpInfo.biz_address3 }}
                                    {{data.corpInfo.biz_town }}
                                    {{data.corpInfo.biz_state }}</td>

                             <tr>       
                                 <td>Postcode:</td>
                                 <td>{{data.corpInfo.biz_postcode }}</td>
                                                              
                            </tr> 
                            <tr>       
                                <td>Nature Of Business:</td>
                                <td>{{data.corpInfo.biz_nature }}</td>                            
                            </tr> 
                        </tbody>
                    </table>
                </div>
            



           

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** KEY FINANCIAL INFORMATION **</h3>
            <p>Name: {{ data.corpInfo.compName }}</p>
            <p>Registration No.: {{data.corpInfo.compNoNew }}{{data.corpInfo.compNoOld }}</p>
            <p>Auditor: {{ data.balance_sheet.auditor_name }} </p>
            <p>Auditor Address: {{ data.balance_sheet.auditor_address1 }}{{ data.balance_sheet.auditor_address2 }}
                {{ data.balance_sheet.auditor_address3 }}{{ data.balance_sheet.auditor_postcode }}
                {{ data.balance_sheet.auditor_town }}{{ data.balance_sheet.auditor_state }}</p>
            <p>Exempt Private Company (Y/N): {{ data.balance_sheet.auditor_name }}
                                           
                                            
            </p>
            <div class="table-responsive">
                <table class="table text-left borderless">
    
                    <tbody>
                        <tr>
                        <tr>
                            <td>Financial Year End:</td>
                            <td>{{ data.balance_sheet.financial_year_end }}[2]</td>
                            <td>{{ data.balance_sheet.financial_year_end }}[1]</td>
                            <td>{{ data.balance_sheet.financial_year_end }}[0]</td>
                        </tr>
                            <td>Unqualified Reports (Y/N):</td>
                            <td>{{ data.balance_sheet.financialReportType }}[2]</td>
                            <td>{{ data.balance_sheet.financialReportType }}[1]</td>
                            <td>{{ data.balance_sheet.financialReportType }}[0]</td>
                        </tr>
                            <td>Consolidated Accounts (Y/N):</td>
                            <td>{{ data.balance_sheet.accrualAccType }}[2][</td>
                            <td>{{ data.balance_sheet.accrualAccType }}[1][</td>
                            <td>{{ data.balance_sheet.accrualAccType }}[0][</td>
                        </tr>
                            <td>Date of Tabling:</td>
                            <td>{{ data.balance_sheet.dateOfTabling }}[2]</td>
                            <td>{{ data.balance_sheet.dateOfTabling }}[1]</td>
                            <td>{{ data.balance_sheet.dateOfTabling }}[0]</td>
                        </tr>
                            

                        <tr>
                            <td>BALANCE SHEET ITEMS</td>
                            <td></td>
                            <td></td>
                        </tr> 
                        <tr>
                            <td>Non Current Asset:</td>
                            <td>{{ data.balance_sheet.nonCurrAsset }}[2]</td>
                            <td>{{ data.balance_sheet.nonCurrAsset }}[1]</td>
                            <td>{{ data.balance_sheet.nonCurrAsset }}[0]</td>
                        </tr>
                            <td>Current Asset:</td>
                            <td>{{ data.balance_sheet.currentAsset }}[2]</td>
                            <td>{{ data.balance_sheet.currentAsset }}[1]</td>
                            <td>{{ data.balance_sheet.currentAsset }}[0]</td>
                        </tr>
                            <td>Non Current Liabilities:</td>
                            <td>{{ data.balance_sheet.nonCurrentLiability }}[2]</td>
                            <td>{{ data.balance_sheet.nonCurrentLiability }}[1]</td>
                            <td>{{ data.balance_sheet.nonCurrentLiability }}[0]</td>
                    </tr>
                            <td>Current Liabilities:</td>
                            <td>{{ data.balance_sheet.liability }}[2]</td>
                            <td>{{ data.balance_sheet.liability }}[1]</td>
                            <td>{{ data.balance_sheet.liability }}[0]</td>
                    </tr>
                            <td>Share Capital:</td>
                            <td>{{ data.balance_sheet.paidUpCapital }}[2]</td>
                            <td>{{ data.balance_sheet.paidUpCapital }}[1]</td>
                            <td>{{ data.balance_sheet.paidUpCapital }}[0]</td>
                    </tr>
                            <td>Reserves:</td>
                            <td>{{ data.balance_sheet.reserves }}[2]</td>
                            <td>{{ data.balance_sheet.reserves }}[1]</td>
                            <td>{{ data.balance_sheet.reserves }}[0]</td>
                    </tr>
                            <td>Retained Earning:</td>
                            <td>{{ data.profit_loss.inappropriateProfitCf }}[2]</td>
                            <td>{{ data.profit_loss.inappropriateProfitCf }}[1]</td>
                            <td>{{ data.profit_loss.inappropriateProfitCf }}[0]</td>
                    </tr>
                            <td>Minority Interests:</td>
                            <td>{{ data.profit_loss.minorityInterest }}[2]</td>
                            <td>{{ data.profit_loss.minorityInterest }}[1]</td>
                            <td>{{ data.profit_loss.minorityInterest }}[0]</td>
                    </tr>
                    </tr>

                    <td>INCOME STATEMENT ITEMS</td>
                            <td></td>
                            <td></td>
                        </tr> 
                        <tr>
                            <td>Revenue:</td>
                            <td>{{ data.profit_loss.revenue }}[2]</td>
                            <td>{{ data.profit_loss.revenue }}[1]</td>
                            <td>{{ data.profit_loss.revenue }}[0]</td>
                        </tr>
                            <td>Profit/(Loss) before tax:</td>
                            <td>{{ data.profit_loss.profitBeforeTax }}[2]</td>
                            <td>{{ data.profit_loss.profitBeforeTax }}[1]</td>
                            <td>{{ data.profit_loss.profitBeforeTax }}[0]</td>
                        </tr>
                            <td>Profit/(Loss) after tax:</td>
                            <td>{{ data.profit_loss.profitAfterTax }}[2]</td>
                            <td>{{ data.profit_loss.profitAfterTax }}[1]</td>
                            <td>{{ data.profit_loss.profitAfterTax }}[0]</td>
                        </tr>
                            <td>Net dividend:</td>
                            <td>{{ data.profit_loss.netDividend }}[2]</td>
                            <td>{{ data.profit_loss.netDividend }}[1]</td>
                            <td>{{ data.profit_loss.netDividend }}[0]</td>
                        </tr>
                            <td>Minority Interests:</td>
                            <td>{{ data.profit_loss.minorityInterest }}[2]</td>
                            <td>{{ data.profit_loss.minorityInterest }}[1]</td>
                            <td>{{ data.profit_loss.minorityInterest }}[0]</td>
                        </tr>
              
        

        </div>
    </body>

    <footer>
        <p></p>
    </footer>
</html>

