{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                /* margin: 4.01cm 2.48cm 3.34cm 2.48cm; */
                @top-right{
                    content: "Mukasurat " counter(page) " daripada " counter(pages);
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 14rem !important;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template p#secondary {
                font-size: 16px;
            }
            .default-template p#disclaimer {
                font-size: 8pt;
            }
            .default-template p#primary {
                word-spacing: 7pt;
                font-size: 22px;
                text-align: justify;
            }
            table {border: 0;} 
            table tr.top table td.title {
                color: #333;
            }
            table tr.heading td {
                color: #333;
            }
            .table td, .table th {
                border-top: 0px;
            }
            .pg-break {
                page-break-before: always; 
                margin-top: 15rem;
            }
            .pg-start {
                margin-top: 15rem;
            }
            footer#footer {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
                position: fixed;
                bottom: 0;
                left: 0;

                height: 2.5rem;
                width: 100%;
            }
        </style>
    </head>

    <body>
        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        
        <div class="default-template container pg-start">
            <p id="disclaimer" style="font-size:8pt;text-align:justify;">
                <b>
                    SUNGGUHPUN SEGALA USAHA TELAH DIAMBIL 
                    UNTUK MEMASTIKAN MAKLUMAT YANG DIBERI 
                    ADALAH BETUL DAN KEMASKINI PENDAFTAR 
                    SYARIKAT TIDAK BOLEH DIPERTANGGUNGKAN 
                    BAGI SEBARANG KERUGIAN KERANA MAKLUMAT 
                    YANG TERSILAP ATAU TERTINGGAL.
                </b>
            </p>

            <h2 class="font-weight-bold text-center">BUTIR-BUTIR MODAL</h2>
            <h3 class="font-weight-bold text-center"><u> MAKLUMAT SYARIKAT </u></h3>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA LAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.company_info.companyOldName %}
                            {{data.company_info.companyOldName }}
                            {% else %}
                            NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">TARIKH PERTUKARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.company_info.date_of_change %}
                            {{data.company_info.date_of_change }}
                            {% else %}
                            NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NO. PENDAFTARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.company_info.compNoNew}} ({{data.company_info.companyNo}}-{{data.company_info.checkDigit}})</b></p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">TARIKH PENUBUHAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.incorp_date }}</p></td>
                    </tr>
                    <tr>
                        <td><p id="secondary">JENIS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            <p id="secondary">
                                {% if 'B' in data.company_info.companyType %}
                                BERHAD MENURUT SAHAM DAN JAMINAN
                                {% endif %}
                                {% if 'G' in data.company_info.companyType %}
                                    BERHAD MENURUT JAMINAN
                                {% endif %}
                                {% if 'S' in data.company_info.companyType %}
                                    BERHAD MENURUT SYER
                                {% endif %}
                                {% if 'U' in data.company_info.companyType %}
                                    TIDAK TERHAD
                                {% endif %}
                                {% if 'R' in data.company_info.companyStatus %}
                                <br>
                                    SYARIKAT PERSENDIRIAN
                                {% endif %}
                                {% if 'U' in data.company_info.companyStatus %}
                                <br>
                                    SYARIKAT AWAM
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">STATUS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            <p id="secondary">
                                {% if 'B' in data.company_info.statusOfCompany %}
                                    DISSOLVED CONVERSION TO LLP
                                {% endif %}
                                {% if 'C' in data.company_info.statusOfCompany %}
                                    CEASED BUSINESS
                                {% endif %}
                                {% if 'D' in data.company_info.statusOfCompany %}
                                    DISSOLVED
                                {% endif %}
                                {% if 'E' in data.company_info.statusOfCompany %}
                                    EXISTING
                                {% endif %}
                                {% if 'R' in data.company_info.statusOfCompany %}
                                    REMOVED
                                {% endif %}
                                {% if 'W' in data.company_info.statusOfCompany %}
                                    WINDING UP
                                {% endif %}
                                {% if 'X' in data.company_info.statusOfCompany %}
                                    NULL AND VOID BY COURT ORDER
                                {% endif %}
                                {% if 'Y' in data.company_info.statusOfCompany %}
                                    STRUCK-OFF & WINDING-UP VIA COURT ORDER
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><p id="secondary">ALAMAT DAFTAR</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.registered_address_info.address1 %}
                                {{data.registered_address_info.address1}} <br />
                            {% else %}
                                TIADA
                            {% endif %}
                            {% if data.registered_address_info.address2 %}
                                {{data.registered_address_info.address2}} <br />
                            {% endif %}
                            {% if data.registered_address_info.address3 %}
                                {{data.registered_address_info.address3}} <br />
                            {% endif %}
                                {{data.registered_address_info.town}} <br />
                            {% if data.registered_address_info.state %}
                                {{data.registered_address_info.state}} <br /> 
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">POSKOD</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.registered_address_info.postcode}}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">TEMPAT PENUBUHAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            {% if 'MAL' in data.company_info.companyCountry %}
                                <p id="secondary">MALAYSIA</p> 
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p id="secondary">ALAMAT PERNIAGAAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.business_address_info.address1 %}
                                {{data.business_address_info.address1}} <br />
                            {% else %}
                                TIADA
                            {% endif %}
                            {% if data.business_address_info.address2 %}
                                {{data.business_address_info.address2}} <br />
                            {% endif %}
                            {% if data.business_address_info.address3 %}
                                {{data.business_address_info.address3}} <br />
                            {% endif %}
                                {{data.business_address_info.town}}  <br />
                            {% if data.business_address_info.state %}
                                {{data.business_address_info.state}} <br />
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr>
                        <td><p id="secondary">POSKOD</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.business_address_info.postcode %}
                                {{data.business_address_info.postcode}}
                            {% else %}
                                TIADA
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr>
                        <td><p id="secondary">JENIS PERNIAGAAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.company_info.businessDescription %}
                                {{data.company_info.businessDescription}}
                            {% else %}
                                TIADA
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem; font-size: 12pt;"><u> MAKLUMAT MODAL </u></h3>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NO. PENDAFTARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.company_info.compNoNew}} ({{data.company_info.companyNo}}-{{data.company_info.checkDigit}})</b></p></td>
                    </tr>                    
                </table>
            </div>            

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:25%; border: 0;"></th>
                        <th style="width:25%; border: 0;"></th>
                        <th style="width:25%; border: 0;"></th> 
                        <th style="width:25%; border: 0;"></th> 
                      </tr>
                    <tbody>
                      

                        <tr style="height:20px;">
                            <td><p id="secondary">JUMLAH DITERBITKAN (RM) {{data.total_issued | floatformat:2 | intcomma}}</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td></td>
                            <td><p id="secondary"><b>TUNAI</b></p></td>
                            <td><p id="secondary"><b>SELAIN DARI TUNAI</b></p></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">BIASA</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">PREFEREN</p></td>
                            <td><p id="secondary">{{ data.preference_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.preference_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">LAIN-LAIN</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>                                                                                                                       
                      

              
                    </tbody>
                </table>
            </div>


            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem; font-size: 12pt;"><u>  MAKLUMAT SYER </u></h3>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NO. PENDAFTARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.company_info.compNoNew}} ({{data.company_info.companyNo}}-{{data.company_info.checkDigit}})</b></p></td>
                    </tr>                    
                </table>
            </div>            

            <h4>TARIKH PENGUMPUKKAN: 04-07-2018</h4>
            <p id="secondary">(A)      PENGUMPUKKAN SYER</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:20%; border: 0;"></th>
                        <th style="width:20%; border: 0;"></th>
                        <th style="width:20%; border: 0;"></th> 
                        <th style="width:20%; border: 0;"></th> 
                        <th style="width:20%; border: 0;"></th> 
                      </tr>
                    <tbody>
                        <tr style="height:20px;">
                            <td><p id="secondary">JUMLAH (RM) {{data.total_issued | floatformat:2 | intcomma}}</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td></td>
                            <td><p id="secondary"><b>TUNAI</b></p></td>
                            <td><p id="secondary"><b>SELAIN TUNAI</b></p></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">BIASA</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">PREFEREN</p></td>
                            <td><p id="secondary">{{ data.preference_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.preference_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">LAIN-LAIN</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">JUMLAH</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>   
            
            <p id="secondary">(B)      BUTIR-BUTIR PENERIMA UMPUKKAN</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:20%; border: 0;"></th>
                        <th style="width:20%; border: 0;"></th>
                        <th style="width:20%; border: 0;"></th> 
                        <th style="width:20%; border: 0;"></th> 
                      </tr>
                    <tbody>
                      

                        <tr style="height:20px;">
                            <td><p id="secondary">JUMLAH (RM) {{data.total_issued | floatformat:2 | intcomma}}</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td></td>
                            <td><p id="secondary"><b>TUNAI</b></p></td>
                            <td><p id="secondary"><b>SELAIN TUNAI</b></p></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">BIASA</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">PREFEREN</p></td>
                            <td><p id="secondary">{{ data.preference_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.preference_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">LAIN-LAIN</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>                             
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">JUMLAH</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>                           
                    </tbody>
                </table>
            </div>   

            <h3 class="font-weight-bold text-center" style="margin-top: 50px; font-size: 12pt;"><u> TAMAT LAPORAN </u></h3>      

            <p style="margin-top:0;margin-bottom:0;font-size:10pt">Maklumat ini adalah ekstrak daripada dokumen syarikat yang didaftarkan sehingga {{ data.company_info.latestDocUpdateDate}} </p>  
            <p style="margin-top:0;margin-bottom:0;font-size:10pt">Pendaftar Syarikat</p>
            <p style="margin-top:0;margin-bottom:0;font-size:10pt">Tarikh : {{data.printing_time}}</p>
            <p style="margin-top:0;margin-bottom:10px;font-size:10pt">Maklumat ini adalah cetakan komputer. Tandatangan tidak diperlukan.</p>       
        </div>

        <footer id="footer">
            <div class="row">
                <p class="col text-left">USER ID: @</p>
                <p class="col text-right">PRINTING DATE: {{data.printing_time}}</p>
            </div>
            
            <p class="text-center" style="margin-bottom:10px;font-size:10pt">MENARA SSM@SENTRAL, NO.7, JALAN STESEN SENTRAL 5, KUALA LUMPUR SENTRAL, 50623 KUALA LUMPUR<br>TEL: 03-7721 4000 FAX: 03-7721 4001</p>  
        </footer>
    </body>
</html>

