{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                /* margin: 4.01cm 2.48cm 3.34cm 2.48cm; */
                @top-right{
                    content: "Page " counter(page) " of " counter(pages);
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 14rem !important;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template p#secondary {
                font-size: 18px;
            }
            .default-template p#disclaimer {
                font-size: 16px;
            }
            .default-template p#primary {
                word-spacing: 7pt;
                font-size: 22px;
                text-align: justify;
            }
            table tr.top table td.title {
                color: #333;
            }
            table tr.heading td {
                color: #333;
            }
            .pg-break {
                page-break-before: always; 
                margin-top: 15rem;
            }
            .pg-start {
                margin-top: 15rem;
            }
        </style>
    </head>

    <body>
        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        
        <div class="default-template container pg-start">
            <p id="disclaimer">
                SUNGGUHPUN SEGALA USAHA TELAH DIAMBIL UNTUK MEMASTIKAN 
                MAKLUMAT YANG DIBERI ADALAH BETUL DAN KEMASKINI PENDAFTAR 
                PERNIAGAAN TIDAK BOLEH DIPERTANGGUNGKAN BAGI SEBARANG 
                KERUGIAN KERANA MAKLUMAT YANG TERSILAP ATAU TERTINGGAL.
            </p>
            <h3 class="font-weight-bold text-center">PROFIL FIRMA JURUAUDIT</h2>
            <h3 class="font-weight-bold text-center">*** BUTIR-BUTIR FIRMA JURUAUDIT ***</h3>

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tbody>
                        <tr>
                            <td>
                                <p id="secondary">Nama Firma Juruaudit</p>
                            </td>
                            <td>
                                <p id="secondary">: {{data.bizInfo.registrationName}}</p>
                            </td>                            
                        </tr>
                        <tr>
                            <td>
                                <p id="secondary">Nombor Firma Juruaudit</p>
                            </td>
                            <td>
                                <p id="secondary">: {{data.corpInfo.compOldName}}</p>
                            </td>                            
                        </tr> 
                        <tr>       
                            <td>
                                <p id="secondary">Tarikh Permulaan Perniagaan</p>
                            </td>
                            <td>
                                <p id="secondary">: {{data.corpInfo.changeDate}}</p>
                            </td>                            
                        </tr>         
                        <tr>
                            <td>
                                <p id="secondary">Tarikh Pendaftaran.</p>
                            </td>
                            <td>
                                <p id="secondary">: {{data.bizInfo.registrationNo}}</p>
                            </td>                            
                        </tr> 
                        <tr>       
                            <td>
                                <p id="secondary">Alamat Utama</p>
                            </td>
                            <td>
                                {% if data.corpInfo.reg_address1 %}
                                <p id="secondary" class="mb-0">: {{data.corpInfo.reg_address1}} </p>
                                {% else %}
                                <p id="secondary">: NIL</p>
                                {% endif %}
                                {% if data.corpInfo.reg_address2 %}
                                <p id="secondary" class="my-0">: {{data.corpInfo.reg_address2}} </p>
                                {% endif %}
                                {% if data.corpInfo.reg_address3 %}
                                <p id="secondary" class="my-0">: {{data.corpInfo.reg_address3}} </p>
                                {% endif %}
                                {% if data.corpInfo.reg_town %}
                                <p id="secondary" class="my-0">: {{data.corpInfo.reg_town}} </p>
                                {% endif %}
                                {% if data.corpInfo.reg_state %}
                                <p id="secondary" class="my-0">: {{data.corpInfo.reg_state}} </p>
                                {% endif %}
                            </td>                            
                        </tr> 
                        <tr>       
                            <td>
                                <p id="secondary">Poskod</p>
                            </td>
                            <td>
                                {% if data.corpInfo.reg_postcode %}
                                <p id="secondary">: {{data.corpInfo.reg_postcode}} </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr> 
                            <td>
                                <p id="secondary">Nombor Telefon Pejabat</p>
                            </td>
                            <td>
                                {% if data.corpInfo.reg_origin %}
                                <p id="secondary">: {{data.corpInfo.reg_origin}} </p>
                                {% endif %}
                            </td>
                        </tr> 
                        <tr> 
                            <td>
                                <p id="secondary">Nombor Fax</p>
                            </td>
                            <td>
                                {% if data.corpInfo.reg_origin %}
                                <p id="secondary">: {{data.corpInfo.reg_origin}} </p>
                                {% endif %}
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </header>
        
        <div class="default-template container pg-start">
            <p id="disclaimer">
                SUNGGUHPUN SEGALA USAHA TELAH DIAMBIL UNTUK MEMASTIKAN 
                MAKLUMAT YANG DIBERI ADALAH BETUL DAN KEMASKINI PENDAFTAR 
                PERNIAGAAN TIDAK BOLEH DIPERTANGGUNGKAN BAGI SEBARANG 
                KERUGIAN KERANA MAKLUMAT YANG TERSILAP ATAU TERTINGGAL.
            </p>
            
            <h3 class="font-weight-bold text-center pg-break">*** BUTIR-BUTIR CAWANGAN ****</h3>
            <p id="secondary">Nama Firma Juruaudit: {{data.bizInfo.registrationName}}</p>
            <p id="secondary">Nombor Firma Juruaudit.: {{data.bizInfo.compNoNew}} {{data.bizInfo.registrationNo}}</p>

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tbody>
                        <tr>       
                            <td>
                                <p id="secondary">No.</p></td>
                            <td>
                                <p id="secondary">: {{current.race}}</p></td>  
                            <td>
                                <p id="secondary">Alamat Cawangan</p></td>
                            <td>
                                <p id="secondary">: {{current.race}}</p></td> 
                            <td>
                                <p id="secondary">Nombor Telefon</p></td>
                            <td>
                                <p id="secondary">: {{current.race}}</p>   
                            </td>                            
                        </tr>     
                    </tbody>
                </table>
            </div>
            {% endfor %}

            {% for previous in data.ownerPreviousInfo %}
        </header>
        
        <div class="default-template container pg-start">
            <p id="disclaimer">
                SUNGGUHPUN SEGALA USAHA TELAH DIAMBIL UNTUK MEMASTIKAN 
                MAKLUMAT YANG DIBERI ADALAH BETUL DAN KEMASKINI PENDAFTAR 
                PERNIAGAAN TIDAK BOLEH DIPERTANGGUNGKAN BAGI SEBARANG 
                KERUGIAN KERANA MAKLUMAT YANG TERSILAP ATAU TERTINGGAL.
            </p>
            <h3 class="font-weight-bold text-center pg-break">*** BUTIR-BUTIR JURUAUDIT TERKINI ****</h3>
            <p id="secondary">Nama Firma Juruaudit: {{data.bizInfo.registrationName}}</p>
            <p id="secondary">Firm Number.: {{data.bizInfo.compNoNew}} {{data.bizInfo.registrationNo}}</p>

            <div class="table-responsive">
                <table class="table text-left borderless"> 
                    <thead>
                        <tr>       
                            <td>
                                <p id="secondary">No.</p></td>
                            <td>
                                <p id="secondary">: {{current.race}}</p></td>  
                            <td>
                                <p id="secondary">No lesen</p></td>
                            <td>
                                <p id="secondary">: {{current.race}}</p></td> 
                            <td>
                                <p id="secondary">Nama Juruaudit</p></td>
                            <td>
                                <p id="secondary">: {{current.race}}</p></td>
                            <td>
                                <p id="secondary">IC/Pasport No.</p></td>
                            <td>
                                <p id="secondary">: {{current.race}}</p></td>  
                            <td>
                                <p id="secondary">Tarikh Masuk</p></td>
                            <td>
                                <p id="secondary">: {{current.race}}</p></td> 
                            <td>
                                <p id="secondary">Alamat Kediaman</p>
                            <td>
                                {% if data.corpInfo.reg_address1 %}
                            <p id="secondary" class="mb-0">: {{data.corpInfo.reg_address1}} </p>
                                {% else %}
                            <p id="secondary">: NIL</p>
                                {% endif %}
                                {% if data.corpInfo.reg_address2 %}
                            <p id="secondary" class="my-0">: {{data.corpInfo.reg_address2}} </p>
                                {% endif %}
                                {% if data.corpInfo.reg_address3 %}
                            <p id="secondary" class="my-0">: {{data.corpInfo.reg_address3}} </p>
                                {% endif %}
                                {% if data.corpInfo.reg_town %}
                            <p id="secondary" class="my-0">: {{data.corpInfo.reg_town}} </p>
                                {% endif %}
                                {% if data.corpInfo.reg_state %}
                            <p id="secondary" class="my-0">: {{data.corpInfo.reg_state}} </p>
                                {% endif %}
                            </td>                               
                        </tr>
            {% endfor %}
        </div>
    </body>
</header>
        
<div class="default-template container pg-start">
    <p id="disclaimer">
        SUNGGUHPUN SEGALA USAHA TELAH DIAMBIL UNTUK MEMASTIKAN 
                MAKLUMAT YANG DIBERI ADALAH BETUL DAN KEMASKINI PENDAFTAR 
                PERNIAGAAN TIDAK BOLEH DIPERTANGGUNGKAN BAGI SEBARANG 
                KERUGIAN KERANA MAKLUMAT YANG TERSILAP ATAU TERTINGGAL.
    </p>
    <h3 class="font-weight-bold text-center pg-break">*** BUTIR-BUTIR JURUAUDIT TERDAHULU ****</h3>
    <p id="secondary">Nama Firma Juruaudit: {{data.bizInfo.registrationName}}</p>
    <p id="secondary">Nombor Firma Juruaudit.: {{data.bizInfo.compNoNew}} {{data.bizInfo.registrationNo}}</p>

    <div class="table-responsive">
        <table class="table text-left borderless"> 
            <thead>
                <tr>       
                    <td>
                        <p id="secondary">No.</p></td>
                    <td>
                        <p id="secondary">: {{current.race}}</p></td>  
                    <td>
                        <p id="secondary">No Lesen</p></td>
                    <td>
                        <p id="secondary">: {{current.race}}</p></td> 
                    <td>
                        <p id="secondary">Nama Juruaudit</p></td>
                    <td>
                        <p id="secondary">: {{current.race}}</p></td>
                    <td>
                        <p id="secondary">IC/Pasport No.</p></td>
                    <td>
                        <p id="secondary">: {{current.race}}</p></td>  
                    <td>
                        <p id="secondary">Tarikh Masuk</p></td>
                    <td>
                        <p id="secondary">: {{current.race}}</p></td> 
                    <td>
                        <p id="secondary">Tarikh Keluar</p></td>
                    <td>
                        <p id="secondary">: {{current.race}}</p></td> 
                    <td>
                        <p id="secondary">Alamat Kediaman</p>
                    <td>
                        {% if data.corpInfo.reg_address1 %}
                        <p id="secondary" class="mb-0">: {{data.corpInfo.reg_address1}} </p>
                            {% else %}
                        <p id="secondary">: NIL</p>
                            {% endif %}
                            {% if data.corpInfo.reg_address2 %}
                        <p id="secondary" class="my-0">: {{data.corpInfo.reg_address2}} </p>
                            {% endif %}
                            {% if data.corpInfo.reg_address3 %}
                        <p id="secondary" class="my-0">: {{data.corpInfo.reg_address3}} </p>
                            {% endif %}
                            {% if data.corpInfo.reg_town %}
                        <p id="secondary" class="my-0">: {{data.corpInfo.reg_town}} </p>
                            {% endif %}
                            {% if data.corpInfo.reg_state %}
                        <p id="secondary" class="my-0">: {{data.corpInfo.reg_state}} </p>
                            {% endif %}   
                    </td>                          
                </tr>
    {% endfor %}

    <footer>
        <p></p>
    </footer>
</html>

