{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                margin: 4.01cm 2.48cm 3.34cm 2.48cm;
                @top-right{
                    content: "Page " counter(page) " of " counter(pages);
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 14rem !important;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template p#secondary {
                font-size: 18px;
            }
            .default-template p#disclaimer {
                font-size: 16px;
            }
            .default-template p#primary {
                word-spacing: 7pt;
                font-size: 22px;
                text-align: justify;
            }
            table {border: 0;} 
            table tr.top table td.title {
                color: #333;
            }
            table tr.heading td {
                color: #333;
            }
            .table td, .table th {
                border-top: 0px;
            }
            .pg-break {
                page-break-before: always; 
                margin-top: 15rem;
            }
            .pg-start {
                margin-top: 15rem;
            }
            footer#footer {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
                position: fixed;
                bottom: 0;
                left: 0;

                height: 2.5rem;
                width: 100%;
            }
        </style>
    </head>

    <body>
        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        
        <div class="default-template container pg-start">
            <p id="disclaimer">
                ALTHOUGH ALL EFFORTS HAVE BEEN CARRIED OUT TO ENSURE 
                THAT THE INFORMATION PROVIDED IS ACCURATE AND UP TO 
                DATE, THE REGISTRAR OF COMPANIES WILL NOT BE LIABLE 
                FOR ANY LOSSES ARISING FROM ANY INACCURATE OR OMITTED 
                INFORMATION.
            </p>

            <h2 class="font-weight-bold text-center" style="font-size: 16pt;"><u> PARTICULARS OF SHARE CAPITAL  </u></h2>
            <h2 class="font-weight-bold text-center" style="font-size: 12pt;"><u> CORPORATE INFORMATION </u></h2>

            <div class="table-responsive"  style="padding-right:200px; margin-left:100px;">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">LAST OLD NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.company_info.companyOldName %}
                            {{data.company_info.companyOldName }}
                            {% else %}
                            NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">DATE OF CHANGE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.company_info.date_of_change %}
                            {{data.company_info.date_of_change }}
                            {% else %}
                            NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">REGISTRATION NO.</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.company_info.compNoNew}} ({{data.company_info.companyNo}}-{{data.company_info.checkDigit}})</b></p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">INCORPORATION DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.incorp_date }}</p></td>
                    </tr>
                    <tr>
                        <td><p id="secondary">TYPE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if 'B' in data.company_info.companyType %}
                                LIMITED BY SHARE AND GUARANTEE
                            {% endif %}
                            {% if 'G' in data.company_info.companyType %}
                                LIMITED BY GUARANTEE
                            {% endif %}
                            {% if 'S' in data.company_info.companyType %}
                                LIMITED BY SHARES
                            {% endif %}
                            {% if 'U' in data.company_info.companyType %}
                                UNLIMITED
                            {% endif %}
                            {% if 'R' in data.company_info.companyStatus %}
                            <br>
                                PRIVATE LIMITED
                            {% endif %}
                            {% if 'U' in data.company_info.companyStatus %}
                            <br>
                                PUBLIC LIMITED
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">STATUS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            <p id="secondary">
                            {% if 'B' in data.company_info.statusOfCompany %}
                                DISSOLVED CONVERSION TO LLP
                            {% endif %}
                            {% if 'C' in data.company_info.statusOfCompany %}
                                CEASED BUSINESS
                            {% endif %}
                            {% if 'D' in data.company_info.statusOfCompany %}
                                DISSOLVED
                            {% endif %}
                            {% if 'E' in data.company_info.statusOfCompany %}
                                EXISTING
                            {% endif %}
                            {% if 'R' in data.company_info.statusOfCompany %}
                                REMOVED
                            {% endif %}
                            {% if 'W' in data.company_info.statusOfCompany %}
                                WINDING UP
                            {% endif %}
                            {% if 'X' in data.company_info.statusOfCompany %}
                                NULL AND VOID BY COURT ORDER
                            {% endif %}
                            {% if 'Y' in data.company_info.statusOfCompany %}
                                STRUCK-OFF & WINDING-UP VIA COURT ORDER
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><p id="secondary">REGISTERED ADDRESS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                                <p id="secondary" class="mb-0">{{data.registered_address_info.address1}}</p>
                            {% if data.registered_address_info.address2 %}
                                <p id="secondary" class="my-0">  {{data.registered_address_info.address2}}</p>
                            {% endif %}
                            {% if data.registered_address_info.address3 %}
                                <p id="secondary" class="my-0">  {{data.registered_address_info.address3}}</p>
                            {% endif %}
                                <p id="secondary" class="my-0">  {{data.registered_address_info.town}}</p>
                            {% if data.registered_address_info.state %}
                                <p id="secondary" class="mt-0"> {{data.registered_address_info.state}}</p> 
                            {% endif %}
                        </td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">POSTCODE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.registered_address_info.postcode}}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">ORIGIN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            {% if 'MAL' in data.company_info.companyCountry %}
                                <p id="secondary">MALAYSIA</p> 
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p id="secondary">BUSINESS ADDRESS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td>
                            <p id="secondary" class="mb-0">{{data.business_address_info.address1}} </p>
                            <p id="secondary" class="my-0">  {{data.business_address_info.address2}}</p>
                            {% if data.business_address_info.address3 %}
                                <p id="secondary" class="my-0">  {{data.business_address_info.address3}}</p>
                            {% endif %}
                            <p id="secondary" class="my-0">  {{data.business_address_info.town}} </p>
                            {% if data.business_address_info.state %}
                                <p id="secondary" class="mt-0"> {{data.business_address_info.state}}</p> 
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p id="secondary">POSTCODE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{data.business_address_info.postcode}}</p></td>
                    </tr>
                    <tr>
                        <td><p id="secondary">NATURE OF BUSINESS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">
                            {% if data.company_info.businessDescription %}
                                {{data.company_info.businessDescription}}
                            {% else %}
                                NIL
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            


            <h2 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem; font-size: 12pt;"><u> SUMMARY OF SHARE CAPITAL </u></h2>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">REGISTRATION NO.</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.company_info.compNoNew}} ({{data.company_info.companyNo}}-{{data.company_info.checkDigit}})</b></p></td>
                    </tr>                    
                </table>
            </div>            

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:25%; border: 0;"></th>
                        <th style="width:25%; border: 0;"></th>
                        <th style="width:25%; border: 0;"></th> 
                        <th style="width:25%; border: 0;"></th> 
                      </tr>
                    <tbody>
                      

                        <tr style="height:20px;">
                            <td><p id="secondary">TOTAL ISSUED (RM) {{data.total_issued | floatformat:2 | intcomma}}</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td></td>
                            <td><p id="secondary"><b>CASH</b></p></td>
                            <td><p id="secondary"><b>OTHERWISE THAN CASH</b></p></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">ORDINARY</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">PREFERENCE</p></td>
                            <td><p id="secondary">{{ data.preference_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.preference_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">OTHERS</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>                                                                                                                       
                      

              
                    </tbody>
                </table>
            </div>


            <h2 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem; font-size: 12pt;"><u> SHARE DETAILS </u></h2>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">REGISTRATION NO.</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary"><b>{{data.company_info.compNoNew}} ({{data.company_info.companyNo}}-{{data.company_info.checkDigit}})</b></p></td>
                    </tr>                    
                </table>
            </div>            

            <h4>Date of Allotment: 04-07-2018</h4>
            <p id="secondary">(A)      ALLOTMENT OF SHARES</p>
            <div class="table-responsive">
            
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:20%; border: 0;"></th>
                        <th style="width:20%; border: 0;"></th>
                        <th style="width:20%; border: 0;"></th> 
                        <th style="width:20%; border: 0;"></th> 
                        <th style="width:20%; border: 0;"></th> 
                      </tr>
                    <tbody>
                      

                        <tr style="height:20px;">
                            <td><p id="secondary">TOTAL ISSUED (RM) {{data.total_issued | floatformat:2 | intcomma}}</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td></td>
                            <td><p id="secondary"><b>CASH</b></p></td>
                            <td><p id="secondary"><b>OTHERWISE THAN CASH</b></p></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">ORDINARY</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">PREFERENCE</p></td>
                            <td><p id="secondary">{{ data.preference_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.preference_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">OTHERS</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>                             
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">TOTAL</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>                           
                      

              
                    </tbody>
                </table>
            </div>   
            
            <p id="secondary">(B)      PARTICULAR OF ALLOTTEES</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width:20%; border: 0;"></th>
                        <th style="width:20%; border: 0;"></th>
                        <th style="width:20%; border: 0;"></th> 
                        <th style="width:20%; border: 0;"></th> 
                      </tr>
                    <tbody>
                      

                        <tr style="height:20px;">
                            <td><p id="secondary">TOTAL ISSUED (RM) {{data.total_issued | floatformat:2 | intcomma}}</p></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td></td>
                            <td><p id="secondary"><b>CASH</b></p></td>
                            <td><p id="secondary"><b>OTHERWISE THAN CASH</b></p></td>
                        </tr>    
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">ORDINARY</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.ordinary_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">PREFERENCE</p></td>
                            <td><p id="secondary">{{ data.preference_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.preference_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">OTHERS</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>                             
                        <tr style="height:20px;">
                            <td></td>
                            <td><p id="secondary">TOTAL</p></td>
                            <td><p id="secondary">{{ data.others_issue_cash | floatformat:2 | intcomma}}</p></td>
                            <td><p id="secondary">{{ data.others_issue_noncash | floatformat:2 | intcomma}}</p></td>
                        </tr>                           
                    </tbody>
                </table>
            </div>   
            
            <h2 class="font-weight-bold text-center" style="margin-top: 50px; font-size: 12pt;"><u> END OF REPORT</u></h2>
    
            <p style="margin-top:0;margin-bottom:0;font-size:10pt">This information are from the company's document registered as at {{ data.company_info.latestDocUpdateDate}} </p>  
            <p style="margin-top:0;margin-bottom:0;font-size:10pt">Registrar of Companies</p>
            <p style="margin-top:0;margin-bottom:0;font-size:10pt">Dated : {{data.printing_time}}</p>
            <p style="margin-top:0;margin-bottom:10px;font-size:10pt">This information is computer generated. No signature is required.</p>
        </div>

        <footer id="footer">
            <div class="row">
                <p class="col text-left">USER ID: @</p>
                <p class="col text-right">PRINTING DATE: {{data.printing_time}}</p>
            </div>
            
            <p class="text-center" style="margin-bottom:10px;font-size:10pt">MENARA SSM@SENTRAL, NO.7, JALAN STESEN SENTRAL 5, KUALA LUMPUR SENTRAL, 50623 KUALA LUMPUR<br>TEL: 03-7721 4000 FAX: 03-7721 4001</p>  
        </footer>
    </body>
</html>

