<div class="wrapper">
	<section class="section-shaped title-bg bg-mini">
		<div class="page-header page-header-small header-filter-white">
			<div class="page-header-image" style="background-image: url('assets/img/banner/banner-cart.jpg')"></div>
			<div class="container">
				<div class="header-body text-center mb-9">
					<div class="row justify-content-center">
						<div class="col">
							<h1 class="text-ssm font-weight-bolder mb-0">CHECKOUT</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container mt--9">
		<div class="row">
			<div class="col">
				<div class="">
					<div class="table" *ngIf="!isEmpty">
						<div class="dataTables_wrapper py-4">
							<div class="row">
								<div class="col-sm-12 col-md-6">
									<div class="dataTables_length" id="datatable_submitted_length">
										<label>
											Show
											<select 
												name="datatable_submitted_length" 
												aria-controls="datatable"
												class="form-control form-control-sm" 
												(change)="entriesChange($event)"
											>
												<option value="10" [selected]="tableEntries == 10">10</option>
												<option value="25" [selected]="tableEntries == 25">25</option>
												<option value="50" [selected]="tableEntries == 50">50</option>
												<option value="100" [selected]="tableEntries == 100">100</option>
												<!-- <option value="-1" [selected]="tableEntries == -1">All</option> -->
											</select>
											record
										</label>
									</div>
								</div>
							</div>

							<ngx-datatable 
								class="bootstrap selection-cell"
								[columnMode]="'force'"
								[headerHeight]="50"
								[footerHeight]="50"
								[rowHeight]="'auto'"
								[limit]="tableEntries != -1 ? tableEntries : undefined" 
								[rows]="tableTemp"
								[messages]="tableMessages"
								(activate)="onActivate($event)"
							>

								<ngx-datatable-column 
									maxWidth="60"
									[sortable]="true"
									prop="id_index"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">No.</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.id_index}}
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column
									[sortable]="true"
									prop="product?.name"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Product</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div *ngIf="row.product">
											{{row.product.name}}
										</div>

										<span *ngIf="row.product.ctc">
											- CTC
										</span>

										<span *ngIf="row?.image_form_type != 'NA' && row?.image_form_type">
											- {{row?.image_form_type}}
										</span>
										<div *ngIf="row.service_request">
											<span *ngIf="row.service_request?.service.entities_type =='RB' && row.service_request?.service.product_type =='ST'">
												{{row.service_request?.service.name}}
											</span>
											<span *ngIf="row.service_request?.service.entities_type =='RB' && row.service_request?.service.product_type =='LS'">
												{{row.service_request?.service.name}}
											</span>
											<span *ngIf="row.service_request?.service.entities_type =='RC' && row.service_request?.service.product_type =='ST'">
												{{row.service_request?.service.name}}
											</span>
											<span *ngIf="row.service_request?.service.entities_type =='RC' && row.service_request?.service.product_type =='LS'">
												{{row.service_request?.service.name}}
											</span>
										</div>
										<div *ngIf="row.quota">
											<div *ngIf="row.quota.quota_type == '0A'">
												Customized Data Package A Quota
											</div>
										</div>
										<div *ngIf="row.product_search_criteria">
											Customized Data Package A
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column 
									[sortable]="false"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Search Criteria</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div *ngIf="row.product">
											<span *ngIf="row.entity.type_of_entity=='CP'">
												{{row.entity.company_number_new}} ({{row.entity.company_number}}-{{row.entity.check_digit}})
											</span>
											<span *ngIf="row.entity.type_of_entity=='BS'">
												{{row.entity.registration_number_new}} ({{row.entity.registration_number}}-{{row.entity.check_digit}})
											</span>
										 	{{ row.entity.name }}
										</div>
										<div *ngIf="!row.product && !row.product_search_criteria">
											-
										</div>

										<div *ngIf="row.product_search_criteria">
											<a (click)="openModal(criteria, row)">Search criteria</a>
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column 
									[sortable]="false"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Unit</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template class="text-center">
										1
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column
									[sortable]="false"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Unit Price</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template class="text-center">
										<div *ngIf="row.product">
											RM{{row.product.fee/100 | number : '1.2-2'}}
										</div>
										<div *ngIf="row.service_request">
											<div *ngIf="row.service_request">
											RM{{row.service_request.service.fee/100 | number : '1.2-2'}}
											</div>
										</div>
										<div *ngIf="row.quota">
											RM20.00
										</div>
										<div *ngIf="row.product_search_criteria">
											RM{{row.product_search_criteria.total_price/100 | number : '1.2-2'}}
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column
									[sortable]="false"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Total Price</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template class="text-center">
										<div *ngIf="row.product">
											RM{{row.product.fee/100 | number : '1.2-2'}}
										</div>
										<div *ngIf="row.service_request">
											<div *ngIf="row.service_request">
											RM{{row.service_request.service.fee/100 | number : '1.2-2'}}
											</div>
										</div>
										<div *ngIf="row.quota">
											RM20.00
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-footer>
									<ng-template 
										ngx-datatable-footer-template 
										let-rowCount="rowCount"
										let-pageSize="pageSize"
										let-selectedCount="selectedCount"
										let-curPage="curPage"
										let-offset="offset"
									>
										<div style="padding: 5px 10px">
										</div>
										<datatable-pager
											[pagerLeftArrowIcon]="'datatable-icon-left'"
											[pagerRightArrowIcon]="'datatable-icon-right'"
											[pagerPreviousIcon]="'datatable-icon-prev'"
											[pagerNextIcon]="'datatable-icon-skip'"
											[page]="curPage"
											[size]="pageSize"
											[count]="rowCount"
											[hidden]="!((rowCount / pageSize) > 1)"
											(change)="table.onFooterPage($event)"
										>
										</datatable-pager>
									</ng-template>
								</ngx-datatable-footer>
							</ngx-datatable>
						</div>

						<div class="float-right text-right py-4">
							<div class="row">
								<div class="col-8">
									<div class="row">
										<div class="col">
											<h4>Total Document :</h4>
										</div>
									</div>

									<div class="row">
										<div class="col">
											<h3>Total Amount :</h3>
										</div>
									</div>
								</div>
								
								<div class="col-4">
									<div class="row">
										<div class="col">
											<h4 class="text-left">{{ totaldocument }}</h4>
										</div>
									</div>

									<div class="row">
										<div class="col">
											<h3 class="text-left">RM{{ total/100 | number : '1.2-2' }}</h3>
										</div>
									</div>
								</div>
							</div>
							<br />
							<button class="btn btn-ssm btn-round" (click)="navigatePage('/payment')">
								PROCEED TO PAYMENT
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #criteria>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Search Criteria
        </h6>

        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <form *ngIf="selectedCriteria">
            <div class="row">
				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Incorp / Reg Date From</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.IncorpFrom"
						  type="text"
						>
					</div>
				</div>

				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Incorp / Reg Date To</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.IncorpTo"
						  type="text"
						>
					</div>
				</div>
			</div>

            <div class="row">
				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Company Status</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.CompanyStatus"
						  type="text"
						>
					</div>
				</div>

				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Company Type</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.CompanyType"
						  type="text"
						>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="form-control-label">Business Code</label>
				<input 
				  class="form-control"
				  [value]="selectedCriteria.BusinessCode"
				  type="text"
				>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Company Location</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.CompanyLocation"
						  type="text"
						>
					</div>
				</div>

				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Company Origin</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.CompanyOrigin"
						  type="text"
						>
					</div>
				</div>
			</div>
        </form>
    </div>

    <div class="modal-footer">
        <button
            class="btn btn-outline-ssm ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            Close
        </button>
    </div>
</ng-template>