<div class="wrapper">
  <section class="section-shaped title-bg bg-mini">
    <div class="page-header page-header-small header-filter-white">
      <div
        class="page-header-image"
        style="background-image: url('assets/img/background/putrajaya.jpg')"
      ></div>
      <div class="container mb--4">
        <div class="header-body text-center mb-9">
          <div class="row justify-content-center">
            <h1 class="text-ssm font-weight-bolder">eGOV</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="section mt--9">
    <div class="container">
      <h3 class="title font-weight-bolder">eGOVERNMENT</h3>
      <h1 class="title font-weight-bolder text-ssm">PACKAGE</h1>
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </h5>
      <div class="row">
        <div class="col-md-12">
          <div class="presentation-cards">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                <li class="glide__slide">
                  <div class="card-project bg-ssm">
                    <div class="card-body bg-ssm">
                      <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 1</h3>
                      <h4 class="mt-0 text-white">view only</h4>
                      <p class="text-white font-small">
                        <i class="fas fa-check"></i> Company Profile without
                        Company Charges
                      </p>
                      <p class="text-white font-small">
                        <i class="fas fa-check"></i> Financial charges
                      </p>
                      <div class="row">
                        <div class="col">
                          <img
                            style="margin: 0px auto 0px auto !important"
                            class="icon-size img-center"
                            src="assets/img/icons/3.jpg"
                          />
                        </div>
                        <div class="col pt-3">
                          <button
                            class="btn btn-sm btn-secondary text-sm rounded"
                            (click)="openModal(productSample)"
                          >
                            View<br />Sample
                          </button>
                        </div>
                      </div>

                      <hr class="my-2 border-white" />

                      <p class="text-white font-small">
                        Business Profile & Statutory Document Images
                      </p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-project bg-ssm">
                    <div class="card-body bg-ssm">
                      <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 2</h3>
                      <h4 class="mt-0 text-white">view only</h4>
                      <p class="text-white font-small">
                        <i class="fas fa-check"></i> Company Profile without
                        Company Charges
                      </p>
                      <p class="text-white font-small">
                        <i class="fas fa-check"></i> Financial charges
                      </p>

                      <div class="row">
                        <div class="col">
                          <img
                            style="margin: 0px auto 0px auto !important"
                            class="icon-size img-center"
                            src="assets/img/icons/3.jpg"
                          />
                        </div>
                        <div class="col pt-3">
                          <button
                            class="btn btn-sm btn-secondary text-sm rounded"
                            (click)="openModal(productSample)"
                          >
                            View<br />Sample
                          </button>
                        </div>
                      </div>

                      <hr class="my-2 border-white" />

                      <p class="text-white font-small">
                        Business Profile & Statutory Document Images
                      </p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-project bg-ssm">
                    <div class="card-body bg-ssm">
                      <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 3</h3>
                      <h4 class="mt-0 text-white">view & download</h4>
                      <p class="text-white font-small">
                        <i class="fas fa-check"></i> Company Profile
                      </p>
                      <p class="text-white font-small">
                        <i class="fas fa-check"></i> Statutory Document Images
                      </p>

                      <div class="row">
                        <div class="col">
                          <img
                            style="margin: 0px auto 0px auto !important"
                            class="icon-size img-center"
                            src="assets/img/icons/3.jpg"
                          />
                        </div>
                        <div class="col pt-3">
                          <button
                            class="btn btn-sm btn-secondary text-sm rounded"
                            (click)="openModal(productSample)"
                          >
                            View<br />Sample
                          </button>
                        </div>
                      </div>

                      <hr class="my-2 border-white" />

                      <p class="text-white font-small">
                        Business Profile & Statutory Document Images
                      </p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide">
                  <div class="card card-project bg-ssm">
                    <div class="card-body bg-ssm">
                      <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 4</h3>
                      <h4 class="mt-0 text-white">view & download</h4>
                      <h2 class="text-white text-center my-4">COMING SOON</h2>

                      <div class="row">
                        <div class="col">
                          <img
                            style="margin: 0px auto 0px auto !important"
                            class="icon-size img-center"
                            src="assets/img/icons/3.jpg"
                          />
                        </div>
                        <div class="col pt-3">
                          <button
                            class="btn btn-sm btn-secondary text-sm rounded"
                            (click)="openModal(productSample)"
                          >
                            View<br />Sample
                          </button>
                        </div>
                      </div>

                      <hr class="my-2 border-white" />

                      <p class="text-white font-small">
                        Business Profile & Statutory Document Images
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                class="glide__arrow glide__arrow--left text-default"
                aria-label="Previous"
                data-glide-dir="<"
              >
                <i class="ni ni-bold-left"> </i>
              </button>
              <button
                class="glide__arrow glide__arrow--right text-default"
                aria-label="Next"
                data-glide-dir=">"
              >
                <i class="ni ni-bold-right"> </i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="pricing-3 mt--3" id="pricing-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr-md-0">
          <div class="card card-pricing my-3 bg-ssm">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="display-3 mb-0 text-white">WELCOME BACK</h1>
                  <p class="lead pb-4 mt-0 text-white">Login to continue</p>
                  <div class="row row-input">
                    <div class="col-sm-12 col-12">
                      <div class="form-group">
                        <label class="form-control-label text-white"
                          >Email Address</label
                        >
                        <input
                          aria-label="Email address"
                          class="form-control"
                          id="signupSrEmail"
                          name="email"
                          placeholder="Email address"
                          type="email"
                        />
                      </div>
                    </div>

                    <div class="col-sm-12 col-12">
                      <div class="form-group">
                        <label class="form-control-label text-white"
                          >Password</label
                        >
                        <input
                          aria-label="Password"
                          class="form-control"
                          id="signupSrEmail"
                          placeholder="Password"
                          type="password"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <button
                        class="btn btn-secondary btn-block"
                        (click)="openModal(packageModal)"
                      >
                        Login
                      </button>
                    </div>
                    <div class="col">
                      <button
                        class="btn btn-secondary btn-block"
                        (click)="registerUserDiv()"
                      >
                        Sign up
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 text-center"
          style="
            background-color: #005fed;
            padding-right: 0px !important;
            padding-left: 0px !important;
          "
        >
          <div class="example" style="padding-top: 150px">
            <p
              class="title font-weight-bolder"
              style="font-size: 3.5em; color: white"
            >
              <b>eGOV</b>
            </p>
            <p
              class="title font-weight-bolder pt--4 mt--5"
              style="font-size: 2.5em; color: white"
            >
              Login
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="section mt--6" *ngIf="registerDiv">
    <div class="container">
      <!-- <div class="card">
        <div class="card-body"> -->
      <h2>eGovernment Signup Form Application</h2>
      <h1 class="title font-weight-bolder text-ssm mt--3">
        Don't Have An Account Yet ?
      </h1>
      <h1 class="title text-ssm mt--3">
        Register to access all feature to our service. Manage your place in one
        place. It's free!
      </h1>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Email Address</label>
            <input class="form-control" placeholder="Enter email address" />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Full Name</label>
            <input class="form-control" placeholder="Enter full name" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-input">IC No.</label>
            <input class="form-control" placeholder="Enter IC no." />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Position & Grade</label>
            <input class="form-control" placeholder="Enter position & grade" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="form-control-input">Tel No.</label>
            <input class="form-control" placeholder="Enter tel no." />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Password</label>
            <input
              class="form-control"
              placeholder="Password"
              type="password"
            />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Confirm Password</label>
            <input
              class="form-control"
              placeholder="Password"
              type="password"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Head of Department Name</label>
            <input
              class="form-control"
              placeholder="Enter head of department name"
            />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-input"
              >Head of Department Position</label
            >
            <input
              class="form-control"
              placeholder="Enter head of department position"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Head of Department Email</label>
            <input
              class="form-control"
              placeholder="Enter head of department email"
            />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Agency Name</label>
            <select class="form-control" placeholder="Agency name">
              <option selected hidden>Please select</option>
              <option>SSM</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Address Line 1</label>
            <input class="form-control" placeholder="Enter address line 1" />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Address Line 2</label>
            <input class="form-control" placeholder="Enter address line 2" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Address Line 3</label>
            <input class="form-control" placeholder="Enter address line 3" />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-input">Postcode</label>
            <input class="form-control" placeholder="Enter postcode" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-input">City</label>
            <input class="form-control" placeholder="Enter city" />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-input">State</label>
            <input class="form-control" placeholder="Enter state" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-input"
              >Attachment(Official Letter From KJAKP)</label
            >
            <input class="form-control" type="file" placeholder="Enter city" />
            <p style="font-size: 0.7em">*PDF format only, 5MD Maximum</p>
          </div>
        </div>

        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="aFormGroup">
            <ngx-recaptcha2
              #captchaElem
              [siteKey]="siteKey"
              (reset)="handleReset()"
              (expire)="handleExpire()"
              (error)="handleError()"
              (load)="handleLoad()"
              (success)="handleSuccess($event)"
              [useGlobalDomain]="false"
              [size]="size"
              [hl]="lang"
              [theme]="theme"
              [type]="type"
              formControlName="recaptcha"
            >
            </ngx-recaptcha2>
          </form>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-control-input">
              <input type="checkbox" />&nbsp;By Signup, I agree to
              <a><b>Term and Condition</b></a>
            </label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-control-input">
              <input type="checkbox" />&nbsp;By Registering,You agree to our
              <a><b>Term of service and privacy policy</b></a>
            </label>
          </div>
        </div>
      </div>

      <div class="text-left">
        <button
          class="btn btn-primary"
          (click)="successAlert('Application Successfully Submitted')"
        >
          Apply
        </button>
      </div>
    </div>
    <!-- </div>
    </div> -->
  </div>
</div>

<ng-template #productSample>
  <div class="modal-header bg-ssm">
    <h4 class="modal-title text-white my-auto" id="modal-title-default">
      Product Sample
    </h4>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body px-auto">
    <img
      style="width: 85%"
      class="d-flex mx-auto"
      src="assets/img/default/sample.png"
    />
  </div>
</ng-template>

<ng-template #packageModal>
  <!-- <div class="modal-header bg-ssm">
    <h4 class="modal-title text-white my-auto" id="modal-title-default">
      Product Sample
    </h4>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div> -->

  <div class="modal-body px-auto">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-body text-center"
            (click)="navigatePage('/egov-details')"
          >
            <h1 class="text-ssm">Package 1 & 2</h1>
            <h1 class="text-ssm">Only for reference on the flow</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-body text-center"
            (click)="navigatePage('/egov-details')"
          >
            <h1 class="text-ssm">Package 3 & 4</h1>
            <h1 class="text-ssm">Only for reference on the flow</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
