<ngx-loading-bar ref="http" height="4px" color="#fff"></ngx-loading-bar>
<div class="wrapper">
	<section class="section-shaped title-bg bg-mini">
		<div class="page-header page-header-small header-filter-white">
			<div class="page-header-image" style="background-image: url('assets/img/banner/banner-cart.jpg')"></div>
			<div class="container">
				<div class="header-body text-center mb-9">
					<div class="row justify-content-center">
						<div class="col">
							<h1 class="text-ssm font-weight-bolder mb-0" style="font-size: 3.0rem;">CART</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container mt--9">
		<div class="row">
			<div class="col">
				<div class="">
					<div *ngIf="isEmpty" class="empty-cart d-flex align-items-center justify-content-center">
						<div class="">
							<img [src]="iconEmpty" class="empty-icon d-flex align-self-center" />
							<p class="text-muted">You have an empty cart</p>
							<button class="btn btn-icon btn-3 btn-primary" type="button"
								(click)="navigatePage('/product')">
								<span class="btn-inner--icon">
									<i class="fas fa-chevron-left"> </i>
								</span>
								<span class="btn-inner--text"> Go to Product </span>
							</button>
						</div>
					</div>

					<div class="table" *ngIf="!isEmpty">
						<div class="row">
							<div class="col">
								<p style="font-size: 0.9em">
									Disclaimer:<br />
									1. Every product list will be kept in Cart only for 30
									day(s) From the date added. Please proceed your payment to
									purchase.
								</p>
							</div>
						</div>
						<div class="row pb-2 text-right">
							<div class="col">
								<button 
									class="btn btn-default rounded-pill mr-2"
									(click)="navigatePage('/products/search')"
								>
									Buy Other Product
								</button>
								<button 
									class="btn btn-default rounded-pill" 
									(click)="emptyCart()"
								>
									Empty Cart
								</button>
							</div>
						</div>

						<div class="dataTables_wrapper py-4">
							<div class="row">
								<div class="col-sm-12 col-md-6">
									<div class="dataTables_length" id="datatable_submitted_length">
										<label>
											Show
											<select 
												name="datatable_submitted_length" 
												aria-controls="datatable"
												class="custom-select custom-select-sm mx-1" 
												(change)="entriesChange($event)"
											>
												<option value="10" [selected]="tableEntries == 10">10</option>
												<option value="25" [selected]="tableEntries == 25">25</option>
												<option value="50" [selected]="tableEntries == 50">50</option>
												<option value="100" [selected]="tableEntries == 100">100</option>
												<!-- <option value="-1" [selected]="tableEntries == -1">All</option> -->
											</select>
											record
										</label>
									</div>
								</div>
								<!-- <div class="col-sm-12 col-md-6 float-right">
									<div class="dropdown text-right float-right" dropdown>
									  <button
										class="btn dropdown-toggle btn-link btn-icon dropdown-toggle float-right"
										data-toggle="dropdown"
										dropdownToggle
										type="button"
									  >
										<i class="fas fa-cogs text-ssm"> </i>
									  </button>
									  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
										<a class="dropdown-item cursor-pointer" (click)="removeSelected()"> Remove selected </a>
									  </div>
									</div>
								</div> -->
							</div>

							<ngx-datatable 
								class="bootstrap selection-cell"
								[columnMode]="'force'"
								[headerHeight]="50"
								[footerHeight]="50"
								[rowHeight]="'auto'"
								[limit]="tableEntries != -1 ? tableEntries : undefined" 
								[rows]="tableTemp"
								[messages]="tableMessages"
								(activate)="onActivate($event)"
							>
								<ngx-datatable-column maxWidth="60" [sortable]="false">
									<ng-template ngx-datatable-header-template>
										<div class="custom-control custom-checkbox">
											<input 
												type="checkbox" 
												class="custom-control-input" 
												id="tableCheckbox"
												(change)="selectAllRow()"
												[(ngModel)]="tableCheckbox"
											>
											<label 
												class="custom-control-label" 
												for="tableCheckbox"
											>
											</label>
										</div>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div class="custom-control custom-checkbox">
											<input 
												type="checkbox" 
												class="custom-control-input" 
												id="customCheck+{{row.id_index}}"
												(change)="checkRow(row)"
												[(ngModel)]="row.isTick"
											>
											<label 
												class="custom-control-label" 
												for="customCheck+{{row.id_index}}"
											>
											</label>
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column 
									maxWidth="80" 
									[sortable]="true"
									prop="id_index"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">No.</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.id_index}}
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column 
									[sortable]="true"
									prop="product?.name"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Product</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div *ngIf="row.product">
											{{row.product.name}}
										</div>

										<span *ngIf="row.product?.ctc">
											- CTC
										</span>

										<span *ngIf="row?.image_form_type != 'NA' && row?.image_form_type">
											- {{row?.image_form_type}}
										</span>
										<div *ngIf="row.service_request">
											<span *ngIf="row.service_request?.service.entities_type =='RB' && row.service_request?.service.product_type =='ST'">
												{{row.service_request?.service.name}}
											</span>
											<span *ngIf="row.service_request?.service.entities_type =='RB' && row.service_request?.service.product_type =='LS'">
												{{row.service_request?.service.name}}
											</span>
											<span *ngIf="row.service_request?.service.entities_type =='RC' && row.service_request?.service.product_type =='ST'">
												{{row.service_request?.service.name}}
											</span>
											<span *ngIf="row.service_request?.service.entities_type =='RC' && row.service_request?.service.product_type =='LS'">
												{{row.service_request?.service.name}}
											</span>
										</div>
										<div *ngIf="row.quota">
											<div *ngIf="row.quota.quota_type == '0A'">
												Customized Data Package A Quota
											</div>
										</div>
										<div *ngIf="row.product_search_criteria">
											Customized Data Package A
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column
									[sortable]="false"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Search Criteria</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div *ngIf="row.product">
											<span *ngIf="row.entity.type_of_entity=='CP'">
												{{row.entity.company_number_new}} ({{row.entity.company_number}}-{{row.entity.check_digit}})
											</span>
											<span *ngIf="row.entity.type_of_entity=='BS'">
												{{row.entity.registration_number_new}} ({{row.entity.registration_number}}-{{row.entity.check_digit}})
											</span>
										 	{{ row.entity.name }}
										</div>
										<div *ngIf="!row.product && !row.product_search_criteria">
											-
										</div>
										<div *ngIf="row.product_search_criteria">
											<a (click)="openModal(criteria, row)">Search criteria</a>
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column 
									maxWidth="130"
									[sortable]="true"
									prop="language"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Language</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template class="text-center">
										<div *ngIf="row.product">
											<span *ngIf="row.product.language == 'MS'">BM</span>
											<span *ngIf="row.product.language == 'EN'">EN</span>
											<span *ngIf="row.product.language == 'NA'">-</span>
										</div>
										<div *ngIf="!row.product">
											-
										</div>										
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column 
									maxWidth="80"
									[sortable]="false"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Unit</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template class="text-center">
										1
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column
									[sortable]="false"
									[resizeable]="false"
									maxWidth="130"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Total Price</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template class="text-center">
										<div *ngIf="row.product">
											RM{{row.product.fee/100 | number : '1.2-2'}}
										</div>
										<div *ngIf="row.service_request">
											<div *ngIf="row.service_request">
											RM{{row.service_request.service.fee/100 | number : '1.2-2'}}
											</div>
										</div>
										<div *ngIf="row.quota">
											RM20.00
										</div>
										<div *ngIf="row.product_search_criteria">
											RM{{row.product_search_criteria.total_price/100 | number : '1.2-2'}}
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column 
									maxWidth="60"
									[sortable]="false"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header"></span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										<a 
											class="nav-link nav-link-icon cursor-pointer"
											(click)="removeItem(row.id)"
										>
											<i 
												class="fas fa-trash-alt text-danger"
												placement="top" 
												tooltip="Remove from cart"
											> 
											</i>
										</a>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-footer>
									<ng-template 
										ngx-datatable-footer-template 
										let-rowCount="rowCount"
										let-pageSize="pageSize"
										let-selectedCount="selectedCount"
										let-curPage="curPage"
										let-offset="offset"
									>
										<datatable-pager
											[pagerLeftArrowIcon]="'datatable-icon-left'"
											[pagerRightArrowIcon]="'datatable-icon-right'"
											[pagerPreviousIcon]="'datatable-icon-prev'"
											[pagerNextIcon]="'datatable-icon-skip'"
											[page]="curPage"
											[size]="pageSize"
											[count]="rowCount"
											[hidden]="!((rowCount / pageSize) > 1)"
											(change)="table.onFooterPage($event)"
										>
										</datatable-pager>
									</ng-template>
								  </ngx-datatable-footer>
							</ngx-datatable>
						</div>

						<div class="float-right text-right py-4 w-30">
							<div class="row">
								<div class="col-8">
									<div class="row">
										<div class="col">
											<h4>Total Document :</h4>
										</div>
									</div>

									<div class="row">
										<div class="col">
											<h3>Total Amount :</h3>
										</div>
									</div>
								</div>
								
								<div class="col-4">
									<div class="row">
										<div class="col">
											<h4 class="text-left">{{ totaldocument }}</h4>
										</div>
									</div>

									<div class="row">
										<div class="col">
											<h3 class="text-left">RM{{ total/100 | number : '1.2-2' }}</h3>
										</div>
									</div>
								</div>
							</div>
							<!-- <p class="m-0 text-right">Total Document: {{ totaldocument }}</p>
							<p class="m-0 text-right">
								Total Amount: RM{{ total/100 | number : '1.2-2' }}
							</p> -->
							<br />
							<!-- (click)="navigatePage('/cart/checkout')" -->
							<button class="btn btn-ssm btn-round" (click)="proceed()">
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #criteria>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Search Criteria
        </h6>

        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <form *ngIf="selectedCriteria">
            <div class="row">
				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Incorp / Reg Date From</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.IncorpFrom"
						  type="text"
						>
					</div>
				</div>

				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Incorp / Reg Date To</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.IncorpTo"
						  type="text"
						>
					</div>
				</div>
			</div>

            <div class="row">
				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Company Status</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.CompanyStatus"
						  type="text"
						>
					</div>
				</div>

				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Company Type</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.CompanyType"
						  type="text"
						>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="form-control-label">Business Code</label>
				<input 
				  class="form-control"
				  [value]="selectedCriteria.BusinessCode"
				  type="text"
				>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Company Location</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.CompanyLocation"
						  type="text"
						>
					</div>
				</div>

				<div class="col">
					<div class="form-group">
						<label class="form-control-label">Company Origin</label>
						<input 
						  class="form-control"
						  [value]="selectedCriteria.CompanyOrigin"
						  type="text"
						>
					</div>
				</div>
			</div>
        </form>
    </div>

    <div class="modal-footer">
        <button
            class="btn btn-outline-ssm ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            Close
        </button>
    </div>
</ng-template>