<div class="wrapper">
    <div class="container pt-9">
        <h1 class="text-center mt-6">
            Sorry :(
        </h1>
        <h3 class="text-center">
            You are not allowed to view this page.
        </h3>
        
        <div class="mx-auto text-center mt-3 mb-5">
            <button
                class="btn btn-outline-ssm rounded-pill mx-auto"
                (click)="navigatePage('')"
            >
                Back to home
            </button>
        </div>
    </div>
</div>