<div class="wrapper">
    <div class="section">
        <div class="container pt-6">
            <h3 class="title font-weight-bolder">eGOVERNMENT</h3>
            <h1 class="title font-weight-bolder text-ssm">PACKAGE</h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>

            <div class="row pt-3">
                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 1</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile without Company Charges
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Financial charges
                            </p>
    
                            <img class="icon-size img-center" src="assets/img/icons/statistics.svg">
                            
                            <hr class="my-2 border-white" />
    
                            <p class="text-white font-small">
                                Business Profile & Statutory Document Images
                            </p>
    
                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 2</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile without Company Charges
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Financial charges
                            </p>
    
                            <img class="icon-size img-center" src="assets/img/icons/statistics.svg">
                            
                            <hr class="my-2 border-white" />
    
                            <p class="text-white font-small">
                                Business Profile & Statutory Document Images
                            </p>
    
                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 3</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Statutory Document Images
                            </p>
    
                            <img class="icon-size img-center mt-4" src="assets/img/icons/statistics.svg">
                            
                            <hr class="my-2 border-white" />
    
                            <p class="text-white font-small">
                                Business Profile & Statutory Document Images
                            </p>
    
                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 4</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <h2 class="text-white text-center my-4">
                                COMING SOON
                            </h2>
    
                            <img class="icon-size img-center" src="assets/img/icons/statistics.svg">
                            
                            <hr class="my-2 border-white" />
    
                            <p class="text-white font-small">
                                Business Profile & Statutory Document Images
                            </p>
    
                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="align-items-center text-left">
                <div class="card bg-ssm">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h1 class="display-3 mb-0 text-white">
                                   WELCOME BACK
                                </h1>
                                <p class="lead pb-4 mt-0 text-white">
                                    Login to continue
                                </p>
                                <div class="row row-input">
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="form-control-label text-white">Email Address</label>
                                            <input
                                                aria-label="Email address"
                                                class="form-control"
                                                id="signupSrEmail"
                                                name="email"
                                                placeholder="Email address"
                                                type="email"
                                            />
                                        </div>
                                    </div>
            
                                    <div class="col-sm-12 col-12 mt-3">
                                        <div class="form-group">
                                            <label class="form-control-label text-white">Password</label>
                                            <input
                                                aria-label="Password"
                                                class="form-control"
                                                id="signupSrEmail"
                                                placeholder="Password"
                                                type="password"
                                            />
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-secondary btn-block">Login</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-secondary btn-block" (click)="signUp()">Sign up</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <img
                                    src="assets/img/background/putrajaya-1.jpg"
                                    width="100%"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isSignUp == true">
                <h3 class="title font-weight-bolder">eGovernment Sign Up Form</h3>
                <h1 class="title font-weight-bolder text-ssm">Don't have an account yet?</h1>
                <h5>Register to access all the features of our service. Manage your place in one place. It's free!</h5>
                <div class="px-2 row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Full name</label>
                                    <input class="form-control" placeholder="Enter full name">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Position & grade</label>
                                    <input class="form-control" placeholder="Enter position & grade">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">IC No.</label>
                                    <input class="form-control" placeholder="Enter IC no.">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Tel. No.</label>
                                    <input class="form-control" placeholder="Enter tel. no.">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Confirm</label>
                                    <input class="form-control" placeholder="Password" type="password">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Confirm password</label>
                                    <input class="form-control" placeholder="Password" type="password">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">By registering, you agree to our Terms of Service and Privacy Policy.</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <button class="btn btn-ssm btn-round">Submit</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Head of department name</label>
                                    <input class="form-control" placeholder="Enter head of department name">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Head of department position</label>
                                    <input class="form-control" placeholder="Enter head of department position">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Head of department email</label>
                                    <input class="form-control" placeholder="Enter head of department email">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Agency name</label>
                                    <select class="form-control">
                                        <option>Please select</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address line 1</label>
                                    <input class="form-control" placeholder="Enter address line 1">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address line 2</label>
                                    <input class="form-control" placeholder="Enter address line 2">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address line 3</label>
                                    <input class="form-control" placeholder="Enter address line 3">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Postcode</label>
                                    <input class="form-control" placeholder="Enter postcode">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">City</label>
                                    <input class="form-control" placeholder="Enter city">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">State</label>
                                    <input class="form-control" placeholder="Enter state">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>