<div class="wrapper">
    <div class="container pt-9 pb-3">
        <h3 class="title font-weight-bolder">Listing by Package</h3>
        <h1 class="title font-weight-bolder text-ssm">PRODUCT PACKAGES</h1>
        <h5>
            Customized to meet your needs.
        </h5>

        <div class="row pt-3">
            <div class="col-lg-3 col-md-6">
                <div class="card card-project bg-ssm package p-1 pt-0">
                    <div class="card-body bg-ssm pt-1">
                        <h3 class="card-title text-white mt-0">PACKAGE A</h3>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Company Information
                        </p>

                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Registered Address
                        </p>

                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Business Address
                        </p>

                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Business Code
                        </p>

                        <img class="icon-size img-center pt-2" src="assets/img/icons/statistics.svg" />

                        <hr class="my-2 border-white w-100 w-100" />

                        <p class="text-white font-small">Company Detail</p>

                        <div class="card-footer">
                            <button class="btn btn-link text-ssm btn-round" type="button">
                                View Sample
                            </button>

                            <button class="btn btn-link text-ssm btn-round" type="button"
                                (click)="navigatePage('/products/custom-data/package-a')">
                                Search Criteria
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card card-project bg-ssm package p-1 pt-0">
                    <div class="card-body bg-ssm pt-1">
                        <h3 class="card-title text-white mt-0">PACKAGE B</h3>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Company Information
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Company Directors
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Shareholders
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Share Capital
                        </p>

                        <img class="icon-size img-center pt-2" src="assets/img/icons/statistics.svg" />

                        <hr class="my-2 border-white w-100" />

                        <p class="text-white font-small">Shares & Directors</p>

                        <div class="card-footer">
                            <button class="btn btn-link text-ssm btn-round" type="button">
                                View Sample
                            </button>

                            <button class="btn btn-link text-ssm btn-round" type="button"
                                (click)="navigatePage('/products/custom-data/package-a')">
                                Search Criteria
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card card-project bg-ssm package p-1 pt-0">
                    <div class="card-body bg-ssm disabled pt-1">
                        <h3 class="card-title text-white mt-0">PACKAGE C</h3>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Company Information
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Balance Sheet
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Profit & Loss
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Auditors
                        </p>

                        <img class="icon-size img-center pt-2" src="assets/img/icons/statistics.svg" />

                        <hr class="my-2 border-white w-100" />

                        <p class="text-white font-small">Profit & Loss</p>

                        <div class="card-footer">
                            <button class="btn btn-link text-ssm btn-round" type="button">
                                View Sample
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card card-project bg-ssm package p-1 pt-0">
                    <div class="card-body bg-ssm disabled pt-1">
                        <h3 class="card-title text-white mt-0">PACKAGE D</h3>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Company Information
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Charges
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check text-small"></i> Document Lodgement
                        </p>

                        <img class="icon-size img-center pt-5" src="assets/img/icons/statistics.svg" />

                        <hr class="my-2 border-white w-100" />

                        <p class="text-white font-small">Charges & Lodgement</p>

                        <div class="card-footer">
                            <button class="btn btn-link text-ssm btn-round" type="button">
                                View Sample
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>