<ngx-loading-bar ref="http"></ngx-loading-bar>
<div class="wrapper">
	<div class="container pt-9 pb-3">
		<h3 class="title font-weight-bolder">CUSTOMIZED DATA</h3>
		<h1 class="title font-weight-bolder text-ssm">CBID Application Form</h1>
		<p>
            Processing fees for purchasing customize data, list
            of companies and statistical data for companies and
            businesses.
		</p>
	</div>

	<section class="pricing-3 bg-filter-white" style="background-image: url('assets/img/background/menara_ssm.jpg')">
        <div class="container pt-5 pb-5">
            <div class="card">
                <div class="py-5 pl-4">
                    <h2 class="title font-weight-bolder text-left mb-2">Select Product</h2>
                    <div class="px-2">
                        <form [formGroup]="serviceForm">
                            <div class="row d-flex">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="form-control-label">Entities</label>
                                        <select 
                                            class="form-control" 
                                            formControlName="entities_type"
                                        >
                                            <option value="RB">Registration of Business (ROB)</option>
                                            <option value="RC">Registration of Company (ROC)</option>
                                            <option value="BT">Both</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="form-control-label">Type</label>
                                        <select 
                                            class="form-control" 
                                            formControlName="product_type"
                                        >
                                            <option value="ST">Statistics</option>
                                            <option value="LS">Listing</option>
                                            <option value="BT">Both</option>
                                        </select>
                                    </div>
                                </div> -->

                                <div class="col-md-2 flex-column">
                                    <div class="text-center pt-4">
                                        <button 
                                            class="btn btn-ssm btn-icon btn-round m-0" 
                                            (click)="addRequest(serviceForm)"
                                        >
                                            <span class="btn-inner--text"> Add</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                        <hr class="w-100 text-black mt-2" />
                        
                        <form [formGroup]="requestForm">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Name
                                            <span class="text-warning">*</span>
                                        </label>
                                        <input 
                                            class="form-control" 
                                            placeholder="Enter name"
                                            formControlName="name"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Organisation
                                            <span class="text-warning">*</span>
                                        </label>
                                        <input 
                                            class="form-control" 
                                            placeholder="Enter organisation"
                                            formControlName="organisation" 
                                        />
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Address
                                            <span class="text-warning">*</span>
                                        </label>
                                        <input 
                                            class="form-control" 
                                            placeholder="Enter address"
                                            formControlName="address" 
                                        />
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Email address
                                            <span class="text-warning">*</span>
                                        </label>
                                        <input 
                                            class="form-control" 
                                            placeholder="Enter email address"
                                            formControlName="email" 
                                        />
                                    </div>
                                </div>
    
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Phone no.
                                            <span class="text-warning">*</span>
                                        </label>
                                        <input 
                                            class="form-control" 
                                            placeholder="Enter phone no." 
                                            formControlName="phone_number"    
                                        />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="container pt-3" *ngIf="requestToAdd.length > 0">
                        <span class="text-center">
                            <h3 class="py-2">Summary Of Request</h3>
                        </span>

                        <ngx-datatable 
                            class="bootstrap selection-cell"
                            [columnMode]="'force'"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [rowHeight]="'auto'"
                            [limit]="tableEntries != -1 ? tableEntries : undefined" 
                            [rows]="tableTemp"
                            (activate)="onActivate($event)"
                        >

                            <ngx-datatable-column
                                maxWidth="80" 
                                [sortable]="true"
                                prop="id_index"
                                [resizeable]="false"
                            >
                                <ng-template ngx-datatable-header-template>
                                    <span class="table-header">No.</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.id_index}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                                [sortable]="true"
                                prop="entities_type"
                                [resizeable]="false"
                            >
                                <ng-template ngx-datatable-header-template>
                                    <span class="table-header">Entity</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div *ngIf="row.entities_type == 'RB'">
                                        Registration of Business (ROB)
                                    </div>
                                    <div *ngIf="row.entities_type == 'RC'">
                                        Registration of Company (ROC)
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
<!-- 
                            <ngx-datatable-column
                                [sortable]="true"
                                prop="product_type"
                                [resizeable]="false"
                            >
                                <ng-template ngx-datatable-header-template>
                                    <span class="table-header">Type</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div *ngIf="row.product_type == 'ST'">
                                        Statistics
                                    </div>
                                    <div *ngIf="row.product_type == 'LS'">
                                        Listing
                                    </div>
                                </ng-template>
                            </ngx-datatable-column> -->

                            <ngx-datatable-column
                                [sortable]="true"
                                prop="fee"
                                [resizeable]="false"
                            >
                                <ng-template ngx-datatable-header-template>
                                    <span class="table-header">Price</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div>
                                        RM{{row.fee/100 | number:'1.2-2'}}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column 
                                maxWidth="80"
                                [sortable]="false"
                                [resizeable]="false"
                            >
                                <ng-template ngx-datatable-header-template>
                                    <span class="table-header"></span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a 
                                        class="nav-link nav-link-icon cursor-pointer"
                                        (click)="removeRequest(row)"
                                    >
                                        <i 
                                            class="fas fa-trash-alt text-danger"
                                            placement="top" 
                                            tooltip="Remove"
                                        > 
                                        </i>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                        <div class="text-right py-3">
                            <button class="btn btn-ssm btn-icon btn-round" (click)="addToCart()">
                                <span class="btn-inner--text"> Checkout </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<div class="container">
		<div class="row py-4">
			<div class="col">
				<img src="assets/img/background/how.png" style="width: 100%" />
			</div>
		</div>
	</div>
</div>