<div class="wrapper">
    <div class="cd-section">
        <div class="section features-7">
            <div class="container mt-6">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="display-3">Transactions</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-7">
        <div class="row">
            <div class="col">
                <div class="card mb-8">
                    <div class="row p-3">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Start Date
                                </label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="fas fa-calendar-alt"> </i>
                                        </span>
                                    </div>
                                    <input class="form-control form-control-sm" placeholder="Start date" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    End Date
                                </label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="far fa-calendar-alt"> </i>
                                        </span>
                                    </div>
                                    <input class="form-control form-control-sm" placeholder="End date" type="date">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Transaction Type
                                </label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="far fa-list-alt"> </i>
                                        </span>
                                    </div>
                                    <select class="form-control form-control-sm" placeholder="Start date">
                                        <option>All</option>
                                        <option>Purchase Document</option>
                                        <option>Topup Credit</option>
                                        <option>Refund Credit</option>
                                        <option>Remove Credit</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Invoice No.
                                </label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="fas fa-receipt"> </i>
                                        </span>
                                    </div>
                                    <input class="form-control form-control-sm" placeholder="Start date" type="date">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <button class="btn btn-primary mt-4">Search</button>
                        </div>
                    </div>

                    <div class="table-responsive mb-0">
                        <table class="table table-striped mb-0">
                            <thead class="text-primary">
                                <tr>
                                    <th>Invoice</th>
                                    <th>Date</th>
                                    <th>Transaction Type</th>
                                    <th>Payment Method</th>
                                    <th>Payment Reference</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Tax</th>
                                    <th>Total</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td colspan="10" class="text-center py-4">
                                        No records found
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>