<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
        <div class="page-header page-header-small header-filter-white">
            <div class="page-header-image" style="
            background-image: url('assets/img/banner/banner-kjakp-enquiry.png');
          "></div>
            <div class="container">
                <div class="header-body text-center mb-9">
                    <div class="row justify-content-center">
                        <div class="col">
                            <h1 class="text-ssm font-weight-bolder" style="font-size: 3.0rem;">ENQUIRY HISTORY</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section mt--9">
        <div class="container">
            <p class="cursor-pointer" (click)="navigatePage('/enquiry')"><i class="fas fa-angle-double-left"></i> Back to previous page</p>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="row p-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Search By Ticket Number
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search By Ticket Number" (keyup)="filterTable($event, 'ticket_no')" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Search By Topic Issue
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-receipt"> </i>
                                            </span>
                                        </div>
                                        <input class="form-control" placeholder="Search By Topic Issue" type="text" (keyup)="filterTable($event, 'topic')" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-8">
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select name="datatable_length" aria-controls="datatable"
                                        class="form-control form-control-sm custom-select custom-select-sm"
                                        (change)="entriesChange($event)">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="-1">All</option>
                                    </select>
                                    records
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                        </div>
                    </div>

                    <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                        [limit]="tableEntries != -1 ? tableEntries : undefined"
                        [rows]="ticketTemp" [scrollbarH]="true" (activate)="onActivate($event)">
            
                        <ngx-datatable-column
                            [width]="180"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="ticket_no"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Ticket #</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.ticket_no}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [width]="180"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="topic.name_en"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Topic</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.topic?.name_en}}
                            </ng-template>
                        </ngx-datatable-column>


                        <ngx-datatable-column
                            [width]="180"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="created_date"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Created Date</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.created_date | date:'dd/MM/yyyy HH:mm'}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                        [width]="180"
                        [sortable]="false"
                        [resizeable]="false"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Status</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.ticket_status == 'RS'">Closed</span> 
                                <span *ngIf="row.ticket_status == 'US'">In Progress</span> 
                                <span *ngIf="row.ticket_status == 'IP'">In Progress</span> 
                                <span *ngIf="row.ticket_status == 'IQ'">In Progress - Response Required</span> 
                                <span *ngIf="row.ticket_status == 'IC'">In Progress </span> 
                                <span *ngIf="row.ticket_status == 'AS'">In Progress</span> 
                                <span *ngIf="row.ticket_status == 'EC'">In Progress</span> 
                                <span *ngIf="row.ticket_status == 'CA'">Closed </span> 
                                <span *ngIf="row.ticket_status == 'CR'">Closed </span> 
                                <span *ngIf="row.ticket_status == 'CD'">Closed </span> 
                                <span *ngIf="row.ticket_status == 'CO'">Closed </span> 
                                <span *ngIf="row.ticket_status == 'CL'">Closed</span> 
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="false"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Action</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a style="cursor: pointer" (click)="viewTicket(row)">
                                    <button class="btn btn-sm btn-info">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <!-- <div class="table-responsive mb-0">
                    <table id="ticket_table" class="table table-striped mb-0">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-center">Ticket Number</th>
                                <th class="text-center">Ticket Created Date</th>
                                <th class="text-center">Topic/Issue</th>
                                <th class="text-center">Ticket Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of ticketTemp">
                                <td class="text-center">
                                    {{item.ticket_no}}
                                </td>
                                <td class="text-center">
                                    {{ item.created_date_ }}
                                </td>
                                <td class="text-center">{{ item.topic.name_en }}</td>
                                <td class="text-center">
                                    <span *ngIf="item.ticket_status == 'IP'">In Progress</span>
                                    <span *ngIf="item.ticket_status == 'IQ'">In Progress</span>
                                    <span *ngIf="item.ticket_status == 'IC'">In Progress</span>
                                    <span *ngIf="item.ticket_status == 'EC'">In Progress</span>
                                    <span *ngIf="item.ticket_status == 'CA'">In Progress</span>
                                    <span *ngIf="item.ticket_status == 'CR'">Closed</span>
                                    <span *ngIf="item.ticket_status == 'CD'">Closed</span>
                                    <span *ngIf="item.ticket_status == 'CO'">Closed</span>
                                    <span *ngIf="item.ticket_status == 'CL'">Closed</span>
                                    <span *ngIf="item.ticket_status == 'US'">In Progress </span>
                                    <span *ngIf="item.ticket_status == 'AS'">In Progress</span>
                                </td>
                                <td class="text-center">
                                    <a style="cursor: pointer" (click)="viewTicket(item)">
                                        <i class="fas fa-eye text-default"> </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
        </div>
    </div>
</div>