<div class="wrapper">
	<section class="section-shaped title-bg bg-mini">
		<div class="page-header page-header-small header-filter-white">
			<div class="page-header-image" style="background-image: url('assets/img/banner/banner-cart.jpg')"></div>
			<div class="container">
				<div class="header-body text-center mb-9">
					<div class="row justify-content-center">
						<div class="col">
							<h1 class="text-ssm font-weight-bolder mb-0">CHECKOUT</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container mt--9">
		<div class="row">
			<div class="col">
				<div class="">
					<div class="table" *ngIf="!isEmpty">
						<div class="dataTables_wrapper py-4">
							<ngx-datatable 
								class="bootstrap selection-cell"
								[columnMode]="'force'"
								[headerHeight]="50"
								[footerHeight]="50"
								[rowHeight]="'auto'"
								[limit]="tableEntries != -1 ? tableEntries : undefined" 
								[rows]="tableTemp"
								(activate)="onActivate($event)"
							>

								<ngx-datatable-column>
									<ng-template ngx-datatable-header-template>
										<span>Product</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div *ngIf="row.product_type == 'f941af40-ba69-441c-ab93-e328101c192b'">
											Company Profile
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column>
									<ng-template ngx-datatable-header-template>
										<span>Entity</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{ row.entity }}
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column>
									<ng-template ngx-datatable-header-template>
										<span>Quantity</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										1
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column>
									<ng-template ngx-datatable-header-template>
										<span>Language</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										BM
									</ng-template>
								</ngx-datatable-column>
							</ngx-datatable>
						</div>

						<div class="float-right text-right py-4">
							<!-- <p class="m-0 text-right">Total Document: {{ totaldocument }}</p>
							<p class="m-0 text-right">
								Total Amount & Rounding Adj. (RM): {{ total + 1.2 }}
							</p> -->
							<br />
							<button class="btn btn-ssm btn-round" (click)="navigatePage('/payment')">
								PROCEED TO PAYMENT
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
