<div class="wrapper">
	<section class="section-shaped title-bg bg-mini">
		<div class="page-header page-header-small header-filter-white">
			<div class="page-header-image" style="background-image: url('assets/img/banner/banner-cart.jpg')"></div>
			<div class="container">
				<div class="header-body text-center mb-9">
					<div class="row justify-content-center">
						<div class="col">
							<h1 class="text-ssm font-weight-bolder mb-0">PAYMENT</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container mt--9">
		<form [formGroup]="billingForm">
			<h3 class="title font-weight-bolder pt-3">Billing Details</h3>
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">Name 
							<span class="text-warning">*</span>
						</label>
						<input
							class="form-control" 
							placeholder="Enter name"
							formControlName="name"
						/>
					</div>
				</div>

				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">
							Email address 
							<span class="text-warning">*</span>
						</label>
						<input 
							class="form-control" 
							placeholder="Enter email" 
							formControlName="email_address"
						/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">
							Phone no. 
							<span class="text-warning">*</span>
						</label>
						<input
							class="form-control" 
							placeholder="Enter phone no."
							formControlName="phone_number"
						/>
					</div>
				</div>

				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">
							Address 1 
							<span class="text-warning">*</span>
						</label>
						<input
							class="form-control" 
							placeholder="Enter address 1" 
							formControlName="address1"
						/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">
							Address 2 
							<span class="text-warning">*</span>
						</label>
						<input 
							class="form-control" 
							placeholder="Enter address 2" 
							formControlName="address2"
						/>
					</div>
				</div>

				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">
							Address 3 
							<span class="text-warning">*</span>
						</label>
						<input 
							class="form-control" 
							placeholder="Enter address 3" 
							formControlName="address3"
						/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">
							Postcode 
							<span class="text-warning">*</span>
						</label>
						<input 
							class="form-control"
							placeholder="Enter postcode"
							formControlName="postcode"
						/>
					</div>
				</div>

				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">
							City 
							<span class="text-warning">*</span>
						</label>
						<input
							class="form-control" 
							placeholder="Enter city" 
							formControlName="city"
						/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">
							State 
							<span class="text-warning">*</span>
						</label>
						<select 
							class="form-control"
							placeholder="Enter state" 
							formControlName="state"
						>
							<option selected hidden value=''>Please select</option>						
							<option value="Johor">Johor</option>
							<option value="Kedah">Kedah</option>
							<option value="Kelantan">Kelantan</option>
							<option value="Melaka">Melaka</option>
							<option value="Negeri Sembilan">Negeri Sembilan</option>
							<option value="Pahang">Pahang</option>
							<option value="Perak">Perak</option>
							<option value="Perlis">Perlis</option>
							<option value="Pulau Pinang">Pulau Pinang</option>
							<option value="Sabah">Sabah</option>
							<option value="Sarawak">Sarawak</option>
							<option value="Selangor">Selangor</option>
							<option value="Terengganu">Terengganu</option>
							<option value="W.P. Kuala Lumpur">W.P. Kuala Lumpur</option>
							<option value="W.P. Labuan">W.P. Labuan</option>
							<option value="W.P. Putrajaya">W.P. Putrajaya</option>
						</select>
					</div>
				</div>

				<div class="col-lg-6 col-sm-12">
					<div class="form-group">
						<label class="form-control-label">
							Country 
							<span class="text-warning">*</span>
						</label>
						<input 
							class="form-control"
							placeholder="Enter country" 
							formControlName="country"
						/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<p class="">* Mandatory fields.</p>
				</div>
			</div>

			<div class="align-right text-right py-4">
				<button 
					class="btn btn-outline-ssm text-right btn-round"
					(click)="resetForm()"
				>
					Reset
				</button>

				<button 
					class="btn btn-ssm text-right btn-round"
					[disabled]="!billingForm.valid"
					(click)="create()"
				>
					Proceed
				</button>
			</div>
		</form>
	</div>
</div>