<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                margin: 27mm 10mm 27mm 10mm;
                @top-right{
                    content: "Page " counter(page) " of " counter(pages);
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 14rem !important;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 11px;
            }
            table tr.top table td.title {
                color: #333;
            }
            table tr.heading td {
                color: #333;
            }
        </style>
    </head>

    <body>
        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        

        <div class="default-template container" style="margin-top: 15rem;">
            <p>
                ALTHOUGH ALL EFFORTS HAVE BEEN CARRIED OUT TO ENSURE 
                THAT THE INFORMATION PROVIDED IS ACCURATE AND UP TO DATE, 
                THE REGISTRAR OF COMPANIES WILL NOT BE LIABLE FOR ANY LOSSES 
                ARISING FROM ANY INACCURATE OR OMITTED INFORMATION.
            </p>
            <h3 class="font-weight-bold text-center">** CORPORATE INFORMATION **</h3>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <td>Name</td>
                        <td>: PIPELINE NETWORK SDN. BHD.</td>
                    </tr>
                    <tr>
                        <td>Last Old Name</td>
                        <td>: OLYMPIANS ENGINEERING & TECHNOLOGY SDN. BHD.</td>
                    </tr>
                    <tr>
                        <td>Date of Change</td>
                        <td>: 19-09-2011</td>
                    </tr>
                    <tr>
                        <td>Registration No.</td>
                        <td>: <strong>201101032401 (960536-K)</strong></td>
                    </tr>
                    <tr>
                        <td>Incorporation Date</td>
                        <td>: 01-03-2011</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>
                            <p>: Limited by Shares</p>
                            <p>: Private Limited</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>
                            <p>Existing</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Registered Address</td>
                        <td>
                            
                            <p class="mb-0">: 2-37, PV 128, 128 JALAN GENTING KLANG</p>
                            <p class="mt-0">  KUALA LUMPUR</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td>: 53300</td>
                    </tr>
                    <tr>
                        <td>Origin</td>
                        <td>
                            : Malaysia
                        </td>
                    </tr>
                    <tr>
                        <td>Business Address</td>
                        <td>
                            <p class="mb-0">: C-3A-12, METROPOLITAN SQUARE  </p>
                            <p class="my-0"> JALAN PJU 8/1, DAMANSARA PERDANA</p>
                            <p class="my-0">  PETALING JAYA </p>
                            <p class="mt-0">  SELANGOR </p>
                        </td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td>: 47820</td>
                    </tr>
                    <tr>
                        <td>Nature Of Business</td>
                        <td>: PROVIDING COMPUTER, INFORMATION TECHNOLOGY, SOFTWARE, APPLICATION, COMMUNICATION AND OTHER RELATED SERVICES 
                        </td>
                    </tr>
                </table>
            </div>

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** SUMMARY OF SHARE CAPITAL **</h3>
            <p>Name: PIPELINE NETWORK SDN. BHD.</p>
            <p>Registration No.: 201101032401 (960536-K)</p>
            <p>Total Issued: RM 1000000.0000</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-right">CASH</th>
                            <th class="text-right">OTHERWISE THAN CASH</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>ORDINARY</td>
                            <td class="text-right">
                                1000000 
                            </td>
                            <td class="text-right">0</td>
                        </tr>
                        <tr>
                            <td>PREFERENCE</td>
                            <td class="text-right">0</td>
                            <td class="text-right">0</td>
                        </tr>
                        <tr>
                            <td>OTHERS</td>
                            <td class="text-right">0</td>
                            <td class="text-right">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** DIRECTORS / OFFICERS **</h3>
            <p>Name: PIPELINE NETWORK SDN. BHD.</p>
            <p>Registration No.: 201101032401 (960536-K)</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <thead>
                        <tr>
                            <th>Name/Address</th>
                            <th>ID/Passport</th>
                            <th>Designation</th>
                            <th>Date Of Appointment</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0">MOHAMAD AFEEZ BIN ABDUL AZIZ</p>
                                <p class="my-0">NO.1, JALAN KEMUNING</p>
                                <p class="my-0">02600</p>
                                <p class="mt-0">PERLIS</p> 
                            </td>
                            <td>
                                900629025437
                            </td>
                            <td>
                                <p class="mt-0">Director</p> 
                            </td>
                            <td>19-09-2011</td>
                        </tr>

                        <tr>
                            <td>
                                <p class="mb-0">LEE HOOI TONG</p>
                                <p class="my-0">19, JALAN PERDANA 9/5,</p>
                                <p class="my-0">TAMAN PANDAN PERDANA,</p>
                                <p class="my-0">55300</p>
                                <p class="mt-0">KUALA LUMPUR</p> 
                            </td>
                            <td>
                                860616055019
                            </td>
                            <td>
                                <p class="mt-0">Secretary</p> 
                            </td>
                            <td>07-03-2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** SHAREHOLDERS / MEMBERS **</h3>
            <p>Name: PIPELINE NETWORK SDN. BHD.</p>
            <p>Registration No.: 201101032401 (960536-K)</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <thead>
                        <tr>
                            <th>IC/Passport/
                                Registration No.</th>
                            <th>Name/Company Name</th>
                            <th>Total Of Share</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>
                                900629025437
                            </td>
                            <td>MOHAMAD AFEEZ BIN ABDUL AZIZ</td>
                            <td>RM 1000000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** COMPANY CHARGES **</h3>
            <p>Name: PIPELINE NETWORK SDN. BHD.</p>
            <p>Registration No.: 201101032401 (960536-K)</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tbody>
                        
                    </tbody>
                </table>
            </div>

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** SUMMARY OF FINANCIAL INFORMATION **</h3>
            <p>Name: PIPELINE NETWORK SDN. BHD.</p>
            <p>Registration No.: 201101032401 (960536-K)</p>
            <div class="table-responsive">
                <table class="table borderless">
                    <tr>
                        <td>Auditor</td>
                        <td>
                            HLCO (AF002073)
                        </td>
                    </tr>
                    <tr>
                        <td>Auditor Address</td>
                        <td>
                            <p>2-38,PV 128,128,</p>
                            <p>JALAN GENTING KLANG</p>
                            <p>53300, KUALA LUMPUR</p>
                            <p>WILAYAH PERSEKUTUAN</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Exempt Private Company</td>
                        <td>: N/A</td>
                    </tr>
                    <tr>
                         <td>Financial Year End</td>
                        <td>
                             04-12-2012
                        </td>
                    </tr>
                    <tr>
                        <td>Unqualified Reports (Y/N)</td>
                        <td>
                            Y
                        </td>
                    </tr>
                    <tr>
                        <td>Consolidated Accounts (Y/N)</td>
                        <td>
                            N
                        </td>
                    </tr>
                    <tr>
                        <td>Data of Tabling</td>
                        <td>
                            17-06-2014
                        </td>
                    </tr>
                    <tr>
                        <th>Balance Sheet</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Non-current Assets</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td>Current Assets</td>
                        <td class="text-right">
                            1000.00
                        </td>
                    </tr>
                    <tr>
                        <td>Non-current Liabilities</td>
                        <td class="text-right"> 
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td>Current Liabilities</td>
                        <td class="text-right"> 
                            1436.00
                        </td>
                    </tr>
                    <tr>
                        <td>Share Capital</td>
                        <td class="text-right">
                            1000.00
                        </td>
                    </tr>
                    <tr>
                        <td>Reserve</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td>Retain Interest</td>
                        <td class="text-right">
                            -1436.00
                        </td>
                    </tr>
                    <tr>
                        <td>Minority Interest</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
    
                    <tr>
                        <th>Income Statement Items</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Revenue</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td>Profit / (Loss) Before Tax</td>
                        <td class="text-right">
                            -1436.00
                        </td>
                    </tr>
                    <tr>
                        <td>Profit / (Loss) After Tax</td>
                        <td class="text-right">
                            -1436.00
                        </td>
                    </tr>
                    <tr>
                        <td>Net Dividend</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td>Minority Interest</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>

    <footer>
        <p></p>
    </footer>
</html>

