<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">CBID Application List</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-align-left text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> CBID </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                CBID Application List
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 clas="m-0">Application List</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Reference ID</th>
                                <th scope="col">Receipt No.</th>
                                <th scope="col">Applicant Name</th>
                                <th scope="col">Organization</th>
                                <th scope="col">Address</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Status</th>
                                <th scope="col">Pending Date</th>
                                <th scope="col">In-Progress Date</th>
                                <th scope="col">Completed Date</th>
                                <th scope="col">Remarks</th>
                                <th scope="col">PIC Name</th>
                                <th scope="col" class="text-right">Action</th>
                            </tr>
                        </thead>

                        <tbody class="list">
                            <tr>
                                <th scope="row">CBID124124</th>
                                <td>SSMB202008501</td>
                                <td>Afiq</td>
                                <td>AAA SDN BHD</td>
                                <td>KL Sentral</td>
                                <td>afiq@ssm.com.my</td>
                                <td>012-312345678</td>
                                <td>
                                    <span class="badge badge-success badge-sm">Approve</span>
                                </td>
                                <td>10/07/2020</td>
                                <td>10/07/2020</td>
                                <td>10/07/2020</td>
                                <td>Pending reply from client</td>
                                <td>Farah</td>
                            </tr>
                            <tr>
                                <th scope="row">CBID124124</th>
                                <td>SSMB202008501</td>
                                <td>Afiq</td>
                                <td>AAA SDN BHD</td>
                                <td>KL Sentral</td>
                                <td>afiq@ssm.com.my</td>
                                <td>012-312345678</td>
                                <td>
                                    <span class="badge badge-success badge-sm">Approve</span>
                                </td>
                                <td>10/07/2020</td>
                                <td>10/07/2020</td>
                                <td>10/07/2020</td>
                                <td>Pending reply from client</td>
                                <td>Farah</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>