<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Application Requests</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-align-left text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> CBID </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Application Requests
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 clas="m-0">Requests List</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Requestor</th>
                                <th scope="col">Request</th>
                                <th scope="col">Date Requested</th>
                                <th scope="col" class="text-right">Action</th>
                            </tr>
                        </thead>

                        <tbody class="list">
                            <tr>
                                <th scope="row">CBID124124</th>
                                <td>Amin Redzuan</td>
                                <td>
                                    
                                </td>
                                <td>10/07/2020</td>
                                <td class="text-right">
                                    <button class="btn btn-success btn-sm" type="button">Approve</button>
                                    <button class="btn btn-warning ml-2 btn-sm" type="button">Reject</button>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">CBID124123</th>
                                <td>Amin Redzuan</td>
                                <td>
                                    
                                </td>
                                <td>10/07/2020</td>
                                <td class="text-right">
                                    <button class="btn btn-success btn-sm" type="button">Approve</button>
                                    <button class="btn btn-warning ml-2 btn-sm" type="button">Reject</button>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">CBID124122</th>
                                <td>Amin Redzuan</td>
                                <td>
                                    
                                </td>
                                <td>10/07/2020</td>
                                <td class="text-right">
                                    <button class="btn btn-success btn-sm" type="button">Approve</button>
                                    <button class="btn btn-warning ml-2 btn-sm" type="button">Reject</button>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">CBID124121</th>
                                <td>Amin Redzuan</td>
                                <td>
                                    
                                </td>
                                <td>10/07/2020</td>
                                <td class="text-right">
                                    <button class="btn btn-success btn-sm" type="button">Approve</button>
                                    <button class="btn btn-warning ml-2 btn-sm" type="button">Reject</button>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">CBID124120</th>
                                <td>Amin Redzuan</td>
                                <td>
                                    
                                </td>
                                <td>10/07/2020</td>
                                <td class="text-right">
                                    <button class="btn btn-success btn-sm" type="button">Approve</button>
                                    <button class="btn btn-warning ml-2 btn-sm" type="button">Reject</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>