<ngx-loading-bar ref="http"></ngx-loading-bar>
<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            CBID Application List
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-align-left text-dark"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark"> CBID </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                CBID Application List
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Application List</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="-1">All</option>
                  </select>
                  records
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="tableTemp"
            [scrollbarH]="true"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="No">
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                <strong>{{ rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Product</span>
              </ng-template>
              
              <ng-template let-row="row" ngx-datatable-cell-template>
                
                {{row.service.name}}  

              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>            

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Organization</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.organisation }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Email</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.email_address }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Phone No.</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.phone_number }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="badge badge-danger" *ngIf="row.pending && !row.in_progress && !row.complete">Pending</span>
                <span class="badge badge-info" *ngIf="row.pending && row.in_progress && !row.complete">In Progress</span>
                <span class="badge badge-success" *ngIf="row.pending && row.in_progress && row.complete">In Progress</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Pending Date</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.created_date }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>In Progress Date</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.in_progress_date">
                  {{ row.in_progress_date }}
                </span>
                <span *ngIf="!row.in_progress_date">
                  NA
                </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Completed Date</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.completed_date">
                  {{ row.completed_date }}
                </span>
                <span *ngIf="!row.completed_date">
                  NA
                </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Remarks</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.remarks }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>PIC</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="!row.pic">
                  NA
                </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Action</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="openModal(editModal, row)" style="cursor: pointer">
                  <button class="btn btn-sm btn-info">
                    <i class="fas fa-edit"></i>
                  </button> 
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editModal>
  <div class="modal-header bg-default">
      <h6 class="modal-title text-white my-auto" id="modal-title-default">
          Update Status
      </h6>

      <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
          (click)="closeModal()"
      >
          <span aria-hidden="true" class="text-white my-auto"> × </span>
      </button>
  </div>

  <div class="modal-body">
      <form [formGroup]="updateForm">
          <div class="row">
            <div class="col-lg-4">
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="pendingCheck" checked disabled>
                    <label class="custom-control-label" for="pendingCheck">Pending</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Pending Date</label>
                    <input class="form-control" [value]="selectedRow.created_date" disabled>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4" *ngIf="selectedRow.in_progress">
              <div class="row">
                <div clas="col">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="in_progressCheck" checked disabled>
                    <label class="custom-control-label" for="in_progressCheck">In Progress</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">In Progress Date</label>
                    <input class="form-control" disabled [value]="selectedRow.in_progress_date">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4" *ngIf="!selectedRow.in_progress">
              <div class="row">
                <div clas="col">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="in_progressCheck" formControlName="in_progress">
                    <label class="custom-control-label" for="in_progressCheck">In Progress</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">In Progress Date</label>
                    <input class="form-control" formControlName="in_progress_date" type="date">
                  </div>
                </div>
              </div>
            </div>
     

            <div class="col-lg-4" *ngIf="selectedRow.completed">
              <div class="row">
                <div clas="col">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="completedCheck" checked disabled>
                    <label class="custom-control-label" for="completedCheck">Completed</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Completed Date</label>
                    <input class="form-control" disabled [value]="selectedRow.completed_date">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4" *ngIf="!selectedRow.completed">
              <div class="row">
                <div clas="col">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="completedCheck" formControlName="completed">
                    <label class="custom-control-label" for="completedCheck">Completed</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Completed Date</label>
                    <input class="form-control" formControlName="completed_date" type="date">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label">Remarks</label>
                    <textarea class="form-control" formControlName="remarks"></textarea>
                  </div>
                </div>

          </div>
          
      </form>
  </div>

  <div class="modal-footer">
      <button 
          class="btn btn-success"
          type="button"
          (click)="updateApplication()"
        >
          Update
      </button>

      <button
          class="btn btn-outline-danger ml-auto"
          data-dismiss="modal"
          type="button"
          (click)="closeModal()">
          Close
      </button>
  </div>
</ng-template>