<div class="wrapper">
	<div class="container pt-9">
		<div class="row">
			<div class="col-md-12 w-100">
				<div class="card card-invoice" id="receipt" #receipt>
					<div class="card-header text-center">
						
						<div class="row justify-content-between">

							<div class="col-md-4 text-left mt--2">
								<img alt="Logo" class="mb-2 w-100" src="assets/img/logo/SSM-Logo.png" />
							</div>

							<div class="col-lg-5 col-md-6 text-left pt-4">
								<h4 class="mb-0">SURUHANJAYA SYARIKAT MALAYSIA</h4>
								<p>
									MENARA SSM @ SENTRAL <br />
									No 7, Jalan Stesen Sentral 5,<br />
									Kuala Lumpur Sentral,<br />
									50623 Kuala Lumpur.
								</p>
								<p>
									Tel: 03-77214000 <br />
								</p>
							</div>
						</div>

						<h2 class="text-center py-2">OFFICIAL RECEIPT</h2>
						
						<hr class="my-3 w-100" style="border-top: 1px dotted black;">

						<div class="row text-left">
							<div class="col-md-6">
								<div class="row">
									<div class="col-auto">
										<p class="m-0">
											{{transaction?.name}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-auto">
										<p class="m-0">
											{{transaction?.address1}}, {{transaction?.address2}}, {{transaction?.address3}}, <br />
											{{transaction?.postcode}}, {{transaction?.city}}<br />
											{{transaction?.state}}, <br />
											{{transaction?.country}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col">
										<p class="m-0">
											{{transaction?.email_address}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-auto">
										<p class="m-0">
											{{transaction?.phone_number}}
										</p>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="row">
									<div class="col-md-4">
										<p class="m-0">Receipt No.</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: {{transaction?.receipt_no}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">Reference No.</p>
									</div>
									<div class="col">
										<p class="m-0">
											: {{transaction?.reference_no}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">Mode of Payment</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: 
											<span *ngIf="transaction?.payment_method == 'CC'">
												Credit Card
											</span>

											<span *ngIf="transaction?.payment_method == 'DD'">
												Direct Debit
											</span>

											<span *ngIf="transaction?.payment_method == 'WA'">
												e-Wallet
											</span>

											<span *ngIf="transaction?.payment_method == 'NA'">
												Not Available
											</span>
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">
											Transaction ID
										</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: {{transaction?.transaction_id}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">
											Date & time
										</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: {{transaction?.created_date}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card-body w-100 p-0">
						<table class="table text-right overflow-auto">
							<thead class="bg-default">
								<tr>
									<td class="text-center text-white" style="width: 10% !important;">
										No.
									</td>
									<td class="text-center text-white" style="width: 30% !important;">
										Item
									</td>
									<td class="text-center text-white" style="width: 30% !important;">
										Product
									</td>
									<td class="text-center text-white" style="width: 10% !important;">
										Unit
									</td>
									<td class="text-center text-white" style="width: 10% !important;">
										Unit Price (RM)
									</td>
									<td class="text-center text-white text-right" style="width: 10% !important;">
										Total (RM)
									</td>
								</tr>
							</thead>
							<tbody class="list">
								<tr *ngFor="let item of items">
									<td class="text-center" style="word-break:break-all !important;">
										<span>{{item?.index}}</span>
									</td>
									<td class="text-left" style="word-break:break-all !important;">
										
										<div *ngIf="item?.entity">
											{{item?.entity.name}} <br />
											<span *ngIf="item?.entity.type_of_entity == 'CP'">
												{{item?.entity.company_number_new}} 
												({{item?.entity.company_number}}-{{item?.entity.check_digit}})
											</span>

											<span *ngIf="item?.entity.type_of_entity == 'BS'">
												{{item?.entity.registration_number_new}} 
												({{item?.entity.registration_number}}-{{item?.entity.check_digit}})
											</span>

											<span *ngIf="item?.entity.type_of_entity == 'AD'">
												{{item?.entity.audit_firm_number}}
											</span>
										</div>

										<span *ngIf="item?.entity">
											
										</span>

										<span *ngIf="item.product_search_criteria">
											-
										</span>

										<span *ngIf="item.service_request">
											-
										</span>
									</td>
									
									<td class="text-left" style="word-break:break-all !important;">
										<span *ngIf="item?.product">
											{{item?.product.name}}
										</span>

										<span *ngIf="item?.product?.ctc">
											- CTC
										</span>

										<div *ngIf="item.product">
											<span *ngIf="item.product.language == 'MS'">BM</span>
											<span *ngIf="item.product.language == 'EN'">EN</span>
										</div>

										<span *ngIf="item?.image_form_type != 'NA'">
											{{item?.image_form_type}}
										</span>

										<span *ngIf="item.service_request?.service.entities_type =='RB' && item.service_request?.service.product_type =='ST'">
											{{item.service_request?.service.name}}
										</span>
										<span *ngIf="item.service_request?.service.entities_type =='RB' && item.service_request?.service.product_type =='LS'">
											{{item.service_request?.service.name}}
										</span>
										<span *ngIf="item.service_request?.service.entities_type =='RC' && item.service_request?.service.product_type =='ST'">
											{{item.service_request?.service.name}}
										</span>
										<span *ngIf="item.service_request?.service.entities_type =='RC' && item.service_request?.service.product_type =='LS'">
											{{item.service_request?.service.name}}
										</span>

										<span *ngIf="item.product_search_criteria">
											Customized Data Package A
										</span>
									</td>
									<td class="text-left">
										1
									</td>
									<td class="text-left" style="word-break:break-all !important;">
										<span *ngIf="item?.product">
											{{item?.product.fee/100 | number: '1.2-2'}}
										</span>
										<span *ngIf="item.product_search_criteria">
											RM4.00 / company
										</span>
										<span *ngIf="item.service_request">
											{{item.service_request?.service.fee/100 | number: '1.2-2'}}
										</span>
									</td>
									<td class="text-right">
										<span *ngIf="item?.product">
											{{item?.product.fee/100 | number: '1.2-2'}}
										</span>
										<span *ngIf="item.product_search_criteria">
											{{item.product_search_criteria.total_price | number: '1.2-2'}}
										</span>
										<span *ngIf="item.service_request">
											{{item.service_request?.service.fee/100 | number: '1.2-2'}}
										</span>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th colspan="4"></th>
									<th class="text-left h4">Total</th>
									<th class="h4 text-right">{{cart.total_price_before_tax/100 | number: '1.2-2'}}</th>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="card-footer text-center">
						<div class="col-md-12 ml-auto">
							<h5>Thank you!</h5>
							<p class="description">
								If you encounter any issues related to the invoice you can
								contact us at email: enquiry@ssm.com.my
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mx-auto text-center">
				<button 
					class="btn btn-ssm rounded-pill mt-3 mb-6" 
					type="button"
					(click)="downloadReceipt()"
				>
					Print
				</button>
				<button 
					class="btn btn-outline-ssm rounded-pill mt-3 mb-6" 
					type="button"
					(click)="navigatePage('profile')"
				>
					My Orders
				</button>
			</div>
		</div>
	</div>
</div>