<div class="wrapper">
	<div class="container pt-9">
		<div class="row">
			<div class="col-md-10 mx-auto">
				<div class="card card-invoice">
					<div class="card-header text-center">
						<div class="row justify-content-between">
							<div class="col-md-4 text-left mt--2">
								<img alt="Logo" class="mb-2 w-100" src="assets/img/logo/SSM-Logo.png" />
							</div>

							<div class="col-lg-5 col-md-6 text-left pt-4">
								<h4 class="mb-0">SURUHANJAYA SYARIKAT MALAYSIA</h4>
								<p>
									MENARA SSM @ SENTRAL <br />
									No 7, Jalan Stesen Sentral 5,<br />
									Kuala Lumpur Sentral,<br />
									50623 Kuala Lumpur.
								</p>
								<p>
									Tel: 03-77214000 <br />
									Fax: 03-77214001 <br />
									Email: enquiry@ssm.com.my
								</p>
							</div>
						</div>
						
						<hr class="my-3 w-100" style="border-top: 1px dotted black;">

						<div class="row text-left">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-4">
										<p class="m-0">Name</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: {{transaction?.name}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">Email</p>
									</div>
									<div class="col">
										<p class="m-0">
											: {{transaction?.email_address}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">Address</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: {{transaction?.address1}}, <br />
											{{transaction?.address2}}, <br />
											{{transaction?.address2}}, <br />
											{{transaction?.postcode}}, {{transaction?.city}}<br />
											{{transaction?.state}}, <br />
											{{transaction?.country}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">
											Phone No.
										</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: {{transaction?.phone_number}}
										</p>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="row">
									<div class="col-md-4">
										<p class="m-0">Receipt No.</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: PP202010060000001
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">Reference No.</p>
									</div>
									<div class="col">
										<p class="m-0">
											: ACN1241241241
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">Mode of Payment</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: Credit Card
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">
											Transaction ID
										</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: M1241412455
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<p class="m-0">
											Date & time
										</p>
									</div>
									<div class="col-auto">
										<p class="m-0">
											: {{transaction?.created_date}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<div *ngIf="isReceipt" class="table-responsive" #receipt>
									<table class="table text-right table-flush">
										<thead class="bg-default">
											<tr>
												<th class="text-center text-white" scope="col">
													No.
												</th>
												<th class="text-center text-white" scope="col">
													Item
												</th>
												<th class="text-center text-white" scope="col">
													Product
												</th>
												<th class="text-center text-white" scope="col">
													Unit
												</th>
												<th class="text-center text-white" scope="col">
													Unit Price (RM)
												</th>
												<th class="text-center text-white" scope="col">
													Total (RM)
												</th>
											</tr>
										</thead>
										<tbody class="list">
											<tr *ngFor="let item of items">
												<td class="text-left">
													<span>{{item?.index}}</span>
												</td>
												<td class="text-left">
													
													<div *ngIf="item?.entity">
														<span *ngIf="item?.entity == 'CP'">
															{{item?.entity.company_number_new}} 
															({{item?.entity.company_number}}-{{item?.entity.check_digit}}) / 
														</span>
	
														<span *ngIf="item?.entity == 'BS'">
															{{item?.entity.registration_number_new}} 
															({{item?.entity.registration_number}}-{{item?.entity.check_digit}}) / 
														</span>
	
														<span *ngIf="item?.entity == 'AD'">
															{{item?.entity.audit_firm_number}} / 
														</span>
													</div>

													<span *ngIf="item?.entity">
														{{item?.entity.name}}
													</span>
												</td>
												<td class="text-left">
													<span *ngIf="item?.product">
														{{item?.product.name}}
													</span>

													<span *ngIf="item?.product?.ctc">
														- CTC
													</span>

													<span *ngIf="item?.image_form_type != 'NA'">
														{{item?.image_form_type}}
													</span>
												</td>
												<td class="text-left">
													1
												</td>
												<td class="text-left">
													<span *ngIf="item?.product">
														{{item?.product.fee/100 | number: '1.2-2'}}
													</span>
												</td>
												<td class="text-left">
													<span *ngIf="item?.product">
														{{item?.product.fee/100 | number: '1.2-2'}}
													</span>
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th class="text-right h4" colspan="5">Total</th>
												<th class="h4">{{cart.total_price_before_tax/100 | number: '1.2-2'}}</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer text-center">
						<div class="col-md-12 ml-auto">
							<h5>Thank you!</h5>
							<p class="description">
								If you encounter any issues related to the invoice you can
								contact us at:
							</p>
							<h5 class="d-block">
								email:
								<span class="text-muted">
									enquiry@ssm.com.my
								</span>
							</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mx-auto text-center">
				<button 
					class="btn btn-ssm rounded-pill mt-3 mb-6" 
					type="button"
					(click)="downloadReceipt()"
				>
					Print
				</button>
				<button 
					class="btn btn-outline-ssm rounded-pill mt-3 mb-6" 
					type="button"
					(click)="navigatePage('profile')"
				>
					My Orders
				</button>
			</div>
		</div>
	</div>
</div>