<div class="wrapper">
	<div class="container pt-9">
		<div class="row">
			<div class="col-md-10 mx-auto">
				<div class="card card-invoice">
					<div class="card-header text-center">
						<div class="row justify-content-between">
							<div class="col-md-4 text-left mt--2">
								<img alt="Logo" class="mb-2 w-100" src="assets/img/logo/SSM-Logo.png" />
							</div>

							<div class="col-lg-5 col-md-6 text-left pt-4">
								<h4 class="mb-0">SURUHANJAYA SYARIKAT MALAYSIA</h4>
								<p>
									MENARA SSM @ SENTRAL <br />
									No 7, Jalan Stesen Sentral 5,<br />
									Kuala Lumpur Sentral,<br />
									50623 Kuala Lumpur.
								</p>
								<p>
									Tel: 03-77214000 <br />
									Fax: 03-77214001 <br />
									Email: enquiry@ssm.com.my
								</p>
							</div>
						</div>
						
						<hr class="my-3 w-100" style="border-top: 1px dotted black;">

						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-2">
										<p>Name</p>
									</div>
									<div class="col">
										<p>
											:
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-2">
										<p>Email</p>
									</div>
									<div class="col">
										<p>
											: 
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-2">
										<p>Address</p>
									</div>
									<div class="col">
										<p>
											: address1, <br />
											address2 , <br />
											address3, <br />
											postcode, city<br />
											state, <br />
											country
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-2">
										Phone No.
									</div>
									<div class="col">
										<p>
											:
										</p>
									</div>
								</div>


								<p>
									Name: <br />
									Email: <br />
									Address: <br />
									Phone No.: <br />
								</p>
							</div>

							<div class="col-md-6">
								
							</div>
						</div>

						<div class="row justify-content-md-between">
							<div class="col-md-5">
								<h5 class="mt-3 text-left">
									Name: Syafiq Basri <br />
									Organization: Pipeline Network Sdn. Bhd.<br />
									Address: C-3A-12,<br />

									Metropolitan Square, <br />

									Jalan PJU 8/1, <br />

									Damansara Perdana, <br />

									Petaling Jaya 47820 <br />

									Selangor, Malaysia. <br />
									Phone No.: 0176866711

								</h5>
							</div>
							<div class="col-lg-4 col-md-5">
								<h5 class="text-left">
									Invoice No.: INV/MY00012212 <br />
									Reference No.: ACN134124 <br />
									Payment Method: FPX <br />
									Transaction ID: 124124245 <br />
									Date & Time:
								</h5>
							</div>
						</div>
					</div>

					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<div class="table-responsive">
									<table class="table text-right">
										<thead class="bg-default">
											<tr>
												<th class="text-right text-white" scope="col">
													Item
												</th>
												<th class="text-right text-white" scope="col">
													Qty
												</th>
												<th class="text-right text-white" scope="col">
													Rate
												</th>
												<th class="text-right text-white" scope="col">
													Amount
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Company Profile (ROC)</td>
												<td>1</td>
												<td>RM 30.00</td>
												<td>RM 30.00</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th class="h4">Total</th>
												<th class="text-right h4" colspan="3">RM 30.00</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer text-right">
						<div class="col-md-5 ml-auto">
							<h5>Thank you!</h5>
							<p class="description">
								If you encounter any issues related to the invoice you can
								contact us at:
							</p>
							<h6 class="d-block">
								email:
								<small class="text-muted">
									support@ssm.com
								</small>
							</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mx-auto text-center">
				<button 
					class="btn btn-ssm rounded-pill mt-3 mb-6" 
					type="button"
				>
					Print
				</button>
				<button 
					class="btn btn-outline-ssm rounded-pill mt-3 mb-6" 
					type="button"
					(click)="navigatePage('profile')"
				>
					My Orders
				</button>
			</div>
		</div>
	</div>
</div>