<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
      <div class="page-header page-header-small header-filter-white">
        <div
          class="page-header-image"
          style="background-image: url('assets/img/banner/banner-enquiry.jpg')"
        ></div>
        <div class="container">
          <div class="header-body text-center mb-9">
            <div class="row justify-content-center">
              <div class="col">
                <h1 class="text-ssm font-weight-bolder">ENQUIRY</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <div class="section mt--9">
      <div class="container">
        <h3 class="title font-weight-bolder">ENQUIRY</h3>
        <h1 class="title font-weight-bolder text-ssm">HOW CAN WE HELP?</h1>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </h5>
  
        <div class="row flex justify-content-center pt-7">
          <div class="col-3">
            <div class="card card-blog card-background" data-animation="zooming">
              <div
                class="full-background bg-ssm"
                style="
                  background-image: url('assets/img/background/menara_ssm.jpg');
                "
              ></div>
              <a href="javascript:;" (click)="navigatePage('/enquiry/general')">
                <div class="card-body">
                  <div class="content-bottom text-center">
                    <h1 class="card-title mb-8 text-center">General Enquiry</h1>
                  </div>
                </div>
              </a>
            </div>
          </div>
  
          <div class="col-3">
            <div class="card card-blog card-background" data-animation="zooming">
              <div
                class="full-background bg-ssm"
                style="
                  background-image: url('assets/img/background/menara_ssm.jpg');
                "
              ></div>
              <a href="javascript:;" (click)="navigatePage('/enquiry/egov')">
                <div class="card-body">
                  <div class="content-bottom text-center">
                    <h1 class="card-title mb-8 text-center">eGOV Enquiry</h1>
                  </div>
                </div>
              </a>
            </div>
          </div>
  
          <div class="col-3">
            <div class="card card-blog card-background" data-animation="zooming">
              <div
                class="full-background bg-ssm"
                style="
                  background-image: url('assets/img/background/menara_ssm.jpg');
                "
              ></div>
              <a href="javascript:;" (click)="navigatePage('/enquiry/history')">
                <div class="card-body">
                  <div class="content-bottom text-center">
                    <h1 class="card-title mb-8 text-center">My Enquiry History</h1>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  