<div class="wrapper">
    <div class="cd-section">
        <div class="section features-7">
            <div class="container mt-6">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="display-3">Orders</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-7">
            <div class="col">
                <div class="card">
                    <div class="table">
                        <table class="table table-striped">
                            <thead class="text-primary">
                                <tr>
                                    <th>Order No.</th>
                                    <th>Entity Name</th>
                                    <th>Product Description</th>
                                    <th>Language</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr *ngFor="let data of cartNew">
                                    <td>SSM12421412</td>
                                    <td>{{data.entity_number}} / {{data.entity}}</td>
                                    <td>
                                        <span *ngIf="data.product_id == 'f941af40-ba69-441c-ab93-e328101c192b'">
                                            Company Profile 
                                        </span>
                                    </td>
                                    <td>BM</td>
                                    <td>
                                        <button 
                                            class="btn btn-sm btn-info"
                                            (click)="downloadFile(data)"
                                        >
                                            Download
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>