<div class="wrapper">
    <div class="cd-section">
        <div class="section features-7">
            <div class="container-fluid mt-6 px-6">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="display-3">My Orders</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-6">
        <div class="row mb-7">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="heading-small text-muted mb-4">My orders</h6>
                        <p class="my-0">Disclaimer:</p>
                        <ol>
                            <li class="font-smaller">
                                Every successful purchase will be kept in order menu for 7
                                day(s) from the date purchased. Please download your
                                document accordingly.
                            </li>
                            <li class="font-smaller">
                                If customer are unable to download product purchased within
                                7 day(s). Please contact SSM Enquiry.
                            </li>
                        </ol>

                        <div class="dataTables_wrapper py-4">
                            <div class="row">
								<div class="col-sm-12 col-md-6">
									<div class="dataTables_length" id="datatable_submitted_length">
										<label>
											Show
											<select 
												name="datatable_submitted_length" 
												aria-controls="datatable"
												class="form-control form-control-sm" 
												(change)="entriesChange($event)"
											>
												<option value="10" [selected]="tableEntries == 10">10</option>
												<option value="25" [selected]="tableEntries == 25">25</option>
												<option value="50" [selected]="tableEntries == 50">50</option>
												<option value="100" [selected]="tableEntries == 100">100</option>
												<option value="-1" [selected]="tableEntries == -1">All</option>
											</select>
											record
										</label>
									</div>
								</div>
							</div>
                            <ngx-datatable 
                                class="bootstrap selection-cell"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [limit]="tableEntries != -1 ? tableEntries : undefined" 
                                [rows]="tableTemp"
                                (activate)="onActivate($event)"
                            >

                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span class="table-header">Order Number</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <!-- {{row.product.name}} -->
                                        SSM1241241245264
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span class="table-header">Date & Time Purchased</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row.created_date }}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span class="table-header">Entity Name</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.entity?.name}}
                                    </ng-template>
                                </ngx-datatable-column>
                                
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span class="table-header">Language</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.product?.language}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span class="table-header">Product</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.product?.name}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span class="table-header">Status</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="badge badge-success">Success</span>
                                    </ng-template>
                                </ngx-datatable-column>
                                
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template>
                                        <span class="table-header">Document Output</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <button class="btn btn-ssm btn-sm" (click)="downloadOutput(row)">
                                            Download
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-fussion" [fullScreen]="true">
	<p style="color: white">Loading...</p>
</ngx-spinner>