<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
        <div class="page-header page-header-small header-filter-white">
            <div class="page-header-image" style="background-image: url('assets/img/banner/banner-faq.jpg');"></div>
            <div class="container">
                <div class="header-body text-center mb-9">
                    <div class="row justify-content-center">
                        <div class="col">
                            <h1 class="text-ssm font-weight-bolder">FREQUENTYLY ASKED QUESTIONS (FAQs)</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section mt--9">
        <div class="accordion-1">
            <div class="container">
                <h3 class="title font-weight-bolder">FAQs</h3>
                <h1 class="title font-weight-bolder text-ssm">HOW CAN WE HELP?</h1>
                <h5>SSM has to provide text data</h5>
                <!-- <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <h2 class="title mb-3 mt-5">Frequently Asked Question</h2>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-12 ml-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button 
                                            aria-controls="collapseOne"
                                            class="btn btn-link w-100 text-ssm text-left"
                                            [attr.aria-expanded]="!isCollapsed" 
                                            (click)="isCollapsed = !isCollapsed"
                                            id="collapseOne"
                                            type="button">
                                            How do I order?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div 
                                    aria-labelledby="headingOne"
                                    class="show"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed"
                                    id="collapseOne">
                                    <div class="card-body opacity-8">
                                        SSM has to provide text data.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button
                                            aria-controls="collapseTwo"
                                            class="btn btn-link w-100 text-ssm text-left collapsed"
                                            [attr.aria-expanded]="!isCollapsed1"
                                            (click)="isCollapsed1 = !isCollapsed1"
                                            id="collapseTwo"
                                            type="button">
                                            How can i make the payment?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div 
                                    aria-labelledby="headingTwo"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed1"
                                    id="collapseTwo">
                                    <div class="card-body opacity-8">
                                        SSM has to provide text data.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button 
                                            aria-controls="collapseThree"
                                            class="btn btn-link w-100 text-ssm text-left collapsed"
                                            [attr.aria-expanded]="!isCollapsed2"
                                            (click)="isCollapsed2 = !isCollapsed2"
                                            id="collapseThree"
                                            type="button">
                                            How much time does it take to receive the order?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div aria-labelledby="headingThree" data-parent="#accordionExample" [isAnimated]="true"
                                    [collapse]="isCollapsed2" id="collapseThree">
                                    <div class="card-body opacity-8">
                                        SSM has to provide text data.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button
                                            aria-controls="collapseFour"
                                            class="btn btn-link w-100 text-ssm text-left"
                                            [attr.aria-expanded]="!isCollapsed3"
                                            (click)="isCollapsed3 = !isCollapsed3"
                                            id="collapseFour"
                                            type="button">
                                            Can I resell the products?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div
                                    aria-labelledby="headingFour"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed3"
                                    id="collapseFour">
                                    <div class="card-body opacity-8">
                                        SSM has to provide text data.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFifth">
                                    <h5 class="mb-0">
                                        <button
                                            aria-controls="collapseFifth"
                                            class="btn btn-link w-100 text-ssm text-left"
                                            [attr.aria-expanded]="!isCollapsed4"
                                            (click)="isCollapsed4 = !isCollapsed4"
                                            id="collapseFifth"
                                            type="button">
                                            Where do I find the shipping details?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div
                                    aria-labelledby="headingFifth"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed4"
                                    id="collapseFifth">
                                    <div class="card-body opacity-8">
                                        SSM has to provide text data.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>