<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
        <div class="page-header page-header-small header-filter-white">
            <div class="page-header-image" style="background-image: url('assets/img/banner/banner-faq.jpg');"></div>
            <div class="container">
                <div class="header-body text-center mb-9">
                    <div class="row justify-content-center">
                        <div class="col">
                            <h1 class="text-ssm font-weight-bolder">FREQUENTYLY ASKED QUESTIONS (FAQs)</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section mt--9">
        <div class="accordion-1">
            <div class="container">
                <h3 class="title font-weight-bolder">FAQs</h3>
                <h1 class="title font-weight-bolder text-ssm">HOW CAN WE HELP?</h1>
                <!-- <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <h2 class="title mb-3 mt-5">Frequently Asked Question</h2>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-12 ml-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button 
                                            aria-controls="collapseOne"
                                            class="btn btn-link w-100 text-ssm text-left"
                                            [attr.aria-expanded]="!isCollapsed" 
                                            (click)="isCollapsed = !isCollapsed"
                                            id="collapseOne"
                                            type="button">
                                            What is XCESS Portal?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div 
                                    aria-labelledby="headingOne"
                                    class="show"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed"
                                    id="collapseOne">
                                    <div class="card-body opacity-8">
                                        <p align="justify" style="text-align:justify">
                                        XCESS Portal is an SSM Product Portal that provides online services to supply company and business information registered with SSM.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button
                                            aria-controls="collapseTwo"
                                            class="btn btn-link w-100 text-ssm text-left collapsed"
                                            [attr.aria-expanded]="!isCollapsed1"
                                            (click)="isCollapsed1 = !isCollapsed1"
                                            id="collapseTwo"
                                            type="button">
                                            When the Portal XCESS is can be used?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div 
                                    aria-labelledby="headingTwo"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed1"
                                    id="collapseTwo">
                                    <div class="card-body opacity-8">                                        
                                            <p align="justify" style="text-align:justify">
                                                The XCESS portal can be used on 1 January 2021.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button 
                                            aria-controls="collapseThree"
                                            class="btn btn-link w-100 text-ssm text-left collapsed"
                                            [attr.aria-expanded]="!isCollapsed2"
                                            (click)="isCollapsed2 = !isCollapsed2"
                                            id="collapseThree"
                                            type="button">
                                            How do I become a user of this XCESS Portal?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div aria-labelledby="headingThree" data-parent="#accordionExample" [isAnimated]="true"
                                    [collapse]="isCollapsed2" id="collapseThree">
                                    <div class="card-body opacity-8">
                                       <p>(a) Open the internet browser and type https://ssm4u.com.my.</p>
                                       <p>(b) Click “REGISTER” to register and obtain your user ID.</p>
                                       <p>(c) Click “SIGN IN” and key in the user ID and password if the user is a registered user of SSM4U.</p>
                                       <p>(d) Click icon “XCESS PORTAL”. </p>
                                       <p>Skrin Portal XCESS akan dipaparkan.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button
                                            aria-controls="collapseFour"
                                            class="btn btn-link w-100 text-ssm text-left"
                                            [attr.aria-expanded]="!isCollapsed3"
                                            (click)="isCollapsed3 = !isCollapsed3"
                                            id="collapseFour"
                                            type="button">
                                            What are the documents and products available for purchased at XCESS Portal?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div
                                    aria-labelledby="headingFour"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed3"
                                    id="collapseFour">
                                    <div class="card-body opacity-8">
                                        <p>Documents and products available are:</p>

                                        <p>(a)  Comapany and Business Profile</p> 
                                        <p>(b)	Statutory Document Forms & Images</p> 
                                        <p>(c)	Financial Historical/Comparison</p>
                                        <p>(d)	Certificate of Incorporation/Registration</p>
                                        <p>(e)	Particular of Directors/Officers</p>
                                        <p>(f)	Particular of Share Holders</p>
                                        <p>(g)	Particular of Registered Address</p>
                                        <p>(h)	Particular Change of Name</p>
                                        <p>(i)	Particular of Conversion</p>
                                        <p>(j)	Particular of Company Secretary</p>
                                        <p>(k)	Audit Firm Profile</p>
                                        <p>(l)	Company Listing (Bulk Purchase)</p>
                                        <p>(m)	Personal Involvement</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFifth">
                                    <h5 class="mb-0">
                                        <button
                                            aria-controls="collapseFifth"
                                            class="btn btn-link w-100 text-ssm text-left"
                                            [attr.aria-expanded]="!isCollapsed4"
                                            (click)="isCollapsed4 = !isCollapsed4"
                                            id="collapseFifth"
                                            type="button">
                                            What is the price for each of these documents and products?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div
                                    aria-labelledby="headingFifth"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed4"
                                    id="collapseFifth">
                                    <div class="card-body opacity-8">
                                        <p>Customers can refer to the Price Schedule available in the XCESS Portal.</p>
                                        <p>The price is based on the Companies Regulations 2017, Companies Act 2016.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingsixth">
                                    <h5 class="mb-0">
                                        <button
                                            aria-controls="collapsesixth"
                                            class="btn btn-link w-100 text-ssm text-left"
                                            [attr.aria-expanded]="!isCollapsed5"
                                            (click)="isCollapsed5 = !isCollapsed5"
                                            id="collapsesixth"
                                            type="button">
                                            What can I do if there is a problem using the XCESS Portal?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div
                                    aria-labelledby="headingsixth"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed5"
                                    id="collapsesixth">
                                    <div class="card-body opacity-8">
                                        <p>Customers can refer to the XCESS Portal manual which can be found on the XCESS Portal.</p>

                                        <p>Customers may contact SSM Contact Centre at 03-77214000 / fax 03-77214001 / email to <i>enquiry@ssm.com.my</i>&nbsp; for further explanation.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSeventh">
                                    <h5 class="mb-0">
                                        <button
                                            aria-controls="collapseSeventh"
                                            class="btn btn-link w-100 text-ssm text-left"
                                            [attr.aria-expanded]="!isCollapsed6"
                                            (click)="isCollapsed6 = !isCollapsed6"
                                            id="collapseSeventh"
                                            type="button">
                                            What browsers recommended to use this portal?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div
                                    aria-labelledby="headingSeventh"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed6"
                                    id="collapseSeventh">
                                    <div class="card-body opacity-8">
                                        <p>SSM Product Portal is best viewed using Chrome latest version, Mozilla latest version and Internet Explorer latest version.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingEighth">
                                    <h5 class="mb-0">
                                        <button
                                            aria-controls="collapseEighth"
                                            class="btn btn-link w-100 text-ssm text-left"
                                            [attr.aria-expanded]="!isCollapsed7"
                                            (click)="isCollapsed7 = !isCollapsed7"
                                            id="collapseEighth"
                                            type="button">
                                            Can I apply for a refund after the purchase is made?
                                            <i class="ni ni-bold-down float-right pt-1"> </i>
                                        </button>
                                    </h5>
                                </div>
                                <div
                                    aria-labelledby="headingEighth"
                                    data-parent="#accordionExample"
                                    [isAnimated]="true"
                                    [collapse]="isCollapsed7"
                                    id="collapseEighth">
                                    <div class="card-body opacity-8">
                                        <p>Refund application is only allowed if there is an error of information or data on the document / product that has been purchased.</p>

                                        <p>Any inquiries and complaints on this matter should be submitted to <i>enquiry@ssm.com.my</i> &nbsp; for the further action.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>