<div class="wrapper">
    <div class="container pt-9">
        <h3 class="title font-weight-bolder">REFUND</h3>

        <div class="card">
            <div class="card-header">
                <p class="my-0">Notes:</p>
                <ol>
                    <li>
                        Semua permohonan bayaran balik hasil ke Suruhanjaya Syarikat Malaysia (SSM) 
                        hendaklah dibuat melalui Borang Permohonan Bayaran Balik.
                    </li>
                    <li>
                        Borang Permohonan Bayaran Balik yang lengkap hendaklah dikemukakan kepada SSM 
                        melalui email refund[at]ssm.com.my. Dokumen sokongan berikut juga perlu dilampirkan semasa 
                        permohonan dibuat:
                        <ol>
                            <li>
                                Salinan resit rasmi SSM berkaitan transaksi yang dipohon;
                            </li>
                            <li>
                                Salinan Surat Penolakan / Kueri / Pembatalan Progran yang 
                                dikeluarkan dengan transaksi;
                            </li>
                            <li>
                                Salinan bukti pembayaran yang berkaitan
                            </li>
                        </ol>
                    </li>
                    <li>
                        Hanya permohonan bayaran balik yang lengkap sahaja akan diproses dalam tempoh 
                        30 hari bekerja daripada tarikh penerimaan borang.
                    </li>
                    <li>
                        Bayaran bagi permohonan bayaran balik yang diluluskan akan dibuat melalui arahan 
                        pindahan melalui arahan pindahan terus ke akaun bank (electronic fund transfer).
                    </li>
                    <li>
                        Sebarang pertanyaan berhubung status permohonan bayaran balik boleh dikemukakan melalui emel 
                        kepada refund[at]ssm.com.my. Sila nyatakan nombor rujukan kes semasa berurusan.
                    </li>
                </ol>

                <div class="row justify-content-between text-center">
                    <div class="mt--2 mx-auto">
                        <img alt="Logo" class="mb-2 w-25" src="assets/img/logo/SSM-Logo.png" />
                    </div>
                </div>
                <h4 class="mb-0 text-center">SURUHANJAYA SYARIKAT MALAYSIA</h4>
                <p class="m-0 text-center">
                    MENARA SSM @ SENTRAL <br />
                    No 7, Jalan Stesen Sentral 5,<br />
                    Kuala Lumpur Sentral,<br />
                    50623 Kuala Lumpur.
                </p>
                <p class="m-0 text-center">
                    Emel: refund[at]ssm.com.my
                </p>

                <h2 class="text-center py-1">BORANG PERMOHONAN BAYARAN BALIK (REFUND)</h2>
            </div>
            <div class="card-body">
                <h5 class="heading mb-4">
                    Maklumat Pemohon
                </h5>

                <div class="form-group">
                    <label class="form-control-label"> Nama Pemohon
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> No. KP/ Syarikat
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label"> No. Tel
                                <span class="text-red">*</span>
                            </label>
                            <input class="form-control">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label"> Emel Aktif
                                <span class="text-red">*</span>
                            </label>
                            <input class="form-control">
                        </div>
                    </div>
                </div>

                <h5 class="heading mb-4">
                    Maklumat Berkaitan Bayaran Yang Dibuat
                </h5>

                <div class="form-group">
                    <label class="form-control-label"> Tarikh Transaksi
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control" type="date">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> No. Rujukan Transaksi
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>
                
                <div class="form-group">
                    <label class="form-control-label"> Syarikat / PLT / Perniagaan / Program Latihan Yang Terlibat
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Aplikasi Pendaftaran
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Kaedah Bayaran
                        <span class="text-red">*</span>
                    </label>
                    <select class="form-control custom-select">
                        <option>Kredit Kad / Debit Kad</option>
                        <option>Online Banking</option>
                        <option>e-Wallet</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label"> No. Resit
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Jumlah Bayaran Balik Yang Dipohon
                        <span class="text-red">*</span>
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary">
                                RM
                            </span>
                        </div>
                        <input class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Alasan Untuk Bayaran Balik
                        <span class="text-red">*</span>
                    </label>
                    <select class="form-control custom-select">
                        <option>Bayaran Berganda</option>
                        <option>Bekalan Maklumat Tiada</option>
                        <option>Kesilapan Memasukkan Nama Perniagaan Untuk pembelian Bekalan Maklumat</option>
                        <option>Pembelian Bekalan Maklumat Yang Sama</option>
                    </select>
                </div>

                <h5 class="heading mb-4">
                    Maklumat Berkaitan Bayaran Yang Dibuat
                </h5>
                
                <div class="form-group">
                    <label class="form-control-label"> Nama Syarikat / Pemohon
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Nama Pemilik
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Alamat Syarikat
                        <span class="text-red">*</span>
                    </label>
                    <textarea class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Alamat Surat Menyurat
                        <span class="text-red">*</span>
                    </label>
                    <textarea class="form-control"></textarea>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label"> No. Tel
                                <span class="text-red">*</span>
                            </label>
                            <input class="form-control">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label"> Alamat Emel
                                <span class="text-red">*</span>
                            </label>
                            <input class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label"> No. Faks
                                <span class="text-red">*</span>
                            </label>
                            <input class="form-control">
                        </div>
                    </div>
                </div>

                <h5 class="heading mb-4">
                    Maklumat Bank
                </h5>
                
                <div class="form-group">
                    <label class="form-control-label"> Nama Bank
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Nama Pemilik Akaun
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Alamat Bank
                        <span class="text-red">*</span>
                    </label>
                    <textarea class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label"> No. Akaun Bank
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> No. Pendaftaran / No. Kad Pengenalan
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-control-label"> Yang Didaftarkan di Sistem Bank
                        <span class="text-red">*</span>
                    </label>
                    <input class="form-control">
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label"> Jenis Bank
                                <span class="text-red">*</span>
                            </label>
                            <select class="form-control custom-select">
                                <option>Simpanan</option>
                                <option>Semasa</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="form-control-label"> Cawangan Bank
                                <span class="text-red">*</span>
                            </label>
                            <input class="form-control">
                        </div>
                    </div>
                </div>

                <h5 class="heading mb-4">
                    Muatnaik Dokumen
                </h5>

                <div class="form-group">
                    <label class="form-control-label">Salinan Resit Rasmi SSM Yang Berkaitan Dengan Transaksi / Salinan Bukti Pembayaran
                        <span class="text-red"> *PDF format ONLY, 5MB maximum.</span>
                    </label>
                    <div class="custom-file">
                        <input 
                            type="file" 
                            class="custom-file-input" 
                            id="files" 
                            lang="en"
                        />
                        <label class="custom-file-label" for="files">Select file</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Surat Penolakan / Kueri / Pembatalan Program Yang Dikeluarkan SSM 
                        <span class="text-red"> *PDF format ONLY, 5MB maximum.</span>
                    </label>
                    <div class="custom-file">
                        <input 
                            type="file" 
                            class="custom-file-input" 
                            id="files" 
                            lang="en"
                        />
                        <label class="custom-file-label" for="files">Select file</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Salinan Muka Hadapan Penyata Bank
                        <span class="text-red"> *PDF format ONLY, 5MB maximum.</span>
                    </label>
                    <div class="custom-file">
                        <input 
                            type="file" 
                            class="custom-file-input" 
                            id="files" 
                            lang="en"
                        />
                        <label class="custom-file-label" for="files">Select file</label>
                    </div>
                </div>

                <div class="text-center">
                    <button
                        class="btn btn-ssm rounded-pill"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>