<div class="wrapper">
  <div class="cd-section">
    <div class="section features-7">
      <div class="container mt-6">
        <div class="row">
          <div class="col-md-12">
            <h4 class="display-3">Dashboard</h4>
          </div>
        </div>

        <tabset type="pills">
          <tab>
            <ng-template tabHeading> eGovernment </ng-template>
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0"></h4>
                </div>
                <div class="card-body">
                  <div id="chartdiv" style="width: 100%; height: 500px"></div>
                </div>
              </div>
          </tab>

          <tab>
            <ng-template tabHeading> Product </ng-template>
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0"></h4>
                </div>
                <div class="card-body">
                  <div id="chartdiv1" style="width: 100%; height: 500px"></div>
                </div>
              </div>
          </tab>

          <tab>
            <ng-template tabHeading> Finance </ng-template>
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0"></h4>
                </div>
                <div class="card-body">
                  <div id="chartdiv2" style="width: 100%; height: 500px"></div>
                </div>
              </div>
          </tab>

          <tab>
            <ng-template tabHeading> Enquiry </ng-template>
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0"></h4>
                </div>
                <div class="card-body">
                  <div id="chartdiv3" style="width: 100%; height: 500px"></div>
                </div>
              </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
