<ngx-loading-bar></ngx-loading-bar>
<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">
						eGov User Management
					</h6>

					<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)">
									<i class="fas fa-align-left text-dark"></i>
								</a>
							</li>
							<li class="breadcrumb-item">
								<a href="javascript:void(0)" class="text-dark"> eGov </a>
							</li>
							<li aria-current="page" class="breadcrumb-item active">
								eGov User Management
							</li>
						</ol>
					</nav>
                </div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col">
                            <h3 class="m-0">eGov User List</h3>
                        </div>

                        <div class="col">
                            <div class="text-right">
                                <div class="my-1 mr-4 dropdown" dropdown placement="bottom-right">
                                    <button 
                                        class="btn btn-outline-default dropdown-toggle"
                                        type="button" 
                                        id="dropdownMenuButton" 
                                        dropdownToggle
                                    >
                                          Export
                                    </button>
                                    <div  
                                        aria-labelledby="dropdownMenuButton" 
                                        *dropdownMenu 
                                        class="dropdown-menu dropdown-menu-right"
                                    >
                                          <a class="dropdown-item" (click)="exportExcel()">Excel</a>
                                          <a class="dropdown-item" (click)="exportCsv()">CSV</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select name="datatable_length" aria-controls="datatable"
                                        class="form-control form-control-sm" (change)="entriesChange($event)">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="-1">All</option>
                                    </select>
                                    records
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">

                        </div>

                        <div class="col-sm-12 col-md-3">
                            <div class="form-group">
                                <input 
                                    class="form-control form-control-sm mr-2" 
                                    placeholder="Search..."
                                    (keyup)="filterTable($event)"
                                >
                            </div>
                        </div>
                    </div>

                    <ngx-datatable 
                        class="bootstrap selection-cell" 
                        [columnMode]="'standard'"
                        [headerHeight]="50"
                        [footerHeight]="50" 
                        [rowHeight]="'auto'"
                        [limit]="tableEntries != -1 ? tableEntries : undefined"
                        [rows]="tableTemp" 
                        [scrollbarH]="true"
                     >
                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="id_index"
                            [width]="100"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">No.</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.id_index}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="ministry_name"
                            width="190"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Ministry</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.ministry_name}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="department_name"
                            width="220"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Agency / Department</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.department_name}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            width="210"
                            prop="division_name"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Division / Section</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.division_name}}
                            </ng-template>
                        </ngx-datatable-column>
                        
                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            width="150"
                            prop="status"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">City</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.city}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            width="150"
                            prop="name"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">State</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.state}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            width="150"
                            prop="name"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Email Address</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.user.email}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            width="150"
                            prop="user"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Full Name</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.user.full_name}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            width="150"
                            prop="position_or_grade"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Position or Grade</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.position_or_grade}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="position_or_grade"
                            width="150"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">IC No.</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.position_or_grade}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="user"
                            width="150"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Tel No.</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.user.phone_number}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="egov_package"
                            width="150"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Package Type</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.egov_package}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="head_of_department_name"
                            width="150"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Head of Department Name</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.head_of_department_name}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="head_of_department_position"
                            width="150"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Head of Department Position</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.head_of_department_position}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="head_of_department_email"
                            [flexGrow]="5"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Head of Department Email</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.head_of_department_email}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="name"
                            [flexGrow]="5"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Approval Date</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>

                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="name"
                            [flexGrow]="5"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Expiry Date</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>

                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="name"
                            [flexGrow]="5"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Renewal Date</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>

                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="egov_quota"
                            [flexGrow]="5"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Total Accumulated Quota</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.egov_quota}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="status"
                            [flexGrow]="5"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Status</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [flexGrow]="3"
                            [sortable]="false"
                            [resizeable]="false"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span class="table-header">Action</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a (click)="openModal(updateDepartment, row, 'department')" style="cursor: pointer">
                                    <button class="btn btn-sm btn-info">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table" id="reportTable" #reportTable [hidden]="isHidden">
	<table class="table table-responsive table-flush">
		<thead>
			<tr>
				<th>No. </th>
				<th>Ministry</th>
				<th>Agency / Department</th>
				<th>Division / Section</th>
				<th>City</th>
				<th>State</th>
				<th>Email Address</th>
				<th>Full Name</th>
				<th>Position or Grade</th>
                <th>IC No.</th>
                <th>Tel No.</th>
                <th>Package Type</th>
                <td>Head of Department Name</td>
                <td>Head of Department Position</td>
                <td>Head of Department Email</td>
                <td>Approval Date</td>
                <td>Expiry Date</td>
                <td>Renewal Date</td>
                <td>Total Accumulated Quota</td>
                <td>Status</td>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let row of tableTemp">
				<td>
					{{row.id_index}}  
				</td>
				<td>
					{{row.ministry_name}}  
				</td>
				<td>
					{{row.department_name}}
				</td>
				<td>
					{{row.division_name}}
				</td>
				<td>
					{{row.city}}
				</td>
				<td>
					{{row.state}}
				</td>
				<td>
					{{row.user.email}}
				</td>
				<td>
					{{row.user.full_name}}
				</td>
				<td>
					{{row.position_or_grade}}
				</td>
				<td>
					{{row.position_or_grade}}
                </td>
                <td>
                    {{row.user.phone_number}}
                </td>
                <td>
                    {{row.egov_package}}
                </td>
                <td>
                    {{row.head_of_department_name}}
                </td>
                <td>
                    {{row.head_of_department_position}}
                </td>
                <td>
                    {{row.head_of_department_email}}
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    {{row.egov_quota}}
                </td>
                <td>

                </td>
			</tr>
		</tbody>
	</table>
</div>