<ngx-loading-bar ref="http" height="4px" color="#fff"></ngx-loading-bar>
<header class="header-2 skew-separator">
	<div class="page-header mb--3" >
		<div class="page-header-image" style="background-image: url('assets/img/background/menara_ssm.jpg')"></div>
		<div class="container">
			<div class="cd-section">
				<div class="section features-7">
					<div class="container mt-2">
						<div class="row">
							<div class="col">
								<h4 class="display-3 text-center">
									<strong>Search Company and Business Information</strong>
								</h4>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container mb-5">
				<div class="row">
					<div class="col">
						<div class="card card-raised card-form-horizontal">
							<div class="card-body">
								<div class="row">
                                    <div class="col-sm-10">
                                        <div class="input-group" [ngClass]="{ focused: focus === true }">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-info"> </i>
                                                </span>
                                            </div>
                                            <input 
                                                placeholder="Type company, business or audit firm to search..."
                                                type="text" 
                                                (blur)="focus = false" 
                                                (focus)="focus = true"
                                                name="datatable_length" 
                                                aria-controls="datatable"
                                                class="form-control"  
												(keyup)="query($event)"
                                            />
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group">
											<select 
												class="form-control custom-select" 
												[(ngModel)]="searchEntityType"
												(change)="filterTable()"
											>
                                                <option selected value="AL">All Entities</option>
                                                <option value="BS">Business</option>
                                                <option value="CP">Company</option>
                                                <option value="AD">Audit Firm</option>
                                            </select>
                                        </div>
                                    </div>
								</div>
								
                                <span class="text-small text-light">
                                    Please exclude symbol ("-") and alphabet ("A")
                                    Example:
                                    "123" instead "1234-A".
                                </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="wrapper bg-white mb-2" >
	<div class="container pt--10">
		<div class="row">
			<div class="col">
				<div class="card" *ngIf="!isEmpty && isGotResult">
					<div class="card-header">
						<div class="row">
							<div class="col">
								<h4 class="m-0">Search Result</h4>
							</div>
							<div class="col text-right">
								<!-- <button class="btn btn-default rounded-pill" (click)="export()">
									Export
								</button> -->
							</div>
						</div>
					</div>

					<div class="card-body">
						<div class="dataTables_wrapper py-4">
							<div class="row">
								<div class="col-sm-12 col-md-6">
									<div class="dataTables_length" id="datatable_submitted_length">
										<label>
											Show
											<select 
												name="datatable_submitted_length" 
												aria-controls="datatable"
												class="form-control form-control-sm custom-select custom-select-sm" 
												(change)="entriesChange($event)"
											>
												<option value="10" [selected]="tableEntries == 10">10</option>
												<option value="25" [selected]="tableEntries == 25">25</option>
												<option value="50" [selected]="tableEntries == 50">50</option>
												<option value="100" [selected]="tableEntries == 100">100</option>
												<!-- <option value="-1" [selected]="tableEntries == -1">All</option> -->
											</select>
											record
										</label>
									</div>
								</div>
							</div>
							
							<ngx-datatable 
								class="bootstrap selection-cell"
								[columnMode]="'force'"
								[headerHeight]="50"
								[footerHeight]="50"
								[rowHeight]="'auto'"
								[limit]="tableEntries != -1 ? tableEntries : undefined" 
								[rows]="tableTemp"
							>

								<ngx-datatable-column 
									maxWidth="220"
									[sortable]="true"
									[resizeable]="false"
									prop="company_number_new"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Entity No.</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div *ngIf="row.type_of_entity == 'AD'">
											{{ row.audit_firm_number }}
										</div>
										<div *ngIf="row.type_of_entity == 'BS'">
											{{ row.registration_number_new }} ({{ row.registration_number }}-{{row.check_digit}})
										</div>
										<div *ngIf="row.type_of_entity == 'CP'">
											{{ row.company_number_new }} ({{ row.company_number }}-{{row.check_digit}})
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column
									[sortable]="true"
									[resizeable]="false"
									prop="name"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Entity Name</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{ row.name }}
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column 
									maxWidth="120"
									[sortable]="true"
									[resizeable]="false"
									prop="type_of_entity"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header">Entity Type</span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div *ngIf="row.type_of_entity == 'AD'">
											Audit Firm
										</div>
										<div *ngIf="row.type_of_entity == 'BS'">
											Business
										</div>
										<div *ngIf="row.type_of_entity == 'CP'">
											Company
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column 
									maxWidth="120" 
									[sortable]="false"
									[resizeable]="false"
								>
									<ng-template ngx-datatable-header-template>
										<span class="table-header"></span>
									</ng-template>
									<ng-template let-row="row" ngx-datatable-cell-template>
                                        <button 
                                            class="btn btn-icon btn-3 btn-sm btn-ssm rounded-pill float-right" 
                                            type="button"
                                            (click)="navigateItem('/products/search-result', row)"
                                        >
											<span class="btn-inner--icon"><i class="fas fa-eye"></i></span>
											<span class="btn-inner--text">View</span>
										</button>
									</ng-template>
								</ngx-datatable-column>
							</ngx-datatable>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row text-center pt--8 pb-4">
			<div class="col cursor-pointer" (click)="navigatePage('/products/custom-data')">
				<img src="assets/img/icons/12.jpg" style="width: 150px; height: 150px" [tooltip]="tooltip1" />
				
				<h1 class="text-ssm mt-2">Customized Data</h1>
				<!-- style="background-color: #231e6d !important" -->
				<ng-template #tooltip1 style="width: 200px; height: 200px">
					<div>
						<p>To purchase company data according to package.</p>
					</div>
				</ng-template>
            </div>
            
			<div class="col cursor-pointer" (click)="navigatePage('/cbid')">
				<img src="assets/img/icons/5.jpg" style="width: 150px; height: 150px" [tooltip]="tooltip2" />
				<h1 class="text-ssm mt-2">
					Corporate and Business Information Data (CBID)
				</h1>
				<ng-template #tooltip2>
					<div>
						<p>To purchase company data in bulk.</p>
					</div>
				</ng-template>
            </div>
            
			<!-- <div class="col cursor-pointer" (click)="navigatePage('/products/search-personal-involvement')"> -->
				<div class="col">
				<img src="assets/img/icons/9.jpg" style="width: 150px; height: 150px" [tooltip]="tooltip3" />
				<h1 class="text-ssm mt-2">Personal Involvement <b>(COMING SOON)</b></h1>
				<ng-template #tooltip3>
					<div>
						<p>
							To purchase personal involvment information in any company or
							business
						</p>
					</div>
				</ng-template>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col mt-3">
				<img src="assets/img/background/how.png" style="width: 100%" />
			</div>
		</div>
	</div>

	<div class="row w-100">
		<div class="col-md-12 mx-auto mb-3">
			<carousel>
				<slide>
					<a href="https://biztrust.ssm.com.my/" target="_blank">
						<img [src]="slider1" alt="first slide" class="d-flex mx-auto w-100" />
					</a>
				</slide>
				<slide>
					<a href="https://ezbiz.ssm.com.my/" target="_blank">
						<img [src]="slider2" alt="second slide" class="d-flex mx-auto w-100" />
					</a>
				</slide>

				<slide>
					<img [src]="slider3" alt="third slide" class="d-flex mx-auto w-100" />
				</slide>

				<slide>
					<img [src]="slider4" alt="fourth slide" class="d-flex mx-auto w-100" />
				</slide>
			</carousel>
		</div>
	</div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-fussion" [fullScreen]="true">
	<p style="color: white">Loading...</p>
</ngx-spinner>