
.table-header {
    font-weight: bolder;
    font-size: 0.80rem;
}

.page-header {
    align-items: normal !important;
    min-height: auto;
    // margin-bottom: -350px;

}


.page-header-image {
    height: 400px !important;
}

// .wrapper{
//     border-bottom-style: solid;
//     bottom: -200px;
//     border-bottom-width: 0px; 
//     top: -350px; 
//     border-top-style: solid; 
//     border-top-width: 0px; 
//     margin-bottom: 20px;

// }