<div class="wrapper">
  <section class="section-shaped title-bg bg-mini">
    <div class="page-header page-header-small header-filter-white">
      <div
        class="page-header-image"
        style="background-image: url('assets/img/background/putrajaya.jpg')"
      ></div>
      <div class="container mb--4">
        <div class="header-body text-center mb-9">
          <div class="row justify-content-center">
            <h1 class="text-ssm font-weight-bolder">eGOV</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="section mt--9">
    <div class="container">
      <h3 class="title font-weight-bolder">eGOVERNMENT</h3>
      <h1 class="title font-weight-bolder text-ssm">PACKAGE</h1>
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </h5>
      <div class="row pt-3">
        <div class="col-lg-3 col-md-6">
          <div class="card card-project bg-ssm p-1 package">
            <div class="card-body bg-ssm p-1">
              <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 1</h3>
              <h4 class="mt-0 text-white">view only</h4>
              <p class="text-white font-small">
                <i class="fas fa-check"></i> Company Profile without Company
                Charges
              </p>
              <p class="text-white font-small">
                <i class="fas fa-check"></i> Financial charges
              </p>

              <img
                class="icon-size img-center"
                src="assets/img/icons/statistics.svg"
              />

              <hr class="my-2 border-white" />

              <p class="text-white font-small">
                Business Profile & Statutory Document Images
              </p>

              <div class="card-footer">
                <button
                  class="btn btn-link text-ssm btn-round"
                  type="button"
                  (click)="openModal(productSample)"
                >
                  View Sample
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card card-project bg-ssm p-1 package">
            <div class="card-body bg-ssm p-1">
              <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 2</h3>
              <h4 class="mt-0 text-white">view only</h4>
              <p class="text-white font-small">
                <i class="fas fa-check"></i> Company Profile without Company
                Charges
              </p>
              <p class="text-white font-small">
                <i class="fas fa-check"></i> Financial charges
              </p>

              <img
                class="icon-size img-center"
                src="assets/img/icons/statistics.svg"
              />

              <hr class="my-2 border-white" />

              <p class="text-white font-small">
                Business Profile & Statutory Document Images
              </p>

              <div class="card-footer">
                <button
                  class="btn btn-link text-ssm btn-round"
                  type="button"
                  (click)="openModal(productSample)"
                >
                  View Sample
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card card-project bg-ssm p-1 package">
            <div class="card-body bg-ssm p-1">
              <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 3</h3>
              <h4 class="mt-0 text-white">view & download</h4>
              <p class="text-white font-small">
                <i class="fas fa-check"></i> Company Profile
              </p>
              <p class="text-white font-small">
                <i class="fas fa-check"></i> Statutory Document Images
              </p>

              <img
                class="icon-size img-center mt-4"
                src="assets/img/icons/statistics.svg"
              />

              <hr class="my-2 border-white" />

              <p class="text-white font-small">
                Business Profile & Statutory Document Images
              </p>

              <div class="card-footer">
                <button
                  class="btn btn-link text-ssm btn-round"
                  type="button"
                  (click)="openModal(productSample)"
                >
                  View Sample
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="card card-project bg-ssm p-1 package">
            <div class="card-body bg-ssm p-1">
              <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 4</h3>
              <h4 class="mt-0 text-white">view & download</h4>
              <h2 class="text-white text-center my-4">COMING SOON</h2>

              <img
                class="icon-size img-center"
                src="assets/img/icons/statistics.svg"
              />

              <hr class="my-2 border-white" />

              <p class="text-white font-small">
                Business Profile & Statutory Document Images
              </p>

              <div class="card-footer">
                <button
                  class="btn btn-link text-ssm btn-round"
                  type="button"
                  (click)="openModal(productSample)"
                >
                  View Sample
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section mt-4">
    <div class="container">
      <div class="row text-center pb-4">
        <div class="col-md-1"></div>
        <div
          class="col"
          style="cursor: pointer"
          (click)="navigatePage('/search-engine')"
        >
          <img
            src="assets/img/icons/12.jpg"
            style="width: 150px; height: 150px"
          />
          <br /><br />
          <h1 style="color: #231e6d">
            Search Company and Business Information
          </h1>
          <!-- style="background-color: #231e6d !important" -->
        </div>
        <div
          class="col"
          style="cursor: pointer"
          (click)="navigatePage('/enquiry/kjakp')"
        >
          <img
            src="assets/img/icons/5.jpg"
            style="width: 150px; height: 150px"
          />
          <br /><br />
          <h1 style="color: #231e6d">eGOV Enquiry</h1>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>

  <!-- <div class="section mt--9">
      <div class="container">
        <h3 class="title font-weight-bolder">eGOVERNMENT</h3>
        <h1 class="title font-weight-bolder text-ssm">PACKAGE</h1>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </h5>
        <div class="row"></div>
      </div>
    </div> -->

  <div class="row">
    <div class="col-md-12 mx-auto mb-3">
      <carousel>
        <slide>
          <img
            [src]="slider1"
            alt="first slide"
            style="display: block; width: 100%"
            class="d-flex mx-auto"
          />
        </slide>
        <slide>
          <img
            [src]="slider2"
            alt="first slide"
            style="display: block; width: 100%"
            class="d-flex mx-auto"
          />
        </slide>
        <slide>
          <img
            [src]="slider3"
            alt="first slide"
            style="display: block; width: 100%"
            class="d-flex mx-auto"
          />
        </slide>

        <slide>
          <img
            [src]="slider4"
            alt="first slide"
            style="display: block; width: 100%"
            class="d-flex mx-auto"
          />
        </slide>
      </carousel>
    </div>
  </div>
</div>

<ng-template #productSample>
  <div class="modal-header bg-ssm">
    <h4 class="modal-title text-white my-auto" id="modal-title-default">
      Product Sample
    </h4>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body px-auto">
    <img
      style="width: 85%"
      class="d-flex mx-auto"
      src="assets/img/default/sample.png"
    />
  </div>
</ng-template>
