<header class="header-2 skew-separator">
  <div class="page-header">
    <div
      class="page-header-image"
      style="background-image: url('assets/img/background/menara_ssm.jpg')"
    ></div>
    <div class="container pt-300">
      <div class="cd-section">
        <div class="section features-7">
          <div class="container mt-2">
            <div class="row">
              <div class="col">
                <h4 class="display-3 text-center">
                  <strong>Search Company and Business Information</strong>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mb-9">
        <div class="row">
          <div class="col">
            <div class="card card-raised card-form-horizontal">
              <div class="card-body">
                <form [formGroup]="productForm">
                  <div class="row">
                    <div class="col-sm-8">
                      <div
                        class="input-group"
                        [ngClass]="{ focused: focus === true }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-info"> </i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Type company, business or audit firm to search..."
                          type="text"
                          (blur)="focus = false"
                          (focus)="focus = true"
                          formControlName="registration_number"
                        />
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="input-group">
                        <select class="form-control">
                          <option selected>All Entities</option>
                          <option>Business</option>
                          <option>Company</option>
                          <option>Audit Firm</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <button
                        class="btn btn-ssm btn-round"
                        type="button"
                        (click)="search()"
                        [disabled]="!productForm.valid"
                      >
                        Search
                      </button>
                    </div>
                  </div>
                  <span class="text-small text-light"
                    >Please exclude sysmbol ("-") and alphabet ("A") Example:
                    "123" instead "1234-A".</span
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="wrapper">
  <div class="container">

    

    <div class="row">
      <div class="col">
        <div class="card" *ngIf="!isEmpty && isGotResult">
          <div class="card-header">
            <div class="row">
              <div class="col"><h4 class="m-0">Search Result</h4></div>
              <div class="col text-right">
                <button class="btn btn-default" (click)="successAlert()">
                  Export
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive" *ngIf="isGotResult">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <th scope="col">Entity</th>
                  <th></th>
                </thead>
                <tbody class="list">
                  <td>Pipeline Network</td>
                  <td class="text-right">
                    <button class="btn btn-ssm btn-sm" (click)="viewResult()">
                      View
                    </button>
                  </td>
                </tbody>
              </table>
              <!-- <div class="dataTables_wrapper py-4">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="-1">All</option>
                    </select>
                    records
                  </label>
                </div>

                <ngx-datatable
                  class="bootstrap selection-cell"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [limit]="tableEntries != -1 ? tableEntries : undefined"
                  [rows]="dataSearch"
                  (activate)="onActivate($event)"
                >

                  <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      <span>Company / Business / Audit Firm Number</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.id }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      <span>Company / Business / Audit Firm Name</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.name }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      <span>Entity Type</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.entity }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      <span>Action</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <a style="cursor: pointer">
                        <button class="btn btn-danger btn-sm">
                          <i class="fas fa-trash"></i> Remove
                        </button></a
                      >
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br />

    <div class="row text-center pb-4" *ngIf="user_type != 'EG'">
      <div
        class="col"
        style="cursor: pointer"
        (click)="navigatePage('/customized-data')"
      >
        <img
          src="assets/img/icons/12.jpg"
          style="width: 150px; height: 150px"
          [tooltip]="tooltip1"
        />
        <br /><br />
        <h1 style="color: #231e6d">Customized Data</h1>
        <!-- style="background-color: #231e6d !important" -->
        <ng-template #tooltip1 style="width: 200px; height: 200px">
          <div>
            <p>To purchase company data according to package.</p>
          </div>
        </ng-template>
      </div>
      <div class="col" style="cursor: pointer" (click)="navigatePage('/cbid')">
        <img
          src="assets/img/icons/5.jpg"
          style="width: 150px; height: 150px"
          [tooltip]="tooltip2"
        />
        <br /><br />
        <h1 style="color: #231e6d">
          Corporate and Business Operated Data (CBID)
        </h1>
        <ng-template #tooltip2>
          <div>
            <p>To purchase company data in bulk.</p>
          </div>
        </ng-template>
      </div>
      <div
        class="col"
        style="cursor: pointer"
        (click)="navigatePage('/personal-involvement')"
      >
        <img
          src="assets/img/icons/9.jpg"
          style="width: 150px; height: 150px"
          [tooltip]="tooltip3"
        />
        <br /><br />
        <h1 style="color: #231e6d">Personal Involvement</h1>
        <ng-template #tooltip3>
          <div>
            <p>
              To purchase personal involvment information in any company or
              business
            </p>
          </div>
        </ng-template>
      </div>
    </div>

    <br /><br />

    <div class="row">
      <div class="col mt-3">
        <img src="assets/img/background/how.png" style="width: 100%" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto mb-3 pt-6">
      <carousel>
        <!-- <slide>
                    <div class="row">
                        <div class="col pl-8">
                            <p class="m-0"><strong>PRODUCT BANNER</strong></p>
                            <h4 class="m-0"><strong>Our Products</strong></h4>
                            <h2 style="color: #231e6d;"><strong>Business Profile</strong></h2>

                            <p class="text-dark">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                 aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                 voluptate velit esse cillum dolore eu fugiat nulla pariatur
                            </p>

                            <div class="my-4 float-right">
                                <button class="btn btn-ssm btn-round mr-1" type="button">
                                    More Products
                                </button>
                            </div>
                        </div>
                        <div class="col float-right">
                            <img 
                                src="assets/img/background/test2.png"
                                alt="first slide"
                                style="display: block; width: 70%;"
                                class="ml-auto"
                            >
                        </div>
                    </div>
                </slide> -->
        <slide>
          <img
            [src]="slider1"
            alt="first slide"
            style="display: block; width: 100%"
            class="d-flex mx-auto"
          />
        </slide>
        <slide>
          <img
            [src]="slider2"
            alt="first slide"
            style="display: block; width: 100%"
            class="d-flex mx-auto"
          />
        </slide>
        <slide>
          <img
            [src]="slider3"
            alt="first slide"
            style="display: block; width: 100%"
            class="d-flex mx-auto"
          />
        </slide>

        <slide>
          <img
            [src]="slider4"
            alt="first slide"
            style="display: block; width: 100%"
            class="d-flex mx-auto"
          />
        </slide>
      </carousel>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-fussion"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
