<header class="header-3 bg-white">
	<div class="cd-section pt-6" id="blogs">
		<section class="blogs-2">
			<div class="pt-6">
				<div class="row">
					<div class="col-md-10 mx-auto">
						<h2 class="title text-ssm text-center font-weight-bold">
							Get access to most accurate and comprehensive data
						</h2>
						<div class="row">
							<div class="col border-right">
								<div class="row">
									<div class="col-6">
										<div class="row">
											<div class="col-md-7">
												<p class="text-ssm text-left mb-0">
													Sole Proprietorship
												</p>
											</div>
											<div class="col-md-5">
												<p class="text-ssm text-left mb-0">
													: <b>{{ totalSoleProprietorship.toLocaleString() }}</b>
												</p>
											</div>
										</div>
		
										<div class="row">
											<div class="col-md-7">
												<p class="text-ssm text-left mb-0">Partnership</p>
											</div>
											<div class="col-md-5">
												<p class="text-ssm text-left mb-0">
													: <b>{{ totalPartnership.toLocaleString() }}</b>
												</p>
											</div>
										</div>
									</div>
		
									<div class="col-6">
										<h1 class="text-ssm text-center mb-0">
											<tm-ng-odometer [number]="totalCompanies"></tm-ng-odometer>
										</h1>
										<p class="text-center">Business</p>
									</div>
								</div>
							</div>
		
							<div class="col">
								<div class="row">
									<div class="col-6">
										<h1 class="text-ssm text-center mb-0">
											<tm-ng-odometer [number]="totalBusinessess"></tm-ng-odometer>
										</h1>
										<p class="text-center">Companies</p>
									</div>
		
									<div class="col-6">
										<div class="row">
											<div class="col-md-7">
												<p class="text-ssm text-left mb-0"> Local </p>
											</div>
											<div class="col-md-5">
												<p class="text-ssm text-left mb-0"> : <b>{{ totalLocal.toLocaleString() }} </b></p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-7">
												<p class="text-ssm text-left mb-0">Foreign</p>
											</div>
											<div class="col-md-5">
												<p class="text-ssm text-left mb-0"> : <b>{{ totalForeign.toLocaleString() }}</b> </p>
											</div>
										</div>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="cd-section" id="blogs">
		<section class="blogs-2">
			<div class="container-fluid pb-2 pt-4">
				<div class="row">
					<div class="col-sm-12 col-lg col-md">
						<div class="card card-blog card-background" data-animation="zooming">
							<div 
								class="full-background" 
								style="background-image: url('assets/img/background/menara_ssm.jpg');"
							>
							</div>

							<a class="cursor-pointer" (click)="navigatePage('/about')">
								<div class="card-body">
									<div class="content-bottom text-center">
										<h6 class="card-category text-white opacity-8"></h6>
										<h2 class="card-title text-center text-black">ABOUT SSM PRODUCTS</h2>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-12 col-lg col-md">
						<div class="card card-blog card-background" data-animation="zooming">
							<div 
								class="full-background"
								style="background-image: url('assets/img/background/cart.jpg')">
							</div>

							<a class="cursor-pointer" (click)="navigatePage('/products/search')">
								<div class="card-body">
									<div class="content-bottom text-center">
										<h6 class="card-category text-white opacity-8"></h6>
										<h2 class="card-title text-center text-black">PRODUCT PURCHASE</h2>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-12 col-lg col-md">
						<div class="card card-blog card-background" data-animation="zooming">
							<div 
								class="full-background" 
								style="background-image: url('assets/img/background/egov.png');">
							</div>

							<a class="cursor-pointer" (click)="navigatePage('/egov')">
								<div class="card-body">
									<div class="content-bottom text-center">
										<h6 class="card-category text-white opacity-8"></h6>
										<h2 class="card-title text-center text-black">eGOV</h2>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-12 col-lg col-md">
						<div class="card card-blog card-background" data-animation="zooming">
							<div 
								class="full-background"
								style="background-image: url('assets/img/background/enquiry.jpg')"
							>
							</div>

							<a class="cursor-pointer" (click)="navigatePage('/enquiry')">
								<div class="card-body">
									<div class="content-bottom text-center">
										<h6 class="card-category text-white opacity-8"></h6>
										<h2 class="card-title text-center text-black">ENQUIRY</h2>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-12 col-lg col-md">
						<div class="card card-blog card-background" data-animation="zooming">
							<div 
								class="full-background"
								style="background-image: url('assets/img/background/faq.jpg')"
							>
							</div>

							<a class="cursor-pointer" (click)="navigatePage('/faq')">
								<div class="card-body text-center">
									<div class="content-bottom text-center">
										<h6 class="card-category text-white opacity-8"></h6>
										<h2 class="card-title text-center text-black mx-auto">FAQ</h2>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="row">
		<div class="col-md-12 mx-auto">
			<carousel>
				<slide>
					<!-- <img [src]="slider1" alt="first slide" style="display: block; width: 100%;"> -->
					<video width="100%" autoplay loop>
						<source
							src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/videos/portal_ssm_01.mp4"
							type="video/mp4" />
						Your browser does not support the video tag.
					</video>
				</slide>
			</carousel>
		</div>
	</div>

	<div class="row w-100">
		<div class="col-md-12 mx-auto mb-3">
			<carousel>
				<slide>
					<a href="https://biztrust.ssm.com.my/" target="_blank">
						<img [src]="slider1" alt="first slide" class="d-flex mx-auto w-100" />
					</a>
				</slide>
				<slide>
					<a href="https://ezbiz.ssm.com.my/" target="_blank">
						<img [src]="slider2" alt="second slide" class="d-flex mx-auto w-100" />
					</a>
				</slide>

				<slide>
					<img [src]="slider3" alt="third slide" class="d-flex mx-auto w-100" />
				</slide>

				<slide>
					<img [src]="slider4" alt="fourth slide" class="d-flex mx-auto w-100" />
				</slide>
			</carousel>
		</div>
	</div>
</header>

<!-- <div class="wrapper">
	

	
</div> -->