<footer class="footer bg-ssm">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-4">
				<h4 class="mb-0 text-white">
					Menara SSM
				</h4>
				<p class="m-0 text-white">No. 7, Jalan Stesen Sentral 5,</p>
				<p class="m-0 text-white">Kuala Lumpur Sentral,</p>
				<p class="m-0 text-white">50623 Kuala Lumpur,</p>
				<p class="mt-0 text-white">Wilayah Persekutuan Kuala Lumpur</p>

				<p class="m-0 text-white"><strong>Email: </strong> enquiry@ssm.com.my</p>
				<p class="m-0 text-white"><strong>Telephone: </strong> +603-7721 4000</p>
				<p class="m-0 text-white"><strong>Fax: </strong> +603-7721 4001</p>
			</div>

			<div class="col-lg-4">
				<h4 class="mb-0 text-white">
					Connect with us
				</h4>
				<a href="https://www.facebook.com/112188875535191/" target="_blank" class="text-white"> <i class="fab fa-facebook-square"></i> Facebook</a>
				<br />
				<a href="https://instagram.com/ssmofficialpage?igshid=u2fwzs9hraji" target="_blank" class="text-white"> <i class="fab fa-instagram"></i> Instagram</a>
				<br />
				<a href="https://www.youtube.com/user/ssmofficialpage" target="_blank" class="text-white"> <i class="fab fa-youtube"></i> Youtube</a>
			</div>

			<div class="col-lg-4 col-grid align-items-center float-right">
				<img class="float-right img-ssm" src="assets/img/background/ssm-biz.png">
			</div>
		</div>
		<hr />

		<div class="row align-items-center justify-content-md-between">
			<div class="col">
				<!-- <div class="copyright">
					© {{ date | date: "yyyy" }}
					<a href="" target="_blank"> Suruhanjaya Syarikat Malaysia </a>
				</div> -->
				<p class="m-0 text-white text-center">
					Best viewed using latest Google Chrome & Mozilla Firefox version with resolution of 1920 x 1080 pixels.
				</p>
			</div>
		</div>
	</div>
</footer>