<div class="wrapper">
    <div class="cd-section">
        <div class="section features-7">
            <div class="container mt-6">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="display-3">Changelog</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="table">
                        <table class="table table-striped">
                            <thead class="text-primary">
                                <tr>
                                    <th>Date</th>
                                    <th>Features Available</th>
                                    <th>Changelog</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>07/08/2020</td>
                                    <td>
                                        <ol>
                                            <li>Landing</li>
                                            <li>eGovernment Landing</li>
                                            <li> CBID Landing</li>
                                            <li>Dashboard</li>
                                            <li>Cart</li>
                                            <li>Search result</li>
                                        </ol>
                                    </td>
                                    <td>-</td>
                                </tr>

                                <tr>
                                    <td>13/08/2020</td>
                                    <td>
                                        <ol>
                                            <li>Landing</li>
                                            <li>eGovernment Landing</li>
                                            <li> CBID Landing</li>
                                            <li>Dashboard</li>
                                            <li>Cart</li>
                                            <li>Search result</li>
                                            <li>About Us</li>
                                            <li>Contact Us</li>
                                            <li>FAQ</li>
                                            <li>Invoice</li>
                                            <li>Orders</li>
                                            <li>Changelog</li>
                                            <li>Cart icon navbar</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                            <li>Added About Us</li>
                                            <li>Added Contact Us</li>
                                            <li>Added FAQ</li>
                                            <li>Added Invoice</li>
                                            <li>Added Orders</li>
                                            <li>Added Changelog</li>
                                            <li>Added Cart icon navbar</li>
                                            <li>Removed login as in landing</li>
                                            <li> Added animation for Total Registered With SSM in landing</li>
                                            <li>Changed wording in landing page </li>
                                            <li>Changed footer</li>
                                        </ol>
                                    </td>
                                </tr>

                                <tr>
                                    <td>15/08/2020</td>
                                    <td>
                                        <ol>
                                            <li>Landing</li>
                                            <li>eGovernment Landing</li>
                                            <li> CBID Landing</li>
                                            <li>Dashboard</li>
                                            <li>Cart</li>
                                            <li>Search result</li>
                                            <li>About Us</li>
                                            <li>Contact Us</li>
                                            <li>FAQ</li>
                                            <li>Invoice</li>
                                            <li>Orders</li>
                                            <li>Changelog</li>
                                            <li>Cart icon navbar</li>
                                            <li>Notification icon navbar</li>
                                            <li>Notification page</li>
                                            <li>Transaction page</li>
                                            <li>Personal Involvement page</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                            <li>Added notification function on navbar</li>
                                            <li>Added Notification</li>
                                            <li>Added Transaction</li>
                                            <li>Added Personal Involvement</li>
                                            <li>Added search engine on personal involvement</li>
                                            <li>Linked a few function from landing page to checkout</li>
                                            <li>Change search result to product listing</li>
                                        </ol>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>