<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
        <div class="page-header page-header-small header-filter-white">
            <div class="page-header-image" style="background-image: url('assets/img/background/putrajaya.jpg')"></div>
            <div class="container mb--4">
                <div class="header-body text-center mb-9">
                    <div class="row justify-content-center">
                        <h1 class="text-ssm font-weight-bolder" style="font-size: 3.0rem;">eGOV</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section mt--9">
        <div class="container">
            <!-- <h3 class="title font-weight-bolder">eGOV</h3> -->
            
            <div class="text-center">
                <button 
                    class="btn btn-ssm rounded-pill mr-2"
                    (click)="navigatePage('/products/search-egov')"
                >
                    <span *ngIf="user.egov_package == 1 || user.egov_package == 2">
                        Search Company
                    </span>
                    <span *ngIf="user['egov_package'] == 3 || user['egov_package'] == 4">
                        Investigation Request
                    </span>
                </button>
    
                <button 
                    class="btn btn-ssm rounded-pill"
                    (click)="navigatePage('/enquiry/egov')"
                >
                    eGov Enquiry
                </button>
            </div>
            <br>
            <br>
            <h1 class="title font-weight-bolder text-ssm">PACKAGE</h1>
            <div class="row pt-3">
                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package-active" *ngIf="user['egov_package'] == 1">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-0 mb-0 text-white">PACKAGE 1</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> 
                                <span class="ml-2">
                                    Company Profile without Company
                                    Charges and Financial Information
                                </span>
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Business Profile
                            </p>

                            <img class="icon-size img-center fixed-bottom bottom-6" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample,'product1')">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card card-project bg-ssm p-1 package-inactive" *ngIf="user['egov_package'] != 1">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-0 mb-0 text-white">PACKAGE 1</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Company Profile without Company
                                Charges and Financial Information
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Business Profile
                            </p>

                            <img class="icon-size img-center fixed-bottom bottom-6" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample,'product1')">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package-active" *ngIf="user['egov_package'] == 2">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-0 mb-0 text-white">PACKAGE 2</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Business Profile
                            </p>

                            <img class="icon-size img-center fixed-bottom bottom-6" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample,'product2')">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card card-project bg-ssm p-1 package-inactive" *ngIf="user['egov_package'] != 2">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-0 mb-0 text-white">PACKAGE 2</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Business Profile
                            </p>

                            <img class="icon-size img-center fixed-bottom bottom-6" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample,'product2')">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package-active" *ngIf="user['egov_package'] == 3">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-0 mb-0 text-white">PACKAGE 3</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Business Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Statutory Document Images
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Personal Involvement <b>(COMING SOON)</b>
                            </p>
                            <!-- <p class="text-white font-weight-bold text-center font-small mt-2">
                                
                            </p> -->

                            <img class="icon-size img-center mt-4 fixed-bottom bottom-6" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample,'product3')">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card card-project bg-ssm p-1 package-inactive" *ngIf="user['egov_package'] != 3">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-0 mb-0 text-white">PACKAGE 3</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Business Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Statutory Document Images
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Personal Involvement <b>(COMING SOON)</b>
                            </p>
                            <!-- <p class="text-white font-weight-bold text-center font-small mt-2">
                                COMING SOON
                            </p> -->

                            <img class="icon-size img-center mt-4 fixed-bottom bottom-6" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample,'product3')">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package-active" *ngIf="user['egov_package'] == 4">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-0 mb-0 text-white">PACKAGE 4</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Business Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Statutory Document Images
                            </p>
                            <img class="icon-size img-center fixed-bottom bottom-6" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small my-1">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample,'product4')">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card card-project bg-ssm p-1 package-inactive" *ngIf="user['egov_package'] != 4">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-0 mb-0 text-white">PACKAGE 4</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Business Profile
                            </p>
                            <p class="text-white font-small my-1">
                                <i class="fas fa-check"></i> Statutory Document Images
                            </p>
                            <img class="icon-size img-center fixed-bottom bottom-6" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small my-1">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample,'product4')">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   
    </div>

    <div class="row">
		<div class="col-md-12 mx-auto mb-3 pt-6">
			<carousel>
				<slide>
					<img [src]="slider1" alt="first slide" style="display: block; width: 100%" class="d-flex mx-auto" />
				</slide>
				<slide>
					<img [src]="slider2" alt="first slide" style="display: block; width: 100%" class="d-flex mx-auto" />
				</slide>
				<slide>
					<img [src]="slider3" alt="first slide" style="display: block; width: 100%" class="d-flex mx-auto" />
				</slide>

				<slide>
					<img [src]="slider4" alt="first slide" style="display: block; width: 100%" class="d-flex mx-auto" />
				</slide>
			</carousel>
		</div>
	</div>
</div>

<ng-template #productSample>
    <div class="modal-header bg-ssm">
        <br>
        <h4 class="modal-title text-white my-auto" id="modal-title-default">
            Product Sample
        </h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body px-auto">
        <div class="row mt-2 mb-3">
            <div class="col text-center">
                <button class="btn btn-ssm">ROC</button>
            </div>
            <div class="col text-center">
                <button class="btn btn-ssm" (click)="openModal(rob, 'ss')">ROB</button>
            </div>
        </div>
        <embed src="assets/img/docs/companyprofilepkg1.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product1'">
        <embed src="assets/img/docs/companyprofilepkg2.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product2'">
        <embed src="assets/img/docs/companyprofilepkg3n4.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product3'">
        <embed src="assets/img/docs/companyprofilepkg3n4.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product4'">

            <!-- <img style="width: 85%" class="d-flex mx-auto" src="assets/img/default/sample.png" /> -->
    </div>
</ng-template>

<ng-template #rob>
    <div class="modal-header bg-ssm">
        <h4 class="modal-title text-white my-auto" id="modal-title-default">
            Registration Of Business
        </h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal('ss')">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body px-auto">
      
        <embed src="assets/img/docs/rob1n2.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product1'">
        <embed src="assets/img/docs/rob1n2.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product2'">
        <embed src="assets/img/docs/rob3n4.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product3'">
        <embed src="assets/img/docs/rob3n4.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product4'">

        <!-- <img style="width: 85%" class="d-flex mx-auto" src="assets/img/default/sample.png" /> -->
    </div>
</ng-template>

<ng-template #roc>
    <div class="modal-header bg-ssm">
        <h4 class="modal-title text-white my-auto" id="modal-title-default">
            Registration Of Company
        </h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal('ss')">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body px-auto">
      
        <embed src="assets/img/docs/companyprofilepkg1.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product1'">
        <embed src="assets/img/docs/companyprofilepkg2.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product2'">
        <embed src="assets/img/docs/companyprofilepkg3n4.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product3'">
        <embed src="assets/img/docs/companyprofilepkg3n4.pdf" frameborder="0" width="100%" height="550px" *ngIf="modalname == 'product4'">

        <!-- <img style="width: 85%" class="d-flex mx-auto" src="assets/img/default/sample.png" /> -->
    </div>
</ng-template>

<ng-template #packageModal>
    <!-- <div class="modal-header bg-ssm">
      <h4 class="modal-title text-white my-auto" id="modal-title-default">
        Product Sample
      </h4>
  
      <button
        aria-label="Close"
        class="close"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        <span aria-hidden="true" class="text-white my-auto"> × </span>
      </button>
    </div> -->

    <div class="modal-body px-auto">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center" (click)="navigatePage('/egov-details')">
                        <h1 class="text-ssm">Package 1 & 2</h1>
                        <h1 class="text-ssm">Only for reference on the flow</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center" (click)="navigatePage('/egov-details')">
                        <h1 class="text-ssm">Package 3 & 4</h1>
                        <h1 class="text-ssm">Only for reference on the flow</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>