<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
        <div class="page-header page-header-small header-filter-white">
            <div class="page-header-image" style="background-image: url('assets/img/background/tower-ssm.png');"></div>
            <div class="container">
                <div class="header-body text-center mb-9">
                    <div class="row justify-content-center">
                        <div class="col">
                            <h1 class="text-ssm font-weight-bolder">ABOUT SSM PRODUCT</h1>
                        </div>`
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt--9">
        <div class="row">
            <div class="col-md-12 ml-auto">
                <h2 class="mb-3 text-ssm text-center text-title">Company Information</h2>

                <div class="my-5">
                    <h4 class="title">Company Profile</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                A current report that contains basic information of a company, 
                                (such of a company, name, company number, incorporation date, 
                                company type, company status, registered address business address 
                                and nature of business), share capital, directors/officers, 
                                shareholders, charges (if any) and financial information.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM10.00</p>
                            <p>RM20.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Financial Comparison</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                A comparative information on the audited financial statements of a company. 
                                Comparison can be made for 2 years, 3 years, 5 years and 10 years.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>2 years</p>
                            <p>3 years</p>
                            <p>5 years</p>
                            <p>10 years</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                            <p>RM50.00</p>
                            <p>RM100.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Financial Historical</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Comparison of audited financial statement information for a 
                                company by selected year.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Attestation of Company Good Standing (ACGS)</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                ACGS is a document issued by SSM to confirm the existence
                                of a company and that it has met the statutory requirements
                                by the Companies Act 2016 (Act 777). Below are the criteria
                                for the requirements of ACGS to a company:
                            </p>
                            <ul>
                                <li>
                                    The company has been incorporated for at 
                                    least 18 months from the date of the ACGS;
                                </li>
                                <li>
                                    The company has lodged its latest Annual 
                                    Return and Audited Financial Statements or 
                                    its latest Exempt Private Company (EPC) certificate;
                                </li>
                                <li>
                                    The company’s status is ‘existing’ and is not in the
                                    process of being wound or struck off or dissolved;
                                </li>
                                <li>
                                    The company is not dormant as per nature of business;
                                </li>
                                <li>
                                    The company has a registered address;
                                </li>
                                <li>
                                    The company or its directors do not 
                                    have any outstanding compound with SSM; and
                                </li>
                                <li>
                                    The company or its directors do not have 
                                    pending prosecution case with SSM.
                                </li>
                            </ul> 
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM100.00</p>
                            <p>Not Available</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Digitally Certified True Copy Document</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Digitally certified true copy document is a 
                                certified document provided to the public in
                                relation to a copy of document image lodged to SSM.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p></p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM10.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Certificate of Incorporation/Registration of a Company</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Under the Companies Act 2016, a notice of incorporation of 
                                a company will be issued to the customer after incorporation. 
                                However, a certificate of incorporation/registration of a company 
                                can be supplied if it is requested by the customer.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Certificate of Change of Company Name</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Under the Companies Act 2016, a notice to certify 
                                the change of company name will be issued to the 
                                customer after the changes have been made. However,
                                a certificate of change of company name can be supplied 
                                if it is requested by the customer.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Certificate of Conversion of Company</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Under the Companies Act 2016, a notice to certify 
                                the conversion of a company will be issued to the 
                                customer after the conversion has been made. However, 
                                a certificate of conversion can be supplied if it is 
                                requested by the customer.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Particulars of Directors/Officers</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                An information extracted from Form 49 (Return giving
                                particulars in Register of Directors, 
                                Managers and Secretaries and changes 
                                of particulars) under the Companies Act 
                                1965 and Section 58 (Notification of change in 
                                the Register of Directors, Managers and Secretaries) 
                                under the Companies Act 2016 which has been lodged by 
                                customers in SSM.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Particulars of Registered Address</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                An information extracted from Section 46 (Notification for 
                                change in the registered address) under the Companies Act 
                                2016 which has been lodged by customers to SSM. It consists 
                                of two segments i.e. basic company's information including 
                                the company's most recent registered address and changes of 
                                registered address information beginning 31 January 2017.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Particulars of Share Capital</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                An information extracted from Section 78 
                                (Return of allotment of shares) under the 
                                Companies Act 2016 which has been lodged by 
                                customers to SSM. It contains basic information 
                                and share details of a company based on the ten (10) 
                                date of the latest Return of Allotment of Shares (ROA) 
                                lodged with SSM.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Particulars of Shareholder</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                An information extracted from Section 51 
                                (Notification of changes in the Register of Members) 
                                under the Companies Act 2016 which has been lodged by 
                                customers in SSM. It contains basic information and changes 
                                of shareholding of a company based on the ten (10) date of the 
                                latest changes in shareholding lodged with SSM.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Particulars of Company Secretary</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Particulars of company secretary contains the 
                                company's basic information, current company secretary 
                                information and previous company secretary information.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Audit Firm Profile</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                This product describes the information of a firm of 
                                auditors registered with SSM which contains detail of 
                                the firm's auditor, branch of the firm's auditor, current 
                                auditor and information of previous auditor.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM10.00</p>
                            <p>RM20.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Company Charges</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                An information of the latest charges containing 
                                company name, company number, charge number, name 
                                of chargee, address charge, charge status, charge amount, 
                                date of charge and date of release (if any).
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM20.00</p>
                            <p>RM30.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Statutory Document Image</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Image of statutory document lodged by 
                                the public to SSM relating to the company.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Document Listings</p>
                            <p>Document Download</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM10.00</p>
                            <p>RM10.00</p>
                            <p>RM10.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Personal Involvement</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Information relating to involvement of directors, 
                                shareholders, secretary, auditor or liquidator 
                                in any company obtained through IC or passport searching. 
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM50.00</p>
                            <p>Not Available</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Customized Data</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Consists of four (4) packages which extracted according to the Criteria 
                                based on customer requirements.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM3.00 per company</p>
                            <p>Not Available</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Company and Business Information Data (CBID)</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Bulk purchased of company and business 
                                information according to the customer requirements 
                                i.e. nature of business, geographical and etc. 
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Processing fee for business</p>
                            <p>Processing fee for company</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM10.00</p>
                            <p>RM20.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <h2 class="mb-3 mt-5 text-ssm text-center text-title">Business Information</h2>

                <div class="my-5">
                    <h4 class="title">Business Profile</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                A report which contains the latest information of a business (such as business name, 
                                registration number, registration date, registration export date, business form, nusiness status, 
                                business address, business type, business branch information (if any), information of the current and previous owner)
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM10.00</p>
                            <p>RM15.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Copy of a Business Registration Certificate</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                A copy of business registration certificate can 
                                be provided if there is an application by the customer.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Not Available</p>
                            <p>RM10.00</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Business Expiry Confirmation Letter</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Business expiry confirmation letter is a supporting document confirming the 
                                expiry status of a business registration. The status of the business 
                                registration must already be expired at the time of the application is being made 
                                regardless of the duration of the expiry date and the letter can be purchased by anyone.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM10.00</p>
                            <p>Not Available</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="my-5">
                    <h4 class="title">Personal Involvement</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Information relating to involvement of 
                                business owner in any business obtained through IC searching.
                            </p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>Non-CTC</p>
                            <p>CTC</p>
                        </div>
                        <div class="col-lg-3 text-right">
                            <p>RM10.00</p>
                            <p>Not Available</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button
                            class="btn btn-ssm btn-round mr-1"
                            type="button"
                            (click)="openModalSample(productSample)"
                        >
                            View Sample
                        </button>
                    </div>
                </div>

                <hr class="my-0" />
            </div>
        </div>
    </div>
</div>

<ng-template #productSample>
    <div class="modal-header bg-ssm">
        <h4 class="modal-title text-white my-auto" id="modal-title-default">
            Product Sample
        </h4>

        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModalSample()"
        >
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body px-auto">
        <img style="width: 85%;" class="d-flex mx-auto" src="assets/img/default/sample.png">
    </div>
</ng-template>