<ngx-loading-bar ref="http"></ngx-loading-bar>
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">
                        Task Management
                    </h6>

                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-align-left text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> eGov </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Task Management
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Outstanding Task List</h3>
                </div>

                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select 
                                        name="datatable_length" 
                                        aria-controls="datatable"
                                        class="form-control form-control-sm" 
                                        (change)="entriesChange($event)"
                                    >
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="-1">All</option>
                                    </select>
                                    records
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                        </div>
                    </div>

                    <ngx-datatable 
                        class="bootstrap" 
                        [columnMode]="'force'" 
                        [headerHeight]="50"
                        [footerHeight]="50" 
                        [rowHeight]="'auto'" 
                        [limit]="tableEntries != -1 ? tableEntries : undefined"
                        [rows]="tableTemp" 
                        [scrollbarH]="true" 
                    >
                        <ngx-datatable-column
                            [width]="100"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="id_index"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>No.</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.id_index}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [width]="150"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="task_type"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Applied For</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.task_type}}
                            </ng-template>
                        </ngx-datatable-column>

                         <ngx-datatable-column
                            [width]="190"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="reference_no"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Reference No.</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.reference_no}}
                            </ng-template>
                        </ngx-datatable-column>
                        
                        <ngx-datatable-column
                            [width]="190"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="created_at"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Application Date</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.created_at}}
                            </ng-template>
                        </ngx-datatable-column>
                        
                        <ngx-datatable-column
                            [width]="180"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="email_address"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Email Address</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.email_address}}
                            </ng-template>
                        </ngx-datatable-column>
                        
                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="name"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Full Name</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.name}}
                            </ng-template>
                        </ngx-datatable-column>
                        
                        <ngx-datatable-column
                            [width]="220"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="modified_at"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Update Status Date</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.modified_at}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [width]="140"
                            [sortable]="true"
                            [resizeable]="false"
                            prop="approver"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Approver</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.approver}}
                            </ng-template>
                        </ngx-datatable-column>
                        
                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="status"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Status</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span 
                                    class="badge badge-pill badge-warning"
                                    *ngIf="row.status == 'Pending'"
                                >
                                    {{row.status}}
                                </span>

                                <span 
                                    class="badge badge-pill badge-danger"
                                    *ngIf="row.status == 'Rejected'"
                                >
                                    {{row.status}}
                                </span>

                                <span 
                                    class="badge badge-pill badge-success"
                                    *ngIf="row.status == 'Approved'"
                                >
                                    {{row.status}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="true"
                            [resizeable]="false"
                            prop="remarks"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Remarks</span>
                            </ng-template>

                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.remarks}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                            [sortable]="false"
                            [resizeable]="false"
                        >
                            <ng-template ngx-datatable-header-template>
                                <span>Action</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a style="cursor: pointer">
                                    <button 
                                        class="btn btn-sm btn-ssm"
                                        *ngIf="row.task_type == 'New Registration'"
                                        (click)="openModal(newRegistration, row)"
                                    >
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- New registration approval modal -->
<ng-template #newRegistration>
    <div class="modal-header bg-ssm">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            New Registration Approval
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <h6 class="heading-small text-muted mb-4">Applicant Personal Information</h6>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">Email Address</label>
                    <input class="form-control" [value]="selectedTask.email_address" disabled>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">Full Name</label>
                    <input class="form-control" [value]="selectedTask.name" disabled>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">IC No.</label>
                    <input class="form-control" [value]="" disabled>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">Position or Grade</label>
                    <input class="form-control" [value]="selectedTask.item.position_or_grade" disabled>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="form-control-label">Tel No.</label>
                    <input class="form-control" [value]="selectedTask.item.phone_number" disabled>
                </div>
            </div>
        </div>

        <h6 class="heading-small text-muted mb-4">Admin Action</h6>
        <form [formGroup]="registrationForm">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label">Package</label>
                        <select 
                            class="form-control"
                            formControlName="package"
                            [ngClass]="{'is-invalid': registrationForm.controls.package.invalid && registrationForm.controls.package.touched}"
                        >
                            <option selected hidden value="null">Please select package</option>
                            <option value="1">Package 1</option>
                            <option value="2">Package 2</option>
                            <option value="3">Package 3</option>
                            <option value="4">Package 4</option>
                        </select>

                        <ng-container *ngFor="let message of registrationFormMessages.package">
                            <div *ngIf="registrationForm.get('package').hasError(message.type) && (registrationForm.get('package').dirty || registrationForm.get('package').touched)">
                                <p class="error-message"><span>{{ message.message }}</span></p>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label">Quota</label>
                        <input 
                            class="form-control" 
                            formControlName="quota"
                            [ngClass]="{'is-invalid': registrationForm.controls.quota.invalid && registrationForm.controls.quota.touched}"
                        >

                        <ng-container *ngFor="let message of registrationFormMessages.quota">
                            <div *ngIf="registrationForm.get('quota').hasError(message.type) && (registrationForm.get('quota').dirty || registrationForm.get('position_or_grade').touched)">
                                <p class="error-message"><span>{{ message.message }}</span></p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label">Expiry Date</label>
                        <input class="form-control" type="date" formControlName="expired_date">

                        <ng-container *ngFor="let message of registrationFormMessages.expired_date">
                            <div *ngIf="registrationForm.get('expired_date').hasError(message.type) && (registrationForm.get('expired_date').dirty || registrationForm.get('expired_date').touched)">
                                <p class="error-message"><span>{{ message.message }}</span></p>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label">Remarks</label>
                        <select 
                            class="form-control"
                            [(ngModel)]="eGovRegRemarks"
                            [ngModelOptions]="{standalone: true}"
                            (change)="onRemarksChange($event)"
                        >
                            <option selected hidden value="null">Please select remarks</option>
                            <option value="Attachment incomplete">Attachment incomplete</option>
                            <option value="Head of department details">Head of department details</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="isRemarksOthers">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Remarks</label>
                        <textarea class="form-control" formControlName="remarks"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer text-center">
        <button 
            class="btn btn-ssm rounded-pill" 
            type="button" 
            (click)="approveRegistration()"
            [disabled]="!registrationForm.valid">
            Approve
        </button>

        <button 
            class="btn btn-outline-ssm ml-1 rounded-pill" 
            data-dismiss="modal" 
            type="button" 
            (click)="rejectRegistration()"
        >
            Reject
        </button>

        <button 
            class="btn btn-outline-ssm ml-1 rounded-pill" 
            data-dismiss="modal" 
            type="button" 
            (click)="closeModal()"
        >
            Close
        </button>
    </div>
</ng-template>