<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Report</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-align-left text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Product </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Report
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="text-right">
                        <button class="btn btn-default" (click)="openModal(updateSasaran)">
                            Update Sasaran
                        </button>
                        <div class="dropdown" dropdown placement="bottom-right">
                            <button class="btn btn-outline-default dropdown-toggle" type="button"
                                id="dropdownMenuButton" dropdownToggle>
                                Export
                            </button>
                            <div aria-labelledby="dropdownMenuButton" *dropdownMenu
                                class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" (click)="exportExcel()">Excel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-striped" id="productReportTable">
                        <thead style="border-bottom: 2px solid black;">
                            <tr>
                                <th rowspan="2" class="text-center" style="background-color: #b5f0aa;">Bulan
                                </th>
                                <th rowspan="2" class="text-center" style="background-color: #b5f0aa;">
                                    Perkara</th>
                                <th rowspan="2" class="text-center" style="background-color: #b5f0aa;">Portal
                                </th>
                                <th colspan="2" class="text-center" style="background-color: #78c7e3;">Jumlah
                                    (Cumulative)</th>
                                <th colspan="6" class="text-center" style="background-color: #ff7ae7;">
                                    Variance Analysis
                                </th>
                            </tr>
                            <tr>
                                <th class="text-center" style="background-color: #78c7e3;">Transaksi</th>
                                <th class="text-center" style="background-color: #78c7e3;">RM</th>
                                <th class="text-center" style="background-color: #93f5e1;">Compare with
                                    sasaran</th>
                                <th class="text-center" style="background-color: #93f5e1;">%</th>
                                <th class="text-center" style="background-color: #4797ff;">Compare with 2019
                                </th>
                                <th class="text-center" style="background-color: #4797ff;">%</th>
                                <th class="text-center" style="background-color: #ffa56e;">Cumulative
                                    Performance</th>
                                <th class="text-center" style="background-color: #ffa56e;">%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of listData">
                                <!-- <tr *ngFor="let data for listData"> -->
                                <td>{{data.bulan}}</td>
                                <td>{{data.perkara}}</td>
                                <td>{{data.portal}}</td>
                                <td>{{data.transaksi}}</td>
                                <td>{{data.rm}}</td>
                                <td>{{data.compareSasaran2020}}</td>
                                <td>{{data.cs1percent}}</td>
                                <td>{{data.compare2019}}</td>
                                <td>{{data.cs2percent}}</td>
                                <td>{{data.cumPerformance}}</td>
                                <td>{{data.cpPercent}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #updateSasaran>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Update Sasaran
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">Select Year</label>
                    <select class="form-control">
                        <option>2020</option>
                        <option>2019</option>
                        <option>2018</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">January</label>
                    <input class="form-control" type="number">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">February</label>
                    <input class="form-control" type="number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">March</label>
                    <input class="form-control" type="number">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">April</label>
                    <input class="form-control" type="number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">May</label>
                    <input class="form-control" type="number">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">June</label>
                    <input class="form-control" type="number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">July</label>
                    <input class="form-control" type="number">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">August</label>
                    <input class="form-control" type="number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">September</label>
                    <input class="form-control" type="number">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">October</label>
                    <input class="form-control" type="number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">November</label>
                    <input class="form-control" type="number">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">December</label>
                    <input class="form-control" type="number">
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer text-center">
        <button class="btn btn-outline-ssm" (click)="SubmitSasaran()">
            Submit
        </button>
        <button class="btn btn-outline-ssm" data-dismiss="modal" type="button" (click)="closeModal()">
            Close
        </button>
    </div>
</ng-template>