<div class="wrapper">
    <div class="cd-section">
        <div class="section features-7">
            <div class="container mt-6">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="display-3">Notifications</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-9">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="table">
                        <table class="table table-striped">
                            <thead class="text-primary">
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td>16/08/2020</td>
                                    <td>8.00 pm</td>
                                    <td>Your purchase has expired</td>
                                </tr>

                                <tr>
                                    <td>14/08/2020</td>
                                    <td>11.02 am</td>
                                    <td>You have successfully purchase product</td>
                                </tr>

                                <tr>
                                    <td>13/08/2020</td>
                                    <td>8.18 am</td>
                                    <td>You have been resupplied document on 13/08/2020 8:00 P.M</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>