<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
        <div class="page-header page-header-small header-filter-white">
            <div class="page-header-image" style="
            background-image: url('assets/img/banner/banner-kjakp-enquiry.png');
          "></div>
            <div class="container">
                <div class="header-body text-center mb-9">
                    <div class="row justify-content-center">
                        <div class="col">
                            <h1 class="text-ssm font-weight-bolder" style="font-size: 3.0rem;">ENQUIRY DETAILS</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section mt--9">
        <div class="container">
            <p class="cursor-pointer" (click)="navigatePage('/enquiry/history')"><i class="fas fa-angle-double-left"></i> Back to previous page</p>
            <h2>{{ticket.ticket_no}}</h2>
            <div class="accordion" id="accordionExample" *ngFor="let log of ticketLog">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button *ngIf="log.status == 'In Progress - Response Required'"
                                aria-controls="collapseOne"
                                class="btn btn-link w-100 text-ssm text-left"
                                [attr.aria-expanded]="!isCollapsed" 
                                (click)="collapse(); updateRead()"
                                id="collapseOne"
                                type="button">
                                <span id="text_response" #text_response *ngIf="!log.read" class="text-danger">
                                    {{log.date}} - {{log.status}}
                                </span>
                                <span *ngIf="log.read" >
                                    {{log.date}} - {{log.status}}
                                </span>
                                
                            
                                <i class="ni ni-bold-down float-right pt-1"> </i>
                            </button>
                            <button *ngIf="log.status != 'In Progress - Response Required'"
                                aria-controls="collapseOne"
                                class="btn btn-link w-100 text-ssm text-left"
                                [attr.aria-expanded]="!isCollapsed" 
                                (click)="isCollapsed = !isCollapsed"
                                id="collapseOne"
                                type="button">
                                {{log.date}} 
                                <span *ngIf="log.status">
                                    - {{log.status}}
                                </span>
                                
                                <i class="ni ni-bold-down float-right pt-1"> </i>
                            </button>
                        </h5>
                    </div>
                    <div 
                        aria-labelledby="headingOne"
                        class="show"
                        data-parent="#accordionExample"
                        [isAnimated]="true"
                        [collapse]="!isCollapsed"
                        id="collapseOne">
                        <div class="card-body opacity-8">
                            {{log.message}}

                            <div *ngIf="log.status == 'In Progress - Response Required'">
                                <form [formGroup]="replyForm">
                                    <div class="form-group">
                                        <label class="form-control-label">Response</label>
                                        <span class="text-red"> * </span>
                                        <span *ngIf="log.read == true"><textarea class="form-control" formControlName="message" disabled></textarea></span>
                                        <span *ngIf="log.read == false"><textarea class="form-control" formControlName="message" ></textarea></span>
                                    </div>
                                    <div class="form-group" hidden>
                                        <input class="form-control" formControlName="reply_id" >{{log.id}}
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Attachment</label>
                                        <span class="text-red"> * </span>
                                        <div class="custom-file">
                                            <input *ngIf="log.read == true"
                                                type="file" 
                                                class="custom-file-input cursor-pointer" 
                                                id="files" 
                                                lang="en"
                                                (change)="onFileChange($event)"
                                                accept=".doc, .docx, .jpg, .jpeg, .png, .pdf"
                                            disabled/>
                                            <input *ngIf="log.read == false"
                                                type="file" 
                                                class="custom-file-input cursor-pointer" 
                                                id="files" 
                                                lang="en"
                                                (change)="onFileChange($event)"
                                                accept=".doc, .docx, .jpg, .jpeg, .png, .pdf"
                                            />
                                            <label class="custom-file-label" for="files">Select file</label>
            
                                            <ng-container *ngIf="files.length > 0">
                                                <div *ngFor="let file_ of files">
                                                    <i 
                                                        class="fas fa-trash-alt text-warning mr-2"
                                                        placement="top" 
                                                        tooltip="Remove attachment"
                                                        (click)="removeFile(file_)"
                                                    >
                                                    </i>
                                                    {{file_['name']}} [{{file_['size']/1000000 | number: '1.2-2'}}MB]
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </form>
                                    

                                <div class="text-right pt-2">
                                    <button class="btn btn-ssm rounded-pill"
                                        (click)="replyTicket(log.index); clicked=true"
                                        [disabled]="!replyForm.valid || clicked"
                                    >
                                        Reply
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>