<ngx-loading-bar ref="http"></ngx-loading-bar>
<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
        <div class="page-header page-header-small header-filter-white">
            <div class="page-header-image" style="background-image: url('assets/img/background/putrajaya-4.jpg')"></div>
            <div class="container mb--4">
                <div class="header-body text-center mb-9">
                    <div class="row justify-content-center">
                        <h1 class="text-ssm font-weight-bolder">eGOV</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-3 mt--7 mb-4" id="pricing-4">
        <div class="container">
            <div class="card card-profile" data-background="full">
                <a href="javascript:;">
                    <img
                        class="img img-raised rounded"
                        [src]="egovBanner"
                    />
                </a>
                
                <div class="card-body text-center">
                    <h1 class="mt-1 mb-b">Welcome to eGov</h1>
                    <h3 class="mt-0 mb-3">Sign up to continue</h3>
                    <button class="btn btn-ssm btn-block" (click)="openRegistration()">
                        Sign up
                    </button>
                    <div class="row mt-2">
                        <div class="col">
                            <button class="btn btn-ssm btn-block">
                                Terms & Conditions
                            </button>
                        </div>

                        <div class="col">
                            <button class="btn btn-ssm btn-block">
                                User Manual
                            </button>
                        </div>

                        <div class="col">
                            <button class="btn btn-ssm btn-block">
                                FAQ
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-3 mt-4 mb-5" id="pricing-4" *ngIf="isSignUp == true">
        <div class="container" #formRegistration>
            <h3 class="title font-weight-bolder">eGov Sign Up Form</h3>
            <form [formGroup]="registerForm">
                <div class="px-2 row">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Email Address</label>
                                    <input 
                                        class="form-control" 
                                        placeholder="Enter Email Address"
                                        value="aminred@pipe.gov.my"
                                        disabled
                                    />
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Full name</label>
                                    <input 
                                        class="form-control" 
                                        value="Amin Redzuan" 
                                        disabled
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">IC No.</label>
                                    <input 
                                        class="form-control" 
                                        placeholder="Enter IC no."
                                        value="940122065189"
                                        disabled
                                    />
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Position Or Grade 
                                        <span class="error-message">*</span>
                                    </label>
                                    <input 
                                        class="form-control" 
                                        placeholder="Enter position or grade"
                                        formControlName="position_or_grade" 
                                        [ngClass]="{'is-invalid': registerForm.controls.position_or_grade.invalid && registerForm.controls.position_or_grade.touched}"
                                    />
                                </div>
                                
                                <ng-container *ngFor="let message of registerFormMessages.position_or_grade">
                                    <div *ngIf="registerForm.get('position_or_grade').hasError(message.type) && (registerForm.get('position_or_grade').dirty || registerForm.get('position_or_grade').touched)">
                                        <p class="error-message"><span>{{ message.message }}</span></p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Tel. No.</label>
                                    <input 
                                        class="form-control" 
                                        placeholder="Enter tel. no."
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Head of department name
                                        <span class="error-message">*</span>
                                    </label>
                                    <input 
                                        class="form-control"
                                        placeholder="Enter head of department name"
                                        formControlName="head_of_department_name" 
                                        [ngClass]="{'is-invalid': registerForm.controls.head_of_department_name.invalid && registerForm.controls.head_of_department_name.touched}"
                                    />

                                    <ng-container *ngFor="let message of registerFormMessages.head_of_department_name">
                                        <div *ngIf="registerForm.get('head_of_department_name').hasError(message.type) && (registerForm.get('head_of_department_name').dirty || registerForm.get('head_of_department_name').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Head of department position
                                        <span class="error-message">*</span>
                                    </label>
                                    <input 
                                        class="form-control"
                                        placeholder="Enter head of department position"
                                        formControlName="head_of_department_position" 
                                        [ngClass]="{'is-invalid': registerForm.controls.head_of_department_position.invalid && registerForm.controls.head_of_department_position.touched}"
                                    />

                                    <ng-container *ngFor="let message of registerFormMessages.head_of_department_position">
                                        <div *ngIf="registerForm.get('head_of_department_position').hasError(message.type) && (registerForm.get('head_of_department_position').dirty || registerForm.get('head_of_department_position').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Head of department email
                                        <span class="error-message">*</span>
                                    </label>
                                    <input 
                                        class="form-control"
                                        placeholder="Enter head of department email"
                                        formControlName="head_of_department_email" 
                                        [ngClass]="{'is-invalid': registerForm.controls.head_of_department_email.invalid && registerForm.controls.head_of_department_email.touched}"
                                    />

                                    <ng-container *ngFor="let message of registerFormMessages.head_of_department_email">
                                        <div *ngIf="registerForm.get('head_of_department_email').hasError(message.type) && (registerForm.get('head_of_department_email').dirty || registerForm.get('head_of_department_email').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Ministry Name
                                        <span class="error-message">*</span>
                                    </label>
                                    <select 
                                        class="form-control"
                                        formControlName="ministry_name" 
                                        [ngClass]="{'is-invalid': registerForm.controls.ministry_name.invalid && registerForm.controls.ministry_name.touched}"
                                    >
                                        <option selected hidden value="null">Please select</option>
                                        <option *ngFor="let option of ministries" value="{{option.name}}">
                                            {{option.name}}
                                        </option>
                                    </select>

                                    <ng-container *ngFor="let message of registerFormMessages.ministry_name">
                                        <div *ngIf="registerForm.get('ministry_name').hasError(message.type) && (registerForm.get('ministry_name').dirty || registerForm.get('position_or_grade').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Department / Agency name
                                        <span class="error-message">*</span>
                                    </label>
                                    <select 
                                        class="form-control" 
                                        formControlName="department_name"
                                        [ngClass]="{'is-invalid': registerForm.controls.department_name.invalid && registerForm.controls.department_name.touched}"
                                    >
                                        <option selected hidden value="null">Please select</option>
                                        <ng-container
                                            *ngFor="let option of departments"
                                        >
                                            <option value="{{option.name}}" *ngIf="option['ministry']['name'] == registerForm.value['ministry_name']">
                                                {{option.name}}
                                            </option>
                                        </ng-container>
                                    </select>

                                    <ng-container *ngFor="let message of registerFormMessages.department_name">
                                        <div *ngIf="registerForm.get('department_name').hasError(message.type) && (registerForm.get('department_name').dirty || registerForm.get('department_name').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Division / Section / Unit Name
                                        <span class="error-message">*</span>
                                    </label>
                                    <input 
                                        class="form-control"
                                        placeholder="Division Name"
                                        formControlName="division_name" 
                                        [ngClass]="{'is-invalid': registerForm.controls.division_name.invalid && registerForm.controls.division_name.touched}"
                                    />

                                    <ng-container *ngFor="let message of registerFormMessages.division_name">
                                        <div *ngIf="registerForm.get('division_name').hasError(message.type) && (registerForm.get('division_name').dirty || registerForm.get('division_name').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address line 1
                                        <span class="error-message">*</span>
                                    </label>
                                    <input 
                                        class="form-control" 
                                        placeholder="Enter address line 1"
                                        formControlName="address_1"
                                        [ngClass]="{'is-invalid': registerForm.controls.address_1.invalid && registerForm.controls.address_1.touched}"
                                    />

                                    <ng-container *ngFor="let message of registerFormMessages.address_1">
                                        <div *ngIf="registerForm.get('address_1').hasError(message.type) && (registerForm.get('address_1').dirty || registerForm.get('address_1').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address line 2</label>
                                    <input 
                                        class="form-control" 
                                        placeholder="Enter address line 2"
                                        formControlName="address_2"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address line 3</label>
                                    <input 
                                        class="form-control" 
                                        placeholder="Enter address line 3"
                                        formControlName="address_3"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Postcode
                                        <span class="error-message">*</span>
                                    </label>
                                    <input 
                                        class="form-control" 
                                        placeholder="Potcode"
                                        formControlName="postcode"
                                        type="number"
                                        [ngClass]="{'is-invalid': registerForm.controls.postcode.invalid && registerForm.controls.postcode.touched}"
                                    />

                                    <ng-container *ngFor="let message of registerFormMessages.postcode">
                                        <div *ngIf="registerForm.get('postcode').hasError(message.type) && (registerForm.get('postcode').dirty || registerForm.get('postcode').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                                
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">City
                                        <span class="error-message">*</span>
                                    </label>
                                    <input 
                                        class="form-control" 
                                        placeholder="Enter city"
                                        formControlName="city"
                                        [ngClass]="{'is-invalid': registerForm.controls.city.invalid && registerForm.controls.city.touched}"
                                    />

                                    <ng-container *ngFor="let message of registerFormMessages.city">
                                        <div *ngIf="registerForm.get('city').hasError(message.type) && (registerForm.get('city').dirty || registerForm.get('city').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">State
                                        <span class="error-message">*</span>
                                    </label>
                                    <select 
                                        class="form-control" 
                                        placeholder="Enter state"
                                        formControlName="state"
                                        [ngClass]="{'is-invalid': registerForm.controls.state.invalid && registerForm.controls.state.touched}"
                                    >
                                        <option hidden selected value="null">Please select</option>
                                        <option value="Perlis">Perlis</option>
                                        <option value="Kedah">Kedah</option>
                                        <option value="Pulau Pinang">Pulau Pinang</option>
                                        <option value="Kelantan">Kelantan</option>
                                        <option value="Terengganu">Terengganu</option>
                                        <option value="Perak">Perak</option>
                                        <option value="Selangor">Selangor</option>
                                        <option value="Pahang">Pahang</option>
                                        <option value="Negeri Sembilan">Negeri Sembilan</option>
                                        <option value="Melaka">Melaka</option>
                                        <option value="Johor">Johor</option>
                                        <option value="Sabah">Sabah</option>
                                        <option value="Sarawak">Sarawak</option>
                                        <option value="W.P. Labuan">W.P. Labuan</option>
                                        <option value="W.P. Kuala Lumpur">W.P. Kuala Lumpur</option>
                                        <option value="W.P. Putrajaya">W.P. Putrajaya</option>
                                    </select>

                                    <ng-container *ngFor="let message of registerFormMessages.state">
                                        <div *ngIf="registerForm.get('state').hasError(message.type) && (registerForm.get('state').dirty || registerForm.get('state').touched)">
                                            <p class="error-message"><span>{{ message.message }}</span></p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Attachment (Official Letter from Government Agency)
                                        <span class="error-message">  *PDF format ONLY, 5MB maximum.</span>
                                    </label>
                                    <div class="custom-file">
                                        <input 
                                            type="file" 
                                            class="custom-file-input" 
                                            id="files" 
                                            lang="en"
                                            (change)="onFileChange($event)" 
                                            accept=".pdf"
                                            data-max-size="5000000"
                                            [ngClass]="{'is-invalid': registerForm.controls.attachment_letter.invalid && registerForm.controls.attachment_letter.touched}"
                                        />
                                        <label class="custom-file-label" for="files">Select file</label>
                                    </div>

                                    <ng-container *ngIf="registerForm.value['attachment_letter']">
                                        <div>
                                            <i 
                                                class="fas fa-trash-alt text-warning mr-2"
                                                placement="top" 
                                                tooltip="Remove attachment"
                                                (click)="removeFile()"
                                            >
                                            </i>
                                            {{fileName}} [{{fileSize/1000000 | number: '1.2-2'}}MB]
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p class="">* Mandatory fields.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input 
                                        type="checkbox" 
                                        class="custom-control-input" 
                                        id="checkRegistration" 
                                        [(ngModel)]="isAgree"
                                        [ngModelOptions]="{standalone: true}"
                                    />
                                    <label class="custom-control-label" for="checkRegistration">
                                        By registering, you agree to
                                        our Terms of Service and
                                        Privacy Policy.
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2 mb-4 text-right">
                            <div class="col-12 text-left mb-5 pt-3">
                                <button 
                                    class="btn btn-ssm btn-round" 
                                    (click)="register()"
                                    [disabled]="!registerForm.valid || !isAgree"
                                >
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <div class="section mt-2">
        <div class="container">
            <h1 class="title font-weight-bolder text-ssm">PACKAGES</h1>
            <!-- <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </h5> -->
            <div class="row pt-3">
                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 1</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile without Company
                                Charges and Financial charges
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Business Profile
                            </p>

                            <img class="icon-size img-center" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample)">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 2</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Business Profile
                            </p>

                            <img class="icon-size img-center" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample)">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 3</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Business Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Statutory Document Images
                            </p>

                            <img class="icon-size img-center mt-4" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample)">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 4</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Business Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Statutory Document Images
                            </p>
                            <img class="icon-size img-center" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample)">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #productSample>
    <div class="modal-header bg-ssm">
        <h4 class="modal-title text-white my-auto" id="modal-title-default">
            Product Sample
        </h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body px-auto">
        <div class="row mt-2 mb-3">
            <div class="col text-center">
                <button class="btn btn-ssm">ROC</button>
            </div>
            <div class="col text-center">
                <button class="btn btn-ssm">ROB</button>
            </div>
        </div>
        <img style="width: 85%" class="d-flex mx-auto" src="assets/img/default/sample.png" />
    </div>
</ng-template>

<ng-template #packageModal>
    <!-- <div class="modal-header bg-ssm">
      <h4 class="modal-title text-white my-auto" id="modal-title-default">
        Product Sample
      </h4>
  
      <button
        aria-label="Close"
        class="close"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        <span aria-hidden="true" class="text-white my-auto"> × </span>
      </button>
    </div> -->

    <div class="modal-body px-auto">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center" (click)="navigatePage('/egov-details')">
                        <h1 class="text-ssm">Package 1 & 2</h1>
                        <h1 class="text-ssm">Only for reference on the flow</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center" (click)="navigatePage('/egov-details')">
                        <h1 class="text-ssm">Package 3 & 4</h1>
                        <h1 class="text-ssm">Only for reference on the flow</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>