<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
        <div class="page-header page-header-small header-filter-white">
            <div class="page-header-image" style="background-image: url('assets/img/background/putrajaya.jpg')"></div>
            <div class="container mb--4">
                <div class="header-body text-center mb-9">
                    <div class="row justify-content-center">
                        <h1 class="text-ssm font-weight-bolder">eGOV</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-3 mt-3 mb-4" id="pricing-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pr-md-0">
                    <div class="card card-pricing my-3 bg-ssm">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col">
                                    <form [formGroup]="authSignInForm">
                                        <div *ngIf="user.user_type == 'EG'">
                                            <h1 class="display-3 mb-0 text-white">
                                                WELCOME BACK
                                            </h1>
                                            <p class="lead pb-4 mt-0 text-white">Login to continue</p>
                                        </div>
                                        <div *ngIf="user.user_type != 'EG'">
                                            <h1 class="display-3 mb-0 text-white">
                                                WELCOME to eGOV
                                            </h1>
                                            <p class="lead pb-4 mt-0 text-white">Sign up to continue</p>
                                        </div>
                                        <div class="row row-input">
                                        </div>
                                    </form>

                                    <div class="row">
                                        <div class="col" *ngIf="user.user_type == 'EG'">
                                            <button class="btn btn-secondary btn-block" (click)="signIn()">
                                                Login
                                            </button>
                                        </div>
                                        <div class="col" *ngIf="user.user_type != 'EG'">
                                            <button class="btn btn-secondary btn-block" (click)="signUp()">
                                                Sign up
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="
              padding-right: 0px !important;
              padding-left: 0px !important;
            ">
                    <div class="example" style="padding-top: 150px">
                        <p class="title font-weight-bolder" style="font-size: 3.5em; color: white">
                            <b>eGOV</b>
                        </p>
                        <p class="title font-weight-bolder pt--4 mt--5" style="font-size: 2.5em; color: white">
                            <span *ngIf="user.user_type == 'EG'">
                                Login
                            </span>
                            <span *ngIf="user.user_type != 'EG'">
                                Sign Up
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-3 mt-4 mb-5" id="pricing-4" *ngIf="isSignUp == true">
        <div class="container">
            <h3 class="title font-weight-bolder">eGovernment Sign Up Form</h3>
            <form [formGroup]="signUpForm">
                <div class="px-2 row">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Email Address</label>
                                    <input class="form-control" placeholder="Enter Email Address"
                                        formControlName="email" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Full name</label>
                                    <input class="form-control" placeholder="Enter full name"
                                        formControlName="full_name" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">IC No.</label>
                                    <input class="form-control" placeholder="Enter IC no."
                                        formControlName="nric_number" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Position Or Grade</label>
                                    <input class="form-control" placeholder="Position Or Grade"
                                        formControlName="position_or_grade" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Tel. No.</label>
                                    <input class="form-control" placeholder="Enter tel. no."
                                        formControlName="phone_number" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Head of department name
                                        <span class="text-warning">*</span>
                                    </label>
                                    <input class="form-control" placeholder="Enter head of department name"
                                        formControlName="head_of_department_name" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Head of department position
                                        <span class="text-warning">*</span>
                                    </label>
                                    <input class="form-control" placeholder="Enter head of department position"
                                        formControlName="head_of_department_position" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Head of department email
                                        <span class="text-warning">*</span>
                                    </label>
                                    <input class="form-control" placeholder="Enter head of department email"
                                        formControlName="head_of_department_email" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Ministry Name
                                        <span class="text-warning">*</span>
                                    </label>
                                    <select class="form-control" placeholder="Enter Ministry Name"
                                        formControlName="ministry_name" [(ngModel)]="ministry"
                                        (checkAgency)="onChange($event)">
                                        <option *ngFor="let option of ministryOptions" value="{{option.name">
                                            {{option.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Department / Agency name
                                        <span class="text-warning">*</span>
                                    </label>
                                    <select class="form-control" formControlName="agency_name">
                                        <option *ngFor="let option of departmentOptions" value="{{option.department">
                                            {{option.department}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Division / Section / Unit Name</label>
                                    <input class="form-control" placeholder="Division Name"
                                        formControlName="division_name" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address line 1</label>
                                    <input class="form-control" placeholder="Enter address line 1"
                                        formControlName="company_address_1" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address line 2</label>
                                    <input class="form-control" placeholder="Enter address line 2"
                                        formControlName="company_address_2" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address line 3</label>
                                    <input class="form-control" placeholder="Enter address line 3"
                                        formControlName="company_address_3" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Postcode</label>
                                    <input class="form-control" placeholder="Enter postcode"
                                        formControlName="company_postcode" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">City</label>
                                    <input class="form-control" placeholder="Enter city"
                                        formControlName="company_city" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">State</label>
                                    <input class="form-control" placeholder="Enter state"
                                        formControlName="company_state" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">Attachment (Official Letter from eGov)
                                        <span class="text-warning">  *PDF format ONLY, 5MB maximum.</span>
                                    </label>
                                    <input type="file" class="form-control" placeholder="Select File" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" />
                                    <label class="custom-control-label" for="customCheck1">By registering, you agree to
                                        our Terms of Service and
                                        Privacy Policy.</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2 mb-4 text-right">
                            <div class="col-12 text-left mb-5 pt-3">
                                <button class="btn btn-ssm btn-round" (click)="signUpUser()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <div class="section mt--9">
        <div class="container">
            <h3 class="title font-weight-bolder">eGOVERNMENT</h3>
            <h1 class="title font-weight-bolder text-ssm">PACKAGE</h1>
            <!-- <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </h5> -->
            <div class="row pt-3">
                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 1</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile without Company
                                Charges and Financial charges
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Business Profile
                            </p>

                            <img class="icon-size img-center" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample)">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 2</h3>
                            <h4 class="mt-0 text-white">view only</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Business Profile
                            </p>

                            <img class="icon-size img-center" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample)">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 3</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Business Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Statutory Document Images
                            </p>

                            <img class="icon-size img-center mt-4" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample)">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-project bg-ssm p-1 package">
                        <div class="card-body bg-ssm p-1">
                            <h3 class="card-title mt-3 mb-0 text-white">PACKAGE 4</h3>
                            <h4 class="mt-0 text-white">view & download</h4>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Company Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Business Profile
                            </p>
                            <p class="text-white font-small">
                                <i class="fas fa-check"></i> Statutory Document Images
                            </p>
                            <img class="icon-size img-center" src="assets/img/icons/statistics.svg" />

                            <p class="text-white font-small">
                                <!-- Business Profile & Statutory Document Images -->
                            </p>

                            <div class="card-footer">
                                <button class="btn btn-link text-ssm btn-round" type="button"
                                    (click)="openModal(productSample)">
                                    View Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #productSample>
    <div class="modal-header bg-ssm">
        <h4 class="modal-title text-white my-auto" id="modal-title-default">
            Product Sample
        </h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body px-auto">
        <div class="row mt-2 mb-3">
            <div class="col text-center">
                <button class="btn btn-ssm">ROC</button>
            </div>
            <div class="col text-center">
                <button class="btn btn-ssm">ROB</button>
            </div>
        </div>
        <img style="width: 85%" class="d-flex mx-auto" src="assets/img/default/sample.png" />
    </div>
</ng-template>

<ng-template #packageModal>
    <!-- <div class="modal-header bg-ssm">
      <h4 class="modal-title text-white my-auto" id="modal-title-default">
        Product Sample
      </h4>
  
      <button
        aria-label="Close"
        class="close"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        <span aria-hidden="true" class="text-white my-auto"> × </span>
      </button>
    </div> -->

    <div class="modal-body px-auto">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center" (click)="navigatePage('/egov-details')">
                        <h1 class="text-ssm">Package 1 & 2</h1>
                        <h1 class="text-ssm">Only for reference on the flow</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center" (click)="navigatePage('/egov-details')">
                        <h1 class="text-ssm">Package 3 & 4</h1>
                        <h1 class="text-ssm">Only for reference on the flow</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>