<div class="wrapper">
    <div class="container pt-9 pb-3">
        <h3 class="title font-weight-bolder">CUSTOMIZED DATA</h3>
        <h1 class="title font-weight-bolder text-ssm">PRODUCT PACKAGES</h1>
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </h5>

        <div class="row pt-3">
            <div class="col-lg-3 col-md-6">
                <div class="card card-project bg-ssm p-1">
                    <div class="card-body bg-ssm p-1">
                        <h3 class="card-title mt-3 text-white">PACKAGE A</h3>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Company Information
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Registered Address
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Business Address
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Business Code
                        </p>

                        <img class="icon-size img-center" src="assets/img/icons/statistics.svg">
                        
                        <hr class="my-2 border-white" />

                        <p class="text-white font-small">
                            Company Detail
                        </p>

                        <div class="card-footer">
                            <button class="btn btn-link text-ssm btn-round" type="button">
                                View Sample
                            </button>

                            <button class="btn btn-link text-ssm btn-round" type="button">
                                Search Criteria
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card card-project bg-ssm p-1">
                    <div class="card-body bg-ssm p-1">
                        <h3 class="card-title mt-3 text-white">PACKAGE B</h3>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Company Information
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Company Directors
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Shareholders
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Business Code
                        </p>

                        <img class="icon-size img-center" src="assets/img/icons/statistics.svg">
                        
                        <hr class="my-2 border-white" />

                        <p class="text-white font-small">
                            Shares & Directors
                        </p>

                        <div class="card-footer">
                            <button class="btn btn-link text-ssm btn-round" type="button">
                                View Sample
                            </button>

                            <button class="btn btn-link text-ssm btn-round" type="button">
                                Search Criteria
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card card-project bg-ssm p-1">
                    <div class="card-body bg-ssm p-1">
                        <h3 class="card-title mt-3 text-white">PACKAGE C</h3>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Company Information
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Balance Sheet
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Profit & Loss
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Auditors
                        </p>

                        <img class="icon-size img-center" src="assets/img/icons/statistics.svg">
                        
                        <hr class="my-2 border-white" />

                        <p class="text-white font-small">
                            Profit & Loss
                        </p>

                        <div class="card-footer">
                            <button class="btn btn-link text-ssm btn-round" type="button">
                                View Sample
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6">
                <div class="card card-project bg-ssm p-1">
                    <div class="card-body bg-ssm p-1">
                        <h3 class="card-title mt-3 text-white">PACKAGE D</h3>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Company Information
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Charges
                        </p>
                        <p class="text-white font-small">
                            <i class="fas fa-check"></i> Document Lodgement
                        </p>

                        <img class="icon-size img-center mt-2" src="assets/img/icons/statistics.svg">
                        
                        <hr class="mb-2 border-white" />

                        <p class="text-white font-small">
                            Charges & Lodgement
                        </p>

                        <div class="card-footer">
                            <button class="btn btn-link text-ssm btn-round" type="button">
                                View Sample
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>