.font-small {
  font-size: 0.8rem;
}

.icon-size {
  max-width: 4rem;
}
.package {
  // width: 100%;
  // height: 440px;
  opacity: 0.4;
  background-size: cover;
  background-color: #005fed;
}

.package:before {
  // content: " ";
  position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  background-color: #5390e6;
  opacity: 0;
  position: relative;
  transition: 0.3s all;
}

.package:hover {
  opacity: 0.9;
  background-color: #005fed;
}
