<ngx-loading-bar></ngx-loading-bar>
<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">
						Product Management
					</h6>

					<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)">
									<i class="fas fa-align-left text-dark"></i>
								</a>
							</li>
							<li class="breadcrumb-item">
								<a href="javascript:void(0)" class="text-dark"> Product </a>
							</li>
							<li aria-current="page" class="breadcrumb-item active">
								Product Management
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header bg-secondary">
					<h3 class="m-0">Product List</h3>
				</div>
				<div class="dataTables_wrapper py-4">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="dataTables_length" id="datatable_length">
								<label>
									Show
									<select name="datatable_length" aria-controls="datatable"
										class="form-control form-control-sm" (change)="entriesChange($event)">
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="50">50</option>
										<option value="100">100</option>
										<option value="-1">All</option>
									</select>
									records
								</label>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
						</div>
					</div>

					<ngx-datatable 
						class="bootstrap" 
						[columnMode]="'force'" 
						[headerHeight]="50"
						[footerHeight]="50" 
						[rowHeight]="'auto'" 
						[limit]="tableEntries != -1 ? tableEntries : undefined"
						[rows]="tableTemp" 
						[scrollbarH]="true" 
					>
						<ngx-datatable-column
							[width]="100"
							[sortable]="true"
							[resizeable]="false"
							prop="id_index"
						>
							<ng-template ngx-datatable-header-template>
								<span>No.</span>
							</ng-template>

							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.id_index}}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							[width]="150"
							[sortable]="true"
							[resizeable]="false"
							prop="name"
						>
							<ng-template ngx-datatable-header-template>
								<span>Product</span>
							</ng-template>

							<ng-template let-row="row" ngx-datatable-cell-template>
								{{ row.name }}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							[width]="140"
							[sortable]="true"
							[resizeable]="false"
							prop="ctc"
						>
							<ng-template ngx-datatable-header-template>
								<span>CTC</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								<span class="badge badge-info" *ngIf="row.ctc">CTC</span>
								<span class="badge badge-info" *ngIf="!row.ctc">Non-CTC</span>
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							[width]="140"
							[sortable]="true"
							[resizeable]="false"
						>
							<ng-template ngx-datatable-header-template>
								<span>ROB/ROC</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								ROB/ROC
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column
							[width]="140"
							[sortable]="true"
							[resizeable]="false"
							prop="language"
						>
							<ng-template ngx-datatable-header-template>
								<span>Language</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								<div *ngIf="row.language =='EN'">BI</div>
								<div *ngIf="row.language =='MS'">BM</div>
								<div *ngIf="!row.language">-</div>
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Fee</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{ row.fee /100 | number:'1.2-2' }}
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Tax</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Tax Start Date</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Tax End Date</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Discount</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Discount Start Date</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Discount End Date</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Additional Charge Type</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Total</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>COA Description</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>COA Code</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Webservice</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Channel</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Status</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								N/A
							</ng-template>
						</ngx-datatable-column>

						<ngx-datatable-column>
							<ng-template ngx-datatable-header-template>
								<span>Action</span>
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								<a (click)="openModal(editModal, row)" style="cursor: pointer">
									<button class="btn btn-sm btn-info">
										<i class="fas fa-edit"></i>
									</button>
								</a>
							</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #editModal>
	<div class="modal-header bg-default">
		<h6 class="modal-title text-white my-auto" id="modal-title-default">
			Update Product
		</h6>

		<button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
			<span aria-hidden="true" class="text-white my-auto"> × </span>
		</button>
	</div>

	<div class="modal-body">
		<form [formGroup]="updateForm">
			<div class="form-group">
				<label class="form-control-label">Product Name</label>
				<input class="form-control" formControlName="name">
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-success" type="button" (click)="update()">
			Update
		</button>

		<button class="btn btn-outline-danger ml-auto" data-dismiss="modal" type="button" (click)="closeModal()">
			Close
		</button>
	</div>
</ng-template>