<div class="wrapper">
    <div class="cd-section">
        <div class="section features-7">
            <div class="container mt-6">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="display-3">CBID Application Form</h4>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-control-label">Entities</label>
                            <select class="form-control" placeholder="Enter ">
                                <option selected>ROB</option>
                                <option>ROC</option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <label class="form-control-label">Product</label>
                            <select class="form-control" placeholder="Enter ">
                                <option selected>Statistics</option>
                                <option>Listing</option>
                                <option>Both</option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <label class="form-control-input">Name</label>
                            <input class="form-control" placeholder="Enter name">
                        </div>
    
                        <div class="form-group">
                            <label class="form-control-input">Organisation</label>
                            <input class="form-control" placeholder="Enter organisation">
                        </div>
    
                        <div class="form-group">
                            <label class="form-control-input">Address</label>
                            <textarea class="form-control" placeholder="Enter address"></textarea>
                        </div>
    
                        <div class="form-group">
                            <label class="form-control-input">Email Address</label>
                            <input class="form-control" placeholder="Enter email address">
                        </div>
    
                        <div class="form-group">
                            <label class="form-control-input">Phone No.</label>
                            <input class="form-control" placeholder="Enter phone no.">
                        </div>
    
                        <div class="text-right">
                            <button class="btn btn-primary">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>              
        </div>
    </div>
</div>